<div class="alert text-white <%= class_for_alert_colour(content.colour) %>" role="alert">
  <div class="d-flex">
    <div class="p-2 align-self-center">
      <%= fa_icon(alert_icon(alert, 'fa-3x')) %>
    </div>
    <div class="p-2 align-self-center">
      <h5><%= dashboard_title %></h5>
    </div>
    <% if find_out_more %>
      <div class="ml-auto p-2">
        <%= link_to 'Find out more', school_find_out_more_path(school, find_out_more), class: 'btn btn-light btn rounded-pill font-weight-bold', role: 'button' %>
      </div>
    <% end %>
  </div>
</div>
