  <div class="row padded-row">
    <div class="col-md-12">
      <h3><%= fuel_type.nil? ? 'Holiday alerts: for today' : "#{fuel_type.capitalize} alerts: for #{nice_dates @alert_fuel_dates[fuel_type]}" %></h3>
      <% alerts.sort_by { |alert| alert.rating.nil? ? 99 : alert.rating }.each do |alert| %>

        <div class="card mb-3">
          <%= render 'schools/alerts/alert_header', alert: alert %>
          <%= render 'schools/alerts/alert_body', alert: alert, fuel_type: fuel_type %>
        </div>
      <% end %>
    </div>
  </div>

