<% content_for :page_title do %>Alert reports for <%= @school.name %><% end %>
<div class="row padded-row">
  <div class="col-md-12">
    <h1 property="name"><%= link_to @school.name, @school %> Alert notifications</h1>
    <p><%= link_to 'Alert Contacts', school_contacts_path(@school), class: 'btn btn-primary' %></p>
  </div>
</div>

<% if @latest_alerts.any? %>
  <h2>Latest alerts by type</h2>
  <%= render 'table', alerts: @latest_alerts, school: @school %>
<% else %>
  <p>No alerts</p>
<% end %>

<h2>Historic alerts</h2>
<p> ## Pending update ## </p>


