<%= render 'admin/reports/title', title: 'Manual read meters' %>
<p>Table listing meters set as manual reads.</p>
<p><%= link_to 'Download as CSV', admin_reports_manual_reads_path(format: :csv), class: 'btn' %></p>
<table class="table">
  <tr>
    <% @html_columns.each do |column| %>
      <th><%= column.name %></th>
    <% end %>
  </tr>
  <% @meters.find_each do |meter| %>
    <tr>
      <% @html_columns.each do |column| %>
        <td><%= column.td(meter) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
