div.container-fluid.adult {
  background: $adult-light;
}

div.container-fluid.pupil {
  background: white;
}

.dashboard-header-component {
  h1, h4 {
    padding-top: 0px;
  }
}

div.dashboard-header-component.pupil {
  #dashboard-header-school {
    background: $light;
  }
}

div.dashboard-header-component.adult {
  #dashboard-header-school {
    background: white;
  }
}
