<% if issue.issueable %>
  <span class="badge badge-secondary text-white" %>
    <%= issueable_icon(issue.issueable) %>
    <%= link_to issue.issueable.name, polymorphic_path([:admin, issue.issueable, Issue]), class: 'text-white text-decoration-none' %>
  </span>
<% end %>
