<% if issue.issueable %>
  <span class="badge badge-secondary text-white" %>
    <%= issueable_icon(issue.issueable) %>
    <%= link_to issue.issueable.name, url_for([:admin, issue.issueable, :issues]), class: 'text-white text-decoration-none' %>
  </span>
<% end %>