<% if issue.meters %>
  <% issue.meters.each do |meter| %>
    <span class="badge bg-light border border-primary">
      <%= link_to("#{fa_icon(fuel_type_icon(meter.meter_type))} #{meter.mpan_mprn}".html_safe,
                  school_meter_path(meter.school, meter),
                  title: meter.display_summary,
                  data: { toggle: 'tooltip' },
                  class: 'text-decoration-none') %>
    </span>
  <% end %>
<% end %>
