<div class="modal fade" id="meter-issues-<%= meter.id %>" tabindex="-1" role="dialog" aria-labelledby="#meter-issues-title" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<%= link_to admin_meter_issues_path(meter, redirect_back: redirect_back_path(params)),
            class: 'btn btn-sm text-nowrap',
            title: 'Issues',
            data: {
              toggle: 'modal',
              target: "#meter-issues-#{meter.id}",
              remote: true
            } do %>
            <% issue_type_icons(
                 meter.issues,
                 hide_empty: local_assigns[:view_mode],
                 label: local_assigns[:label]
               ) %>
<% end %>
