<span>
  <%= link_to "#{issue_type_icon(:issue)} New Issue".html_safe, new_polymorphic_path([:admin, issueable, :issue], issue_type: :issue, meter_ids: local_assigns[:meter_ids]), class: 'btn btn-primary btn-sm' %>
  <%= link_to "#{issue_type_icon(:note)} New Note".html_safe, new_polymorphic_path([:admin, issueable, :issue], issue_type: :note, meter_ids: local_assigns[:meter_ids]), class: 'btn btn-primary btn-sm' %>
</span>
