<% if issue.owned_by %>
  <span class="badge border border-primary rounded-pill fw-normal">
    <%= link_to (issue.owned_by == current_user ? 'You' : issue.owned_by.display_name),
                polymorphic_path([:admin, Issue], user: issue.owned_by_id),
                class: 'text-decoration-none' %>
  </span>
<% end %>
