<p>
  A "sudden change" here is defined as either:
</p>

<ul>
  <li>Large drop - A day where the baseload is 5x smaller than the previous day, and the previous day baseload was more than 0.5kw</li>
  <li>Drop to zero - A day where the baseload has dropped to near zero (between 0.0 and 0.01kW), and the previous day baseload was more than 0.5kW</li>
</ul>

<p>
  The 0.5kW condition is there to rule out meters where the usage is usually low or possibly intermittent (e.g. for a science block or other limited use area of a site).
</p>
