<%= tag.div id: id, class: classes do %>
  <table id="<%= @table_id %>" class="table table-sm advice-table">
    <thead>
      <tr>
        <th>School</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% rows.each do |row| %>
        <%= row %>
      <% end %>
    </tbody>
  </table>
<% end %>
