<div class="row">
  <div class="col">

    <h2>title: 'Title'</h2>

    <%= render TogglerDropdownComponent.new(title: 'Title') do %>
      Content in here
    <% end %>

    <h2>surround: false</h2>
    <p>Just renders content as if component not there</p>

    <%= render TogglerDropdownComponent.new(title: 'Title', surround: false) do %>
      Content in here
    <% end %>

  </div>
</div>
