<h1 class="mb-3">Your grant of consent to Energy Sparks</h1>

<p>
  Thank you for granting permission for Energy Sparks to access data for <%= @consent_grant.school.name %>.
</p>

<p>
  For your records, here is a record of the consent that you gave us:
</p>

<blockquote class="card bg-light">
  <div class="card-body">
    <%= @consent_grant.consent_statement.content %>
  </div>
</blockquote>

<p>
You can view our full <%= link_to 'terms and conditions', terms_and_conditions_url %> on our website.
</p>
