<h1>
  <%= t('schools.school_targets.progress.missing.tracking_progress_to_reduce_usage', fuel_type: @fuel_type.to_s.humanize(capitalize: false)) %>
</h1>
<p>
  <%= t('schools.school_targets.progress.missing.we_dont_have_a_record_of', fuel_type: @fuel_type.to_s.humanize(capitalize: false)) %>.
<p>
