<h1>Tracking progress to reduce your <%= @fuel_type.to_s.humanize(capitalize: false) %> energy usage</h1>

<p>We don't have a record of <%= @fuel_type.to_s.humanize(capitalize: false) %> being used at your school.<p>
