<h3>First ten warnings</h3>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Warning message</th>
        <th>Mpan Mprn</th>
        <th>Reading Date</th>
        <th colspan="48">Readings</th>
      </tr>
    </thead>
    <tbody>
      <% warnings.each do |row| %>
        <tr>
          <td><%= warnings_from_warning_types(row["warnings"]) %></td>
          <td><%= row["mpan_mprn"] %></td>
          <td><%= row["reading_date"] %></td>
          <% row["readings"].each do |reading| %>
            <td><%= reading %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
