<%= form_for(@school, url: onboarding_school_times_path(@school_onboarding)) do |f| %>
  <%= render 'schools/times/form', f: f %>
<% end %>

<div class="other-actions">
  <%= link_to 'Back', school_path(@school), class: 'btn btn-secondary' %>
</div>
