.advice-page-list-component {
  .exemplar_school {
    background-color: $exemplar-school;
    color: $white;
  }

  .benchmark_school {
    background-color: $benchmark-school;
    color: $white;
  }

  .other_school {
    background-color: $other-school;
    color: $white;
  }
}
