<%= render 'schools/advice/section_title', section_id: 'comparison', section_title: t('advice_pages.gas_long_term.insights.comparison.title') %>

<p>
  <%= t('advice_pages.gas_long_term.insights.comparison.how_do_you_compare', school_type: t('analytics.school_types.' + school.school_type)) %>
</p>

<%= render 'insights_benchmark_table', benchmarked_usage: benchmarked_usage %>

<% if school.school_group.present? %>
  <p>
    <%= t('advice_pages.gas_long_term.insights.comparison.more_detail_html', link: benchmark_for_school_group_path(:annual_heating_costs_per_floor_area, school)) %>
  </p>
<% end %>
