<h1>Calendars</h1>
<p>Click on show to select a calendar. You can then edit any events on the calendar, or add new ones.</p>
<p><b>Note:</b> - updating a National calendar with bank holidays, or Regional calendar with term times automatically updates any dependent calendars.</p>

<%= link_to 'New calendar', new_admin_calendar_path %>

<% if @national_calendars.any? %>
  <%= render 'national_calendars', calendars: @national_calendars, title: 'National calendars' %>
<% else %>
  <h2>There are no National calendars</h2>
<% end %>

<% if @regional_calendars.any? %>
  <%= render 'regional_calendars', calendars: @regional_calendars, title: 'Regional calendars' %>
<% else %>
  <h2>There are no Regional calendars</h2>
<% end %>

<% if @school_calendars.any? %>
  <h2>School calendars</h2>
  <%= render 'school_calendars', calendars: @school_calendars %>
<% else %>
  <h2>There are no Customised Calendars </h2>
<% end %>
