<div id="chart_wrapper_<%= content %>" class="pt-3 chart-wrapper">
  <%= render 'shared/analysis_controls' %>
  <h5 class="text-center"></h5>
  <%= chart_tag(school, content, show_advice: false, no_zoom: true, wrap: false) %>
</div>
