<div id="chart_wrapper_<%= content %>" class="pt-3 chart-wrapper">
  <%= render 'shared/analysis_controls', chart_type: content, axis_controls: true, analysis_controls: true %>
  <div class="dynamic-titles">
    <h5 class="text-center"></h5>
  </div>
  <%= component 'chart', no_zoom: true, chart_type: content, analysis_controls: true, school: @school, chart_config: create_chart_config(school, content, mpan_mprn) %>
</div>
