<div id="chart_wrapper_<%= content %>" class="pt-3 chart-wrapper">
  <div class="dynamic-titles">
    <h5 class="text-center"></h5>
  </div>
  <%= component 'chart',
                school: school,
                chart_type: content,
                no_zoom: true,
                chart_config: create_chart_config(school, content, mpan_mprn)
  %>
</div>
