<div class="row" id="nav-row">
  <ul class="nav nav-tabs">
    <% @nav_array.each do |nav| %>
      <% if can? :analyse, nav[:page].to_sym %>
        <li>
          <%= nav_link(nav[:name], school_analysis_tab_path(@school, tab: nav[:page])) %>
        </li>
      <% end %>
    <% end %>
    <% if can?(:analyse, :test) %>
      <!-- used for debug purposes -->
      <li><%= nav_link('Test', school_analysis_tab_path(tab: :test)) %></li>
    <% end %>

    <% if can?(:analyse, :heating_model_fitting) %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Heating Model Fitting</a>
        <div class="dropdown-menu">
          <% @aggregate_school.all_heat_meters.each do |heat_meter| %>
            <%= link_to heat_meter.mpan_mprn, school_analysis_tab_path(@school, tab: :heating_model_fitting, mpan_mprn: heat_meter.mpan_mprn), class: 'dropdown-item'%>
          <% end %>
        </div>
      </li>
    <% end %>

  </ul>
</div>
