<h1>Edit Scoreboard</h1>

<div class="row">
  <div class="col-sm-8">
    <%= render 'form', scoreboard: @scoreboard %>

      <div class="other-actions">
        <%= link_to 'Back', admin_scoreboards_path, class: 'btn btn-secondary' %>
    </div>
  </div>
  <div class="col-sm-4">
    <h2>Schools in this scoreboard</h2>
    <% if @schools.any? %>
      <ol>
        <% @schools.each do |school| %>
          <li><%= link_to school.name, edit_school_configuration_path(school) %></li>
        <% end %>
      </ol>
    <% else %>
      <p>No schools are assigned to this scoreboard</p>
    <% end %>
  </div>
</div>
