<% content_for :page_title, 'Latest activities' %>

<h1>Recently recorded interventions</h1>

<p>
  The following is a list of all energy saving actions recorded by school in the last 12 months  (since <%= nice_dates(1.year.ago) %>).
</p>

<p>Interventions with a <span class="text-success">Green link</span> are those where the school has
  provided a description. Others are shown as a <span class="text-muted">grey link</span> </p>
<p>

<%= render 'shared/observations', observations: @observations %>
