<% if !@equivalence.relevant? %>
  <div class="alert alert-warning">
    This equivalence will not be shown as one or more of the values is not significant enough (e.g. less than 1.0)
  </div>
<% end %>
<%= render 'pupils/schools/preview_equivalence', equivalence_content: @equivalence_content %>
