<%= form_for(PriceConfiguration.new, url: admin_price_configurations_path) do |f| %>
  <% if @errors.any? %>
    <div class="alert alert-block alert-danger">
      <ul>
        <% @errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label class="control-label">Electricity price</label>
    <%= f.text_field :electricity_price, value: PriceConfiguration.electricity_price, class: "form-control" %>
  </div>

  <div>
    <%= f.submit 'Update Settings' %>
  </div>
<% end %>
