<td class="p-3 text-center">
  <%= fa_icon("clipboard-check fa-2x") %>
</td>
<td>
  <h3 class="pt-1"><strong><%= t('schools.observations.timeline.programme.completed_a_programme') %>:</strong> <%= link_to observation.programme.programme_type.title, programme_type_path(observation.programme.programme_type)%></h3>
  <span class="text-muted"><%= nice_dates(observation.at) %></span>
</td>
