<% content_for :page_title do %>
  <%= @school.name %> Upload Bill
<% end %>

<h1>Upload an energy bill</h1>

<p>
  Upload an energy bill for your school as proof that you have access to
  your energy meters.
</p>

<p>
 We need this proof before we are able to get permission to access and process your data.
</p>

<p>The bill needs to be dated within the last 3 months, and show:</p>

<ul>
<li>your school name</li>
<li>school address</li>
<li>electricity meter MPAN or electricity supply number and/or gas meter MPR or meter point reference number</li>
</ul>

<%= render 'form', label: "Upload", school: @school, consent_document: @consent_document %>

<div class="other-actions">
  <%= link_to 'Cancel', school_consent_documents_path, class: 'btn' %>
</div>
