<% content_for :page_title do %>
  <%= @school.name %> Upload Bill
<% end %>

<h1>Upload an energy bill</h1>

<p>
  Upload an energy bill for your school as proof that you have access to
  your energy meters. We need this proof before we are able to provide access to your data.
</p>

<%= render 'form', label: "Upload", school: @school, consent_document: @consent_document %>

<div class="other-actions">
  <%= link_to 'Cancel', school_consent_documents_path, class: 'btn' %>
</div>
