<h1>Rollbar Custom Errors</h1>

<p>
The following reports having been run against the <%= @rollbar_environment %> project.
</p>

<% @reported_results.each do |key, result| %>
  <%= render 'rql_report_table', report_result: result %>
<% end %>
