<div id="trix-chart-list-components" class="d-none">
  <button type="button" class="trix-button" data-trix-action="chart" data-trix-key="c" title="Chart" tabindex="-1" data-trix-active=""><%= fa_icon('chart-bar') %></button>
  <div class="trix-dialog trix-dialog--chart" data-trix-dialog="chart">
    <div class="trix-dialog__link-fields">
      <select name="chart-list-chart" class="mr-3"><%= grouped_options_for_select(chart_list) %></select>
      <div class="trix-button-group">
        <input type="button" class="trix-button trix-button--dialog" value="Insert" data-trix-action="x-insert-chart">
      </div>
    </div>
  </div>
</div>
