language: ruby
cache:
  directories:
  - node_modules
  yarn: false
  bundler: true
env:
  global:
  - NODE_ENV=test
services:
- postgresql
dist: bionic
addons:
  postgresql: 10
  sources:
  - google-chrome
  apt:
    packages:
    - google-chrome-stable
sudo: required
before_script:
- cp config/database.travis.yml config/database.yml
script:
- bundle exec rails db:create
- bundle exec rubocop app lib data-pipeline/handlers
- bundle exec bundle-audit check --update
- nvm install node
- node -v
- yarn
- bundle exec rails webpacker:compile
- script/test-data-pipeline.sh
- bundle exec rspec
