<h1>
  <%= @title %>
</h1>

<div class="s-3"></div>
<p>
  <%= @summary %>
</p>

<% if @results_url.present? %>
  <div class="s-3"></div>
  <p>
    You can <%= link_to 'view the results here', @results_url %>
  </p>
<% end %>
