<h1>
  <%= @solar_feed_type %> Import for <%= @installation.school.name %>
</h1>

<div class="s-3"></div>
<p>
  The requested import job has failed. An error has been logged.
</p>

<div class="s-3"></div>
<p>
  <code><%= @error.message %></code>
</p>

<div class="s-3"></div>
<ul>
  <li><%= link_to 'View the school meters', school_meters_url(@installation.school) %></li>
</ul>
