<div class="row padded-row">
  <div class="col-md-12">
    <% alerts.sort_by { |alert| alert.rating.nil? ? 99 : alert.rating }.each do |alert| %>

      <div class="card mb-3">
        <%= render 'alert_header', alert: alert %>
        <%= render 'alert_body', alert: alert %>
      </div>
    <% end %>
  </div>
</div>
