<div class="row padded-row">
  <div class="col-md-12">
    <% alerts.each do |alert| %>
      <%= render 'alert', summary: alert.summary, alert: alert, school: @school %>
    <% end %>
  </div>
</div>
