<div class="card mb-3">
  <div class="card-header text-white <%= class_for_alert_rating(alert.data['rating']) %>">
    <h4><%= fa_icon alert_icon(alert) %> <%= alert.summary %>
      <%= link_to 'Find out more', school_alert_path(school, alert.id), class: 'btn btn-secondary text-right pull-right', role: 'button' %>
    </h4>
  </div>
</div>