<% content_for :page_title do %>Alert reports for <%= @school.name %><% end %>
<div class="row">
  <div class="col-md-12">
    <h1>Latest alerts</h1>
    <p><%= link_to 'Alert Contacts', school_contacts_path(@school), class: 'btn btn-primary' %>
  </div>
</div>

<% if [:electric_and_gas, :gas_only].include?(@school.fuel_types) %>
  <% if @gas_alerts.empty? %>
    <h3>We have no Gas alerts for this school at the moment</h3>
  <% else %>
    <h3>Gas Alerts</h3>
    <%= render 'alerts', alerts: @gas_alerts %>
  <% end %>
<% end %>

<% if [:electric_and_gas, :electric_only].include?(@school.fuel_types) %>
  <% if @electricity_alerts.empty? %>
    <h3>We have no Electricity alerts for this school at the moment</h3>
  <% else %>
    <h3>Electricity Alerts</h3>
    <%= render 'alerts', alerts: @electricity_alerts %>
  <% end %>
<% end %>
