<h3>Tell us about an energy saving moment</h3>

<h1>What did you do?</h1>

<ul>
  <% @intervention_type_groups.each do |intervention_type_group| %>
    <li>
      <%= link_to new_school_intervention_path(intervention_type_group_id: intervention_type_group.id) do %>
        <%= fa_icon(intervention_type_group.icon) %> <%= intervention_type_group.title %>
      <% end %>
    </li>
  <% end %>
</ul>
