<% content_for :page_title, 'Pupil sign in' %>
<div class="row padded-row">
  <div class="col-md-12">
    <h1>Pupil sign in for <%= @school.name %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'form', school: @school %>
  </div>
</div>

