<% content_for :page_title, t('campaigns.book_demo.title') %>

<div class="row">
  <div class="col-md-12">
    <h1><%= t('campaigns.book_demo.title') %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>
      <%= t('campaigns.book_demo.intro') %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= render 'form', request_type: :book_demo %>
  </div>
  <div class="col-md-6 d-flex align-items-center">
    <%= image_tag('on-screen.jpg', class: 'img-fluid rounded-25') %>
  </div>
</div>
