<% content_for :page_title, t('campaigns.book_demo.title') %>

<div class="row">
  <div class="col-md-10">
    <h1><%= t('campaigns.book_demo.title') %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p><%= t('campaigns.book_demo.intro') %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <div class="calendly-inline-widget"
         data-url="<%= @calendly_data_url %>"
         style="min-width:320px;height:800px;"></div>

    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>

  </div>
</div>
