<% content_for :page_title, t('campaigns.more_information.title') %>

<div class="row">
  <div class="col-md-12">
    <h1><%= t('campaigns.more_information.title') %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>
      <%= t('campaigns.more_information.intro') %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= render 'form', source: :more_information %>
  </div>
  <div class="col-md-6 d-flex align-items-center">
    <%= image_tag('pupil-carbon.jpg', class: 'img-fluid rounded-25') %>
  </div>
</div>
