<% content_for :page_title, t('campaigns.more_information.title') %>
<div class="container-fluid adult pt-2 pb-3">
  <div class="container">
    <h1><%= t('campaigns.more_information.title') %></h1>
    <p><%= t('campaigns.more_information.intro') %></p>
  </div>
</div>

<div class="container my-4">
  <div class="row">
    <div class="col-md-6">
      <%= render 'form', source: :info %>
    </div>
    <div class="col-md-6 d-flex align-items-center">
      <%= image_tag('pupil-carbon.jpg', class: 'img-fluid rounded-xl') %>
    </div>
  </div>
</div>
