<p>To meet our requirements under the Smart Energy Code, please can you now give us formal permission for your school's energy data to be published to the Energy Sparks website.<p>

<blockquote class="card bg-light">
  <div class="card-body">
    <%= @consent_grant.consent_statement.content %>
  </div>
</blockquote>
