<div class="row justify-content-md-center">
  <div class="col col-md-10 col-lg-8">
    <h1><%= t('onboarding.consent.title') %></h1>

    <%= render 'onboarding/consent/statement' %>

    <%= render 'onboarding/consent/form', consent_grant: @consent_grant, path: onboarding_consent_path(@school_onboarding) %>

    <%= render 'onboarding/consent/not_sure' %>
  </div>
</div>





