footer {
  background-color: $grey-very-dark;
  font-family: $header-font-family;
  color: $white;
  @include font(f9);
  font-weight: $font-weight-semibold; // 600

  a:link, a:visited {
    color: $white;
    text-decoration: none;
  }

  .footer-top {
    h1 {
      @include font(f6);
      padding-top: 5px;
      padding-bottom: 5px;
      color: $white;
      font-weight: $font-weight-bold; // 700
    }

    a:hover, a:focus, a:active {
      color: $yellow-medium;
    }

    .form-control, .btn {
      font-size: $f9;
    }
  }

  .footer-second {
    a:hover, a:focus, a:active {
      color: $grey-dark;
    }

    ul.list-inline {
      li.list-inline-item {
        margin-right: 0;

        a:link, a:visited {
          color: $grey-very-dark;
        }
        a:hover, a:focus, a:active {
          color: $grey-dark;
        }
      }
    }
  }
}
