footer {
  font-family: $header-font-family;
  color: $white;

  a:link, a:visited {
    color: $white;
    text-decoration: none;
  }

  .footer-top {
    @include font(f9); // design says 16px (f7)
    background-color: $grey-very-dark;
    font-weight: $font-weight-semibold; // 600 // design says 500 - medium

    h1 {
      @include font(f6); // design says 24px (f4)
      padding-top: 5px;
      padding-bottom: 5px;
      color: $white;
      font-weight: $font-weight-bold; // 700 // design says 600 - semibold
    }

    a:hover, a:focus, a:active {
      color: $yellow-medium;
    }

    .form-control, .btn {
      font-size: $f9;
    }
  }

  .footer-second {
    @include font(f9); // design says 14px (f8)
    background-color: $grey-darker;
    font-weight: $font-weight-normal; // 400 - as per design

    a:hover, a:focus, a:active {
      color: $grey-dark;
    }

    ul.list-inline {
      li.list-inline-item {
        margin-right: 0;

        a:link, a:visited {
          color: $grey-darker;
        }
        a:hover, a:focus, a:active {
          color: $grey-dark;
        }
      }
    }
  }
}
