.nav-tabs {
  .nav-item {
    .nav-link.active {
      font-weight: 600;
    }
  }
}

.nav-tabs.locales {
  .nav-item {
    .nav-link.active {
      background: $light-grey;
      border-color: $light-grey;
    }
  }
}

.tab-content.locales {
  padding: 10px;
  margin-bottom: 10px;
  background-color: $light-grey;
}
