
nav.navbar-main {
  background-color: $black;
  color: $white;
  @include font(f8); // design says f6! Looks massive!
  font-family: $header-font-family;
  font-weight: 400 !important;

  a {
    font-weight: 400 !important;
  }

  img {
    height: 40px; // design says 60
    margin-bottom: 4px; // move it up a bit as text in logo isn't vertically central to logo
  }

  .dropdown-menu {
    @include font(f8); // design says f6!
    background-color: $white;
  }

  .dropdown-item {
    color: $dark;
  }

  .nav-item.dropdown.show
  .nav-link.dropdown-toggle,
  .nav-link:hover {
    color: $yellow;
  }

  .navbar-toggler {
    color: $navbar-dark-color;
    border-color: $navbar-dark-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: escape-svg($navbar-dark-toggler-icon-bg);
  }
}

a.nav-link.locale {
  @extend .rounded-pill;
  @include font(f9);
  color: $dark-blue;
  background: $white;
  padding: 0px 12px;
  display:inline-block;
  border: 1px solid $dark-blue;

  &:hover {
    @include font(f9);
    color: $black !important;
    background: $grey;
  }
}


// make dropdown scrollable if class is added
.dropdown-menu.scrollable {
  max-height: 85vh;
  overflow-y: auto;
}

// https://github.com/FortAwesome/font-awesome-sass/tree/master/assets/stylesheets/font-awesome
.dropdown-toggle::after {
  border: none;

  @extend .fa-solid;
  content: fa-content($fa-var-chevron-down);
  vertical-align: 0;
}
