
nav.navbar-main {
  background-color: $black;
  color: $white;
  font-family: $header-font-family;
  @include font(f6);
  font-weight: $default-font-weight;
  line-height: 30px;
  padding: 0px;

  img {
    height: 60px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .dropdown-menu {
    background-color: $black;
  }

  .nav-item.dropdown.show .nav-link.dropdown-toggle,
  .nav-link:hover {
    color: $yellow;
  }

  .dropdown-item:hover {
    color: $black;
  }

  .navbar-toggler {
    color: $navbar-dark-color;
    border-color: $navbar-dark-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: escape-svg($navbar-dark-toggler-icon-bg);
  }
}

// Site wide navigation styles

// make dropdown scrollable if class is added
.dropdown-menu.scrollable {
  max-height: 85vh;
  overflow-y: auto;
}

.dropdown-toggle::after {
  border: none;
  @include fa-icon-solid($fa-var-user);
  font-size: inherit;
  content: "\f078";
  vertical-align: 0;
}