%navbar-es {
  font-family: $header-font-family;
  font-weight: 400 !important;

  a {
    font-weight: 400 !important;
  }

  .dropdown-menu {
    font: inherit;
    padding: 4px;

    .dropdown-item {
      padding: 6px 10px;

      i {
        position:absolute;
        right:0;
        padding: 6px 10px;
      }
    }
  }

  .navbar-brand {
    //padding-left: 4px;
  }

  .navbar-toggler {
    padding: 4px;
    margin-left: 8px;

    color: $navbar-dark-color;
    border-color: $navbar-dark-toggler-border-color;
  }

  .navbar-toggler-icon {
    width: 1.2em;
    height: 1.2em;
    background-image: escape-svg($navbar-dark-toggler-icon-bg);
  }

  // Allow scroll on collapse and left margin
  .collapsing, .collapse.show {
    max-height: 85vh;
    overflow-y: auto;
    margin-left: 10px;
  }

  .nav-link.lozenge {
    @extend .rounded-pill;
    @include font(f9);
    padding: 0px 12px !important;
    display:inline-block;

    &:hover, &:focus {
      @include font(f9);
    }
  }
}

nav.navbar-top {
  @extend %navbar-es;
  @include font(f8); // design says f6
  background-color: $dark;
  color: $white;
  min-height: 70px; // design says 108

  img {
    height: 40px; // design says 60
    margin-bottom: 6px; // move it up a bit as text in logo isn't vertically central to logo
  }

  .dropdown-menu {
    background-color: $dark;

    .dropdown-item {
      color: $white;
      background-color: $dark;
    }
  }

  .nav-item.dropdown.show
  .nav-link.dropdown-toggle,
  .nav-link:hover,
  .nav-link:focus,
  .dropdown-item:hover,
  .dropdown-item:focus {
    color: $yellow;
  }

  .nav-link.lozenge {
    margin-left: 4px;
    color: $blue-dark;
    background: $white;
    border: 1px solid $blue-dark;

    &:hover, &:focus {
      color: $black !important;
      background: $grey;
    }
  }
}

nav.navbar-second {
  @extend %navbar-es;
  @include font(f9); // design says f7
  min-height: 32px; // design says 50
  padding: 2px 16px;

  .nav-link, .navbar-text {
    padding: 4px 8px;
  }

  .nav-link.lozenge {
    margin: 0 8px;
  }

  .dropdown-menu {
    margin-top: 0;
    padding-top: 6px;
    border:0;
  }

  &.adult {
    color: $white;
    background-color: $blue-very-dark;

    .dropdown-menu {
      background-color: $blue-very-dark;

      .dropdown-item {
        color: $white;
        background-color: $blue-very-dark;
      }

      .dropdown-divider {
        border-top: 1px solid color-mix(in srgb, $white 50%, transparent);
      }
    }

    .nav-link {
      color: $white;

      &.dash {
        color: $blue-medium;
      }
    }

    .nav-item.dropdown.show
    .nav-link.dropdown-toggle,
    .nav-link:hover,
    .nav-link:focus,
    .dropdown-item:hover,
    .dropdown-item:focus {
      color: $blue-medium;
    }

    .nav-link.lozenge {
      color: $blue-dark;
      background: $blue-medium;

      &:hover, &:focus {
        color: $black !important;
        background: $grey;
      }
    }
  }

  &.pupil {
    color: $yellow-very-dark;
    background-color: $yellow-light;

    .dropdown-menu {
      background-color: $yellow-light;

      .dropdown-item {
        color: $yellow-very-dark;
        background-color: $yellow-light;
      }
      .dropdown-divider {
        border-top: 1px solid color-mix(in srgb, $yellow-very-dark 50%, transparent);
      }
    }

    .nav-link {
      color: $yellow-very-dark;

      &.dash {
        color: $yellow-dark;
      }
    }

    .nav-item.dropdown.show
    .nav-link.dropdown-toggle,
    .nav-link:hover,
    .nav-link:focus,
    .dropdown-item:hover,
    .dropdown-item:focus {
      color: $yellow-dark;
    }

    .navbar-toggler-icon {
      background-image: escape-svg($navbar-light-toggler-icon-bg);
    }

    .navbar-toggler {
      color: $navbar-light-color;
      border-color: $navbar-light-toggler-border-color;
    }

    .nav-link.lozenge {
      color: $yellow-dark;
      background: $yellow-medium;

      &:hover, &:focus {
        color: $black !important;
        background: $grey;
      }
    }
  }
}

// make dropdown scrollable if scrollable class is added
.dropdown-menu.scrollable {
  max-height: 85vh;
  overflow-y: auto;
}

// change menu dropdown arrow
// https://github.com/FortAwesome/font-awesome-sass/tree/master/assets/stylesheets/font-awesome
.dropdown-toggle::after {
  border: none;

  @extend .fa-solid;
  content: fa-content($fa-var-chevron-down);
  vertical-align: 0;
}

.vr {
  display: inline-block;
  align-self: stretch;
  width: 1px;
  min-height: 1em;
  background-color: currentColor;
  margin: 4px 8px;
  opacity: 0.5;
}
