<%= component 'search_results' do |c| %>
  <% c.with_title { I18n.t('components.search_results.keyword.title') } %>
  <% c.with_subtitle { I18n.t('components.search_results.schools.subtitle', count: count) } %>
  <% results.each do |school| %>
    <% c.with_result do %>
      <%= link_to school.name, school_path(school) %>
      - <span class="smaller"><%= school.school_group.name %></span>
    <% end %>
  <% end %>
<% end %>
