<%= component 'search_results' do |c| %>
  <% c.with_title { letter } %>
  <% c.with_subtitle do %>
    <%= I18n.t("components.search_results.#{tab}.subtitle", count: count) %>
  <% end %>
  <% results.each do |result| %>
    <% c.with_result do %>
      <%= link_to result.name, tab == :schools ? school_path(result) : school_group_path(result) %>
      <% if tab == :schools %>
        - <span class="smaller"><%= result.school_group.name %></span>
      <% end %>
    <% end %>
  <% end %>
<% end %>
