<%%-
  headers = [
    t('analytics.benchmarking.configuration.column_headings.school')
  ]
-%>
<%%= CSV.generate_line(headers, force_quotes: true).strip.html_safe %>
<%%- @results.each do |result| -%>
<%%= CSV.generate_line([result.school.name], force_quotes: true).html_safe
-%>
<%%- end -%>
