<div id='dashboard-header' class="row">
  <div class="col-12 col-md-9">
    <h1>Welcome</h1>
  </div>
  <div class="col-12 col-md-3 bg-white rounded">
    <div class="row">
      <div class="col">
        <h4><%= school.name %></h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= school.address %> <%= school.postcode %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span class="badge badge-secondary"><%= t("common.school_types.#{school.school_type}") %></span>
      </div>
    </div>
  </div>
</div>
