<%= tag.div id: id, class: class_names(classes, 'card h-100 border-0') do %>
  <div class='card-body'>
    <%= badge %>
    <div class='row'>
      <div class='col-9 col-sm-12 col-lg-8'>
        <%= statement %>
      </div>
    </div>
  </div>
<% end %>
