.layout-cards-tools-component {
  background-color: $blue-very-dark;

  .badge {
    font-size: $f9;
    padding: 6px 14px;
  }

  &:hover {
    .statement {
      color: $yellow-pale !important;
    }

    .badge {
      background-color: white;
    }
  }
}
