<div class="card <%= current_supply %>-card">
  <div class="card-header"></div>
  <div class="card-body">
    <h4 class="card-title">
      Compare usage
    </h4>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="compare" id="compare-whole-school" value="whole-school" checked>
        Across the whole school
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="compare" id="compare-within-school" value="within-school">
        Within the school
      </label>
    </div>

  </div>
  <div class="card-footer">
    Compare usage across the whole school on different days, or compare usage within
    the school on a specific day
  </div>
  <% if show_measurements %>
    <div class="card-header"></div>
    <div class="card-body">
      <h4 class="card-title">
        Choose measurement
      </h4>

      <% @measurement_options.each do |key, description| %>
       <div class="form-check">
          <%= radio_button_tag :measurement, key, key == @measurement, class: "form-check-input" %>
          <%= label_tag "measurement_#{key}".to_sym, description.capitalize, value: key, class: "form-check-label" %>
        </div>
      <% end %>
    </div>
    <div class="card-footer">
      Choose how to measure energy usage
    </div>
  <% end %>
</div>
