<div class="row padded-row">
  <div class="col-md-12">
    <h4>What does the data tell you?</h4>
    <div id="electricity-interpretation" style="<%= supply == "electricity" ? '' : 'display: none' %>">
      <ul>
        <li>When are the peaks in electricity use? Do they mostly occur at the same time each day? Why do you
          think these occur? Think about food being prepared in the school kitchens, dishwashers running, kettles
          running in the staff room, photocopiers running, hot water heating switching on, electric heating...</li>
        <li>
          Can you think of ways to reduce the peaks in electricity use?
        </li>
        <li>
          Do you see a reduction in electricity when some classes are out of school on a trip or outdoor
          learning?
        </li>
        <li>
          Can you work out what electricity is used for overnight, at the weekends and the school holidays? Can
          you write a list of all the equipment which might be left on outside of school hours, and then investigate
          whether they can be switched off?
        </li>
      </ul>
    </div>

    <div id="gas-interpretation" style="<%= supply == "gas"  ? '' : 'display: none' %>">
      <ul>
        <li>Do you know what gas is used for at your school? Is it used for heating the building and hot water, and
          cooking in the school kitchen?</li>
        <li>Compare gas use during the summer and winter</li>
        <li>When are the times of day when most gas is used? What is happening then? Is there a peak in gas use
          across lunchtime, if gas is used for cooking in the school kitchens? During the winter there will also be a
          peak in gas use in the morning as the school heats up ready for the pupils and teachers to arrive.</li>
        <li>Does gas heat all of your school, or just some buildings or areas?</li>
        <li>How much does your gas use reduce at the weekend or in the school holidays? </li>
        <li>Are there times of day when no gas is used? These are most likely to be overnight, although during
          very cold weather some heating may be necessary overnight to prevent the school pipes from freezing.</li>
      </ul>
    </div>

    <p>You can find out more by looking at more advanced energy usage <%= link_to 'Analysis', school_analysis_path(@school) %></p>
  </div>
</div>
