<div class="card <%= current_supply %>-card">
  <div class="card-header"></div>
  <div class="card-body">
    <h4 class="card-title">Select Energy Type
    </h4>

    <% configuration.keys.each do |type| %>
      <div class="form-check">
        <label class="form-check-label">
          <%= radio_button_tag 'supply', type, current_supply == type %>
          <%= type.to_s.titleize %>
        </label>
      </div>
    <% end %>

  </div>
  <div class="card-footer">
    <% if configuration.key?(:gas) && configuration.key?(:electricity) %>
        We have both gas and electricity data for this school
      <% elsif configuration.key?(:gas) %>
        We only have gas usage data for this school
      <% else %>
        We only have electricity usage data for this school
    <% end %>
  </div>
</div>
