<div class="card <%= current_supply %>-card" id="within-school" style="display: none;">
  <div class="card-header"></div>
  <div class="card-body">
    <h4 class="card-title">
      <%= date_option %>
    </h4>
    <div class="form-group">
      <div class="input-group date <%= 'week-view' if week_picker %>" id="datetimepicker3" data-target-input="nearest">
        <%= text_field_tag("week-picker", '', class: 'form-control datetimepicker-input', data: { target: "#datetimepicker3" }) %>
        <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
      </div>
    </div>

  </div>
  <div class="card-footer">
    <span class="data-availability"></span>
  </div>
</div>
