<h1>AMR Data Feed Configurations</h1>
<%= render TabsComponent.new do |component| %>
  <% component.with_tab(name: :overview, label: 'Overview') do %>
    <p>The following table provides a brief overview of each configuration.</p>
    <%= render 'overview_table', configurations: @configurations %>
  <% end %>
  <% component.with_tab(name: :details, label: 'Details') do %>
    <p>The following table provides a more detailed comparison of each configuration.
        Click on the name of the configuration to view all configuration options.</p>
    <%= render 'detail_table', configurations: @configurations %>
  <% end %>
<% end %>
