<h1>AMR Data feed configuration</h1>
<h2>for <%= @configuration.description %></h2>

<%= link_to 'Upload file', new_admin_amr_data_feed_config_amr_uploaded_reading_path(@configuration) %>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @configuration.attributes.except("id").each do |key, value| %>
      <tr>
        <td><%= key.humanize.capitalize %></td>
        <td><%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

