<h1><%= @resource.name %></h1>

<h2>Calorific Values</h2>

<% if @first_reading.nil? %>
  <strong>There are currently no readings for this zone</strong>
<% else %>
  <p>This calendar summarises the calorific values data from <%= nice_dates(@first_reading.date) %> up until the present
     day.</p>

    <div id="calendar" class="calendar"></div>

    <div class="calendar-legend clearfix">
      <div class="legend-scale vertical float-right">
        <ul class="legend-labels">
          <% [[40, 'Calorific Value > 40.0'],
              [39, 'Calorific Value > 39.0'],
              [38, 'Calorific Value < 39.0'],
              [:missing, 'Missing day']].each do |colour, description| %>
            <li><span class="mr-2" style='background:<%= Colours.hex(@colours[colour]) %>;'></span><%= description %></li>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>
