<% content_for :page_title, t('school_groups.advice.scores.title', name: @school_group.name) %>

<% content_for :dashboard_header do %>
  <%= render Layout::Cards::PageHeaderComponent.new(
        title: t('school_groups.advice.scores.title', name: @school_group.name)
      ) %>
<% end %>

<div class="container">
  <div class="row mt-2">
    <div id='group-advice-page-nav' class="col-md-3 col-lg-3 col-xl-2 advice-page-nav">
      <%= render 'school_groups/advice/nav', school_group: @school_group %>
    </div>
    <div id='group-advice-page-content' class="col-md-9 col-lg-9 col-xl-10">
      <%= render 'school_groups/advice/scoreboard',
                 school_group: @school_group,
                 academic_year: @academic_year,
                 current_year: @current_year,
                 scored_schools: @scored_schools,
                 path: [:scores, @school_group, :advice] %>
    </div>
  </div>
</div>
