<% content_for :page_title, "#{t('advice_pages.index.title')} | #{@school_group.name}" %>

<% content_for :dashboard_header do %>
  <%= render Layout::Cards::PageHeaderComponent.new(
        title: t('school_groups.advice.show.title'),
        subtitle: t('school_groups.advice.show.subtitle_html')
      ) %>
<% end %>

<div class="container">
  <div class="row mt-2">
    <div class="col-md-3 col-lg-3 col-xl-2 advice-page-nav">
      <%= render 'school_groups/advice/nav', school_group: @school_group %>
    </div>
    <div class="col-md-9 col-lg-9 col-xl-10">
      <h2>
        <%= t('school_groups.advice.show.recent_energy_use.title') %>
      </h2>
      <%= render 'school_groups/advice/summary_table',
                 school_group: @school_group,
                 schools: @schools,
                 fuel_types: @fuel_types,
                 path: school_group_advice_path(@school_group) %>
    </div>
  </div>
</div>
