<div class="row mt-2">
  <div class="col mt-4 mb-4">
    <div class="row">
      <div class="offset-md-4 offset-lg-4 offset-xl-3 col-md-5 col-lg-5 col-xl-7">
        <form id="cms-search" action="<%= search_path %>">
          <div class="input-group">
            <input type="text"
                   autocomplete="off"
                   placeholder="Search all support pages"
                   name="query"
                   value="<%= params[:query] || nil %>"
                   class="form-control">
            <div class="input-group-append">
              <button type="submit" class="school-search-component-button">
                <%= t('pages.search.button') %>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
