<div class="row">
  <div class="col-md-12">
    <div class="row info-bar text-dark bg-neutral" role="alert">
      <div class="col-lg-1 d-none d-lg-block align-self-center">
        <i class="fas fa-play-circle fa-3x"></i>
      </div>
      <% if programme_type.all_activity_types_completed_for_school?(school) %>
        <div class="col-lg-8 col-sm-12 align-self-center">
          <%= t('programme_types.prompt.completed_message_html', count: programme_type.bonus_score) %>
        </div>
        <div class="col-lg-3 col-sm-12">
          <%= link_to t('common.labels.complete'),
                      school_programmes_path(school, programme_type_id: programme_type),
                      method: :post, class: 'btn btn-secondary' %>
        </div>
      <% else %>
        <div class="col-lg-8 col-sm-12 align-self-center">
          <%= t('programme_types.prompt.message_html',
                count: programme_type.activity_type_ids_for_school(school).length) %>
        </div>
        <div class="col-lg-3 col-sm-12">
          <%= link_to t('common.labels.start'),
                      school_programmes_path(school, programme_type_id: programme_type),
                      method: :post, class: 'btn btn-secondary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
