<div class="school-comparison-component-callout-box">
  <div class="header">
    <small>
      <%= t('advice_pages.benchmarks.your_school') %>
    </small>
  </div>
  <div class="body m-2">
    <h2>
      <%= FormatEnergyUnit.format(comparison.unit, comparison.school_value, :text).html_safe %>
    </h2>
  </div>
  <div class="footer mb-2">
    <% if callout_footer %>
      <small>
        <%= callout_footer %>
      </small>
    <% end %>
  </div>
</div>
