.school-comparison-component {
  .callout-row {
    @each $tag, $colour in $colours-comparison {
      .#{$tag} {
        background-color: $light !important;
        border-bottom: 10px solid $colour;
      }
    }
  }

  .footer-row {
    div {
      text-align: center;
    }
    .category-label {
      font-weight: bold;
      margin-bottom: 0px;
    }
  }

  .callout-box {
    border: 1px solid $grey-light;
    width: 50%;
    box-shadow: 1px 1px $grey-medium;
    margin-top: 10px;
    margin-bottom: 12px;
    background-color: $white;
    text-align: center;

    div.body h4 {
      font-weight: bold;
      padding-bottom: 0px;
      margin-bottom: 0px;
    }
  }

  .callout-box:after {
    content: "";
    position: absolute;
    top: 97%;
    left: 50%;
    height: 20px;
    width: 20px;
    background: $white;
    box-sizing: border-box;
    transform: rotate(45deg) translate(-50%);
    border-bottom: inherit;
    border-right: inherit;
    margin-top: -12px;
    box-shadow: inherit;
  }
}
