<%= render 'schools/school_page_with_navigation', school: @school,
                                                  page_title: "#{@school.name} Email and SMS reports" do %>

  <div class="row padded-row">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Events</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @subscription_generation_runs.each do |run| %>
          <tr>
            <td><%= nice_date_times(run.created_at) %></td>
            <td><%= run.alert_subscription_events.count %></td>
            <td><%= link_to 'View', school_subscription_generation_run_path(@school, run), class: 'btn' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
