.dashboard-learn-more-component h2 {
  padding-top: 0px;
}

.dashboard-learn-more-component.data-enabled.adult {
  background: $adult-light;
}

.dashboard-learn-more-component.data-enabled.pupil {
  background: white;
}

.dashboard-learn-more-component.data-disabled {
  background: $light;
}
