.dashboard-learn-more-component.data-enabled.adult {
  background: $adult-light;
}

.dashboard-learn-more-component.data-enabled.pupil {
  background: white;
}

.dashboard-learn-more-component.data-disabled {
  background: $light;
}
