<div class="row mt-4">
  <div class="col">
    <%= t('schools.user_tariffs.default_tariffs.economic.introduction_html') %>
    <%= render 'economic_tariffs_table_school', school: @school %>
  </div>
</div>
