<%= f.input :meter_type, as: :hidden %>
<div class="form-row">
  <div class="form-group col-md-6">
    <%= f.input :name, as: :string %>
  </div>
</div>
<%= render 'form_dates', f: f %>
<%= f.submit t('common.labels.next'), class: 'btn'%>
