<table class="table table-charges">
  <tbody>
  <% if energy_tariff.energy_tariff_prices.any? %>
    <% energy_tariff.energy_tariff_prices.by_start_time.each do |energy_tariff_price| %>
      <tr>
        <td class="description"><%= energy_tariff_price_title(energy_tariff_price) %></td>
        <td class="value">
          <%= t('schools.user_tariffs.rates_table.price_per_kwh', price_value: convert_value_to_long_currency(energy_tariff_price.value)) %>
        </td>
        <% if allow_edits %>
          <td class="value">
            <% edit_path = case energy_tariff.tariff_holder_type
                      when 'School' then edit_school_energy_tariff_energy_tariff_differential_price_path(school, energy_tariff, energy_tariff_price)
                      when 'SchoolGroup' then edit_school_group_energy_tariff_energy_tariff_differential_price_path(school_group, energy_tariff, energy_tariff_price)
                      when 'SiteSettings' then edit_admin_settings_energy_tariff_energy_tariff_differential_price_path(energy_tariff, energy_tariff_price)
                      end
            %>

            <%= link_to t('common.labels.edit'), edit_path, { class: 'btn energy-tariff-show-button', remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan='10'>
        <%= t('schools.user_tariffs.rates_table.no_consumption_charges_specified_yet') %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
