<div class="row">
  <div class="col-md-3">
    <p><%= t('schools.user_tariffs.title_partial.heading') %>:</p>
  </div>
  <div class="col-md-3 right">
    <strong>
      <%= energy_tariff_title(@energy_tariff) %>
    </strong>
  </div>
</div>
