<%= render 'header_and_nav' %>
<% if @tariff_holder.school_group? %>
  <div id="nav-group-school-tariffs" role="tabpanel" aria-labelledby="nav-group-school-tariffs-tab" class="tab-pane">
    <table class="table advice-table">
      <thead>
        <tr>
          <th class="text-left">Name</th>
          <th class="text-right">Electricity tariffs</th>
          <th class="text-right">Gas tariffs</th>
        </tr>
      </thead>
      <tbody>
      <% @tariff_holder.schools.with_energy_tariffs.each.each do |school| %>
      <tr>
        <td class="text-left"><%= school.name %></td>
        <td class="text-right"><%= school.energy_tariffs.where(meter_type: 'electricity').count %></td>
        <td class="text-right"><%= school.energy_tariffs.where(meter_type: 'gas').count %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
