<%= render 'header_and_nav' %>
<% if @tariff_holder.school_group? %>
  <div id="nav-group-school-tariffs" role="tabpanel" aria-labelledby="nav-group-school-tariffs-tab" class="tab-pane">
  </div>
<% end %>
