<%= render 'shared/errors', subject: user_tariff_price, subject_name: 'price' %>

<table class="table table-charges">
  <tbody>
  <tr>
    <td class="description">
      Rate
    </td>
    <td class="value">
    </td>
    <td class="value">
      <%= f.input :value, as: :string, pattern: '[0-9.]+', label: false, input_html: { value: user_tariff_price.value }, required: false %>
    </td>
    <td class="units">
      per £/kWh
    </td>
    <td class="units">
    </td>
  </tr>
  </tbody>
</table>
