files:
  /opt/elasticbeanstalk/hooks/appdeploy/pre/09_install_yarn.sh:
    mode: "000775"
    owner: root
    group: root
    content: |
      #!/bin/bash
      wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo;
      curl --silent --location https://rpm.nodesource.com/setup_10.x | bash -;
      yum -y install yarn;
  /opt/elasticbeanstalk/hooks/appdeploy/pre/10_install_packages.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # Install dependencies
      app="$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)";
      cd "${app}";
      yarn install
      chown webapp:webapp node_modules/.yarn-integrity
