commands:
    link_current_deployment:
        command: "ln -sf /var/app/current /home/ec2-user/current"
    link_to_logfile:
        command: "ln -sf /home/ec2-user/current/log/production.log /home/ec2-user/production.log"
    link_to_jobs_logfile:
        command: "ln -sf /home/ec2-user/current/log/jobs.log /home/ec2-user/jobs.log"