files:
  # If this file is edited, it must be removed from EC2 instance prior to deploy.
  # Modified version of EB database migration task
  "/opt/elasticbeanstalk/hooks/appdeploy/post/09_after_party.sh" :
    mode: "000775"
    owner: root
    group: users
    content: |
      #!/usr/bin/env bash
      set -xe

      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_APP_DEPLOY_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
      EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)

      . $EB_SUPPORT_DIR/envvars-wrapper.sh

      RAKE_TASK="after_party:run"

      . $EB_SCRIPT_DIR/use-app-ruby.sh

      cd $EB_APP_DEPLOY_DIR

      su -s /bin/bash -c "leader_only bundle exec rails after_party:run" $EB_APP_USER
