files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            10 10 * * * /bin/bash -l -c 'cd /var/app/current && RAILS_ENV=production bundle exec rake loader:read_meters >> log/jobs.log 2>&1'
commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/*.bak"
