files:
    "/etc/cron.d/load-meter-readings":
        mode: "000644"
        owner: root
        group: root
        content: |
            0 6 * * * root /bin/bash -l -c 'cd /var/app/current && RAILS_ENV=production bundle exec rake loader:read_meters >> log/jobs.log 2>&1'
    "/etc/cron.d/load-weather-underground":
        mode: "000644"
        owner: root
        group: root
        content: |
            30 4,16 * * * root /bin/bash -l -c 'cd /var/app/current && RAILS_ENV=production bundle exec rake data_feeds:weather_underground_loader >> log/jobs.log 2>&1'
    "/etc/cron.d/load-solar-pv-tuos":
        mode: "000644"
        owner: root
        group: root
        content: |
            30 3,15 * * * root /bin/bash -l -c 'cd /var/app/current && RAILS_ENV=production bundle exec rake data_feeds:solar_pv_tuos_loader >> log/jobs.log 2>&1'
    "/etc/cron.d/run-alert-job":
        mode: "000644"
        owner: root
        group: root
        content: |
            0 6 * * * root /bin/bash -l -c 'cd /var/app/current && RAILS_ENV=production bundle exec rake alerts:cron_job >> log/jobs.log 2>&1'
commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/*.bak"
