files:
    #
    # Load non-amr data feeds
    #
    "/etc/cron.d/load-weather-underground":
        mode: "000644"
        owner: root
        group: root
        content: |
            30 4,16 * * * root /bin/bash -l -c 'cd /var/app/current && RAILS_ENV=production bundle exec rake data_feeds:weather_underground_loader >> log/jobs.log 2>&1'
    "/etc/cron.d/load-solar-pv-tuos":
        mode: "000644"
        owner: root
        group: root
        content: |
            30 3,15 * * * root /bin/bash -l -c 'cd /var/app/current && RAILS_ENV=production bundle exec rake data_feeds:solar_pv_tuos_loader >> log/jobs.log 2>&1'

    "/etc/cron.d/load-dark-sky-temperatures":
        mode: "000644"
        owner: root
        group: root
        content: |
            45 3 * * * root /bin/bash -l -c 'cd /var/app/current && RAILS_ENV=production bundle exec rake data_feeds:dark_sky_temperature_loader >> log/jobs.log 2>&1'

    #
    # Fetch BANES amr files and push to S3
    #
    "/etc/cron.d/fetch-and-push-banes-files":
        mode: "000644"
        owner: root
        group: root
        content: |
            0 4 * * * root /bin/bash -l -c 'cd /var/app/current && bin/fetch_banes_files_and_push_to_S3.sh'

    #
    # Import CSV files
    #
    "/etc/cron.d/banes-import-csv-files":
        mode: "000644"
        owner: root
        group: root
        content: |
            40 4 * * * root /bin/bash -l -c 'cd /var/app/current && RAILS_ENV=production bundle exec rake amr_banes:import_csv >> log/jobs.log 2>&1'
    "/etc/cron.d/frome-import-csv-files":
        mode: "000644"
        owner: root
        group: root
        content: |
            10 9,10 * * * root /bin/bash -l -c 'cd /var/app/current && RAILS_ENV=production bundle exec rake amr_frome:import_csv >> log/jobs.log 2>&1'
    "/etc/cron.d/sheffield-import-csv-files":
        mode: "000644"
        owner: root
        group: root
        content: |
            15 8-18 * * * root /bin/bash -l -c 'cd /var/app/current && RAILS_ENV=production bundle exec rake amr_sheffield:import_csv >> log/jobs.log 2>&1'
    "/etc/cron.d/sheffield-gas-import-csv-files":
        mode: "000644"
        owner: root
        group: root
        content: |
            20 8-18 * * * root /bin/bash -l -c 'cd /var/app/current && RAILS_ENV=production bundle exec rake amr_sheffield_gas:import_csv >> log/jobs.log 2>&1'

    #
    # Validate AMR readings
    #
    "/etc/cron.d/validate-amr-readings":
        mode: "000644"
        owner: root
        group: root
        content: |
            45 5 * * * root /bin/bash -l -c 'cd /var/app/current && RAILS_ENV=production bundle exec rake amr_importer:validate_amr_readings >> log/jobs.log 2>&1'

    #
    # EMail summary of imports
    #
    "/etc/cron.d/notify-amr-imports-daily":
        mode: "000644"
        owner: root
        group: root
        content: |
            45 8 * * * root /bin/bash -l -c 'cd /var/app/current && RAILS_ENV=production bundle exec rake amr_importer:send_daily_notification_email >> log/jobs.log 2>&1'
    #
    # Generate alerts daily
    #
    "/etc/cron.d/daily-alert-generation":
        mode: "000644"
        owner: root
        group: root
        content: |
            0 6 * * * root /bin/bash -l -c 'cd /var/app/current && RAILS_ENV=production bundle exec rake alerts:create >> log/jobs.log 2>&1'

    #
    # Generate Find Out More daily
    #
    "/etc/cron.d/find-out-mores":
        mode: "000644"
        owner: root
        group: root
        content: |
            30 6 * * * root /bin/bash -l -c 'cd /var/app/current && RAILS_ENV=production bundle exec rake alerts:create_find_out_mores >> log/jobs.log 2>&1'

    #
    # Alert subscription events weekly
    # Will only create one per alert record
    #
    "/etc/cron.d/alert-subscription-events-weekly":
        mode: "000644"
        owner: root
        group: root
        content: |
            45 6 * * Wed root /bin/bash -l -c 'cd /var/app/current && RAILS_ENV=production bundle exec rake alerts:create_alert_subscription_events_weekly >> log/jobs.log 2>&1'

    #
    # Alert subscription events termly
    # Runs weekly, but only generates if a holiday is approaching
    #
    "/etc/cron.d/alert-subscription-events-termly":
        mode: "000644"
        owner: root
        group: root
        content: |
            55 6 * * Wed root /bin/bash -l -c 'cd /var/app/current && RAILS_ENV=production bundle exec rake alerts:create_alert_subscription_events_termly >> log/jobs.log 2>&1'

# Remove baks else jobs get run twice
commands:
    remove_old_validation_1:
        command: "rm -f /etc/cron.d/validate-amr-readings-frome"
    remove_old_validation_2:
        command: "rm -f /etc/cron.d/validate-amr-readings-sheffield"
    remove_old_alerts_1:
        command: "rm -f /etc/cron.d/weekly-alerts"
    remove_old_alerts_2:
        command: "rm -f /etc/cron.d/holiday-alerts"
    remove_old_alerts_3:
        command: "rm -f /etc/cron.d/termly-alerts"
    remove_old_cron:
        command: "rm -f /etc/cron.d/*.bak"
