files:
    "/opt/elasticbeanstalk/tasks/taillogs.d/jobs.conf" :
      mode: "000755"
      owner: root
      group: root
      content: |
        /var/app/current/log/jobs.log

    "/opt/elasticbeanstalk/tasks/bundlelogs.d/jobs.conf" :
      mode: "000755"
      owner: root
      group: root
      content: |
        /var/app/current/log/jobs.log
