files:
    "/opt/elasticbeanstalk/tasks/taillogs.d/jobs.conf" :
      mode: "000755"
      owner: root
      group: root
      content: |
        /var/log/jobs.log
        /var/log/worker.stdout.log
        /var/log/worker.stderr.log

    "/opt/elasticbeanstalk/tasks/bundlelogs.d/jobs.conf" :
      mode: "000755"
      owner: root
      group: root
      content: |
        /var/log/jobs.log
