files:
    "/opt/elasticbeanstalk/tasks/taillogs.d/jobs.conf" :
      mode: "000644"
      owner: root
      group: root
      content: |
        /var/log/jobs.log
        /var/log/worker.stdout.log
        /var/log/worker.stderr.log

    "/opt/elasticbeanstalk/tasks/bundlelogs.d/jobs.conf" :
      mode: "000644"
      owner: root
      group: root
      content: |
        /var/log/jobs.log
        /var/log/worker.stdout.log
        /var/log/worker.stderr.log

    # fix bug in the provided version of this file to HUP rsyslog on rotate (per /etc/logrotate.d/rsyslog)
    # otherwise the log file isn't re-created on rotation
    /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.web-stdout.conf:
      mode: "000644"
      owner: root
      group: root
      content: |
        /var/log/*.stdout.log {
          su root root
          size 100M
          rotate 5
          missingok
          compress
          notifempty
          copytruncate
          dateext
          # dateformat %s
          olddir /var/log/rotated
          postrotate
            /usr/bin/systemctl kill -s HUP rsyslog.service >/dev/null 2>&1 || true
          endscript
        }
    /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.web-stderr.conf:
      mode: "000644"
      owner: root
      group: root
      content: |
        /var/log/*.stderr.log {
          su root root
          size 100M
          rotate 5
          missingok
          compress
          notifempty
          copytruncate
          dateext
          # dateformat %s
          olddir /var/log/rotated
          postrotate
            /usr/bin/systemctl kill -s HUP rsyslog.service >/dev/null 2>&1 || true
          endscript
        }
