commands:
    cache_dir:
        command: install -o "$(/opt/elasticbeanstalk/bin/get-config platformconfig -k AppUser)" -d /var/cache/rails_cache_store

files:
    /etc/systemd/system/web.service.d/override.conf:
        mode: "000644"
        owner: root
        group: root
        content: |
            [Service]
            Nice=-10
