<h1 class="mb-3"><%= t('consent_request_mailer.request_consent.description', school_name: @school.name) %></h1>

<p>
  <%= t('consent_request_mailer.request_consent.message') %>
</p>

<%= link_to t('consent_request_mailer.request_consent.give_consent'), school_consents_url(@school), class: 'btn btn-primary mt-3 mb-3' %>

<p>
  <%= t('consent_request_mailer.request_consent.footer_html', view_school_account_link: link_to(t('consent_request_mailer.request_consent.view_school_account'), school_url(@school))) %>
</p>
