<div class="row justify-content-md-center">
  <div class="col col-md-10 col-lg-8">
    <h1><%= t('onboarding.school_details.title') %></h1>

    <p>
      <%= t('onboarding.school_details.message') %>
    </p>

    <%= simple_form_for(@school, url: onboarding_school_details_path(@school_onboarding)) do |f| %>
      <%= render 'form', school: @school, school_onboarding: @school_onboarding, key_stages: @key_stages %>
    <% end %>
  </div>
</div>
