<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <%= render template: 'energy_tariffs/energy_tariff_differential_prices/new', formats: [:html] %>
    </div>
  </div>
</div>
