<p><%= t('advice_pages.electricity_long_term.analysis.summary') %></p>
<%= render 'schools/advice/long_term/analysis',
           analysis_dates: @analysis_dates,
           annual_usage: @annual_usage,
           estimated_savings_vs_benchmark: @estimated_savings_vs_benchmark,
           estimated_savings_vs_exemplar: @estimated_savings_vs_exemplar,
           fuel_type: :electricity,
           locale_key_prefix: 'advice_pages.electricity_long_term.analysis',
           multiple_meters: @multiple_meters,
           school: @school,
           vs_benchmark: @vs_benchmark,
           vs_exemplar: @vs_exemplar %>
