<td class="p-3 text-center">
  <%= fa_icon("info fa-2x") %>
</td>
<td>
  <h3 class="pt-1"><strong><%= observation.description %></strong></h3>
  <span class="text-muted"><%= nice_dates(observation.at) %></span>
</td>
