<td class="p-3 text-center">
  <%= fa_icon("#{observation.intervention_type.intervention_type_group.icon} fa-2x") %>
</td>
<td>
  <h4><%= link_to observation.intervention_type.title, school_intervention_path(@school, observation)%></h4>
  <%= nice_dates(observation.at) %>
</td>
