<td class="ml-5 p-3 text-center">
  <%= fa_icon("temperature-high fa-2x") %>
</td>
<td>
  <h3 class="pt-1"><%= link_to "Recorded temperatures in #{observation.locations.map(&:name).uniq.to_sentence}", school_temperature_observations_path(@school)%></h3>
  <span class="text-muted"><%= nice_dates(observation.at) %></span>
</td>
<% if show_actions && can?(:delete, observation) %>
  <td class="text-right">
    <div class="btn-group">
      <%= link_to 'Delete', school_temperature_observation_path(@school, observation), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
  </td>
<% end %>
