<li id="my-school-group-menu" class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="school-list-menu" href="#" role="button"
    aria-haspopup="true" aria-expanded="false">
    <%= t('my_school_group_menu.my_school_group') %>
  </a>
  <div class="dropdown-menu" aria-labelledby="school-list-menu" id="dropdown-school-list-menu">
    <%= link_to t('my_school_group_menu.group_dashboard'), school_group_path(school_group),
                class: 'dropdown-item' %>
    <% if school_group.schools.visible.any? %>
      <div class="dropdown-divider"></div>
      <% school_group.schools.visible.order(:name).each do |school| %>
        <%= link_to school.name, school_path(school), class: 'dropdown-item' %>
      <% end %>
    <% end %>
  </div>
</li>
