<% content_for :page_title, "Completed Meter Reviews for #{@school.name}" %>

<h1>Completed Meter reviews for <%= @school.name %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Date completed</th>
      <th>Number of meters</th>
      <th>Reviewer</th>
    </tr>
  </thead>
  <tbody>
    <% @meter_reviews.each do |review| %>
      <tr>
        <td><%= link_to nice_date_times(review.created_at), admin_school_meter_review_path(@school, review) %></td>
        <td><%= review.meters.count %></td>
        <td><%= review.user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
