<% title = "<p>#{t('scoreboards.prizes_para_1')}</p><p>#{t('scoreboards.prizes_para_2')} - #{link_to(
     t('scoreboards.prizes_link'), 'https://blog.energysparks.uk/fantastic-prizes-to-motivate-pupils-to-take-energy-saving-action/'
   )}</p>" %>

<%= render InfoBarComponent.new(
      status: :neutral,
      title: title.html_safe,
      icon: fa_icon('award fa-3x'),
      buttons: {}
    ) %>
