<h1>Add a new <%= controller.class::NAME %> for <%= @school.name %></h1>

<%= render 'form', school: @school, installation: @installation %>

<div class="other-actions">
  <%= link_to 'Cancel', school_solar_feeds_configuration_index_path(@school), class: 'btn' %>
</div>
