.recommendations-component img {
  min-height: 150px;
  max-height: 150px;
  object-fit: contain;
}

/* only have a max width for md and up */
@media(min-width:768px) {
  .recommendations-component .card {
    max-width: 300px;
  }
}
