<table class="table table-sm table-with-totals-footer table-sorted">
  <thead class="thead-dark">
    <% @headers.each do |header| %>
      <th class='<%= header[:class] %>'><%= header[:title] %></th>
    <% end %>
  </thead>
  <tbody>

  </tbody>
  <tfoot>

  </tfoot>
</table>
