<div class="row">
  <div class="col d-flex flex-wrap align-items-center justify-content-between">
    <h1><%= title %></h1>
    <div>
      <%= link_to 'New', new_admin_testimonial_path, class: 'btn' %>
      <%= link_to 'Testimonials', admin_testimonials_path, class: 'btn' %>
    </div>
  </div>
</div>
