<h3>Edit intervention</h3>

<%= simple_form_for([@school, @observation], url: school_intervention_path(@school, @observation)) do |f| %>
  <%= render 'form', f: f, intervention_types: @intervention_types %>
  <%= f.submit 'Update', class: 'btn btn-success' %>
<% end %>
