<h3>Edit intervention</h3>

<%= simple_form_for([@school, @observation], url: school_intervention_path(@school, @observation)) do |f| %>
  <%= render 'form', f: f, intervention_type_groups: @intervention_type_groups %>
  <%= f.submit 'Update intervention', class: 'btn btn-success' %>
<% end %>
