<h3>New intervention</h3>

<%= simple_form_for([@school, @observation], url: school_interventions_path(@school, intervention_type_group_id: @intervention_type_group.id)) do |f| %>
  <%= render 'form', f: f, intervention_types: @intervention_types %>
  <%= f.submit 'Create', class: 'btn btn-success' %>
<% end %>
