<%= render 'contract_list', title: 'Current Contracts', contracts: @contracts do %>
<div class="row">
  <div class="col">
    <p>
        This page lists all current contracts
    </p>
  </div>
</div>
<% end %>
