<%= render 'contract_list', title: 'Expiring Contracts', contracts: @contracts do %>
<div class="row">
  <div class="col">
    <p>
        This page lists all contracts that are expiring in the next month.
    </p>
  </div>
</div>
<% end %>
