<%= render 'contract_list', title: 'Future Contracts', contracts: @contracts do %>
<div class="row">
  <div class="col">
    <p>
        This page lists all contracts set to start on a future date
    </p>
  </div>
</div>
<% end %>
