<%= render 'contract_list', title: 'All Contracts', contracts: @contracts do %>
<div class="row">
  <div class="col">
    <p>
        This page lists all contracts in the system.
    </p>
  </div>
</div>
<% end %>
