<%= render 'contract_list', title: 'Provisional Contracts', contracts: @contracts do %>
<div class="row">
  <div class="col">
    <p>
        This page lists all contracts that have a provisional status
    </p>
  </div>
</div>
<% end %>
