<p>
  <%= t('target_mailer.first_target_prompt.its_time_html', school_targets_url: school_school_targets_url(@school, params: tracking_params)) %>.
</p>
<div class="s-3"></div>
<p>
  <%= t('target_mailer.first_target_prompt.well_provide_you_with_reports') %>
</p>
<div class="s-3"></div>
<p>
  <%= t('target_mailer.first_target_prompt.not_sure_whats_achievable') %>.
</p>
<%= link_to t('target_mailer.first_target_prompt.set_your_first_target'), school_school_targets_url(@school, params: tracking_params), class: 'btn btn-primary mt-3 mb-3 ax-right' %>
