.footnote-modal-component {
  .modal-header {
    background: $header-dark !important;
    align-items: center;
  }

  h3 {
    color: $white;
  }
}

.bs4 .footnote-modal-component {
  button.btn-close span {
    @include font(f3);
    color: $white;
  }
}
