<div class="text-right advice-table-caption">
  <%= additional_notice_text.html_safe if defined? additional_notice_text %>
  <%= render FootnoteModalComponent::Link.new(
        modal_id: defined?(data_target) ? data_target : 'how-have-we-analysed-your-data-footnotes'
      ) do %>
    <%= t('advice_pages.how_have_we_analysed_your_data.link_title') %>
    <%= fa_icon('question-circle', class: 'text-primary') %>
  <% end %>
</div>
