<% @how_we_analysed_modal = true %>
<div class="text-right advice-table-caption">
  <%= additional_notice_text if defined? additional_notice_text %>
  <%= component 'footnote_modal/link', modal_id: data_target do %>
    <%= t('advice_pages.how_have_we_analysed_your_data.link_title') %>
    <%= fa_icon('question-circle', class: 'text-primary') %>
  <% end %>
</div>
