<div class="text-right advice-table-caption">
  <%= @additional_notice_text %>
  <a href="" data-toggle="modal" data-target="#<%= data_target %>">
    <%= t('advice_pages.how_have_we_analysed_your_data.link_title') %>
    <span class="advice-question-icon"><%= fa_icon('question-circle') %></span>
  </a>
</div>
