<%= render 'schools/advice/index/advice_index_page', school: @school, advice_pages: @advice_pages, tab: @tab, priority_count: @priority_count, alert_count: @alert_count  do %>
  <div class="row mt-4">
    <div class="col">
      <h2><%= t('advice_pages.index.alerts.title')%></h2>
      <% if @dashboard_alerts %>
        <%= render 'schools/advice/index/alerts', dashboard_alerts: @dashboard_alerts, school: @school, content_field: :management_dashboard_title %>
      <% end %>
    </div>
  </div>
<% end %>
