<h1>Advice Pages</h1>

<div class="advice-page-breadcrumb">
  <%= render(BreadcrumbsComponent.new) do |c| %>
    <% c.with_school(@school) %>
    <% c.with_items([{ name: "Advice", href: school_advice_path(@school) }]) %>
  <% end %>
</div>

<div class="row">
  <div class="advice-page-nav">
    <%= render 'nav', school: @school, advice_pages: @advice_pages %>
  </div>
  <div class="advice-page-tabs col">
    <h2>All pages</h2>
    <% if @advice_pages.any? %>
      <% @advice_pages.each do |advice_page| %>
        <li><%= link_to advice_page.key, advice_page_path(@school, advice_page) %></li>
      <% end %>
    <% else %>
      <p>No advice pages</p>
    <% end %>
  </div>
</div>
