<h1>Advice page: <%= @advice_page.key.humanize if @advice_page %></h1>

<div class="advice-page-breadcrumb">
  <%= render(BreadcrumbsComponent.new) do |c| %>
    <% c.with_school(@school) %>
    <% c.with_items([
                      { name: "Advice", href: school_advice_path(@school) },
                      { name: @advice_page.key, href: school_advice_tab_path(@school, @advice_page.key) },
                    ]) %>
  <% end %>
</div>

<div class="row">
  <div class="col-md-2 advice-page-nav">
    <%= render 'nav', school: @school, advice_pages: @advice_pages %>
  </div>
  <div class="col-md-10 advice-page-tabs">
    <%= render @tab, school: @school, advice_page: @advice_page, tab: @tab %>
  </div>
</div>
