<div class="row">
  <div class="col-md-2 justify-content-center align-self-center">
    <h4 class="card-title">Electricity</h4>
  </div>
  <div class="col-md-6">
    <%= image_tag "placeholder-live-data.png", class: "card-img-top img-fluid" %>
  </div>
</div>
