<%= render 'enhanced_header' %>

<div class="row mt-4">
  <div class="col-md-12">
    <p>
      <%= t("school_groups.show.recent_usage_intro.#{@school_group.group_type}") %>
    </p>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-12">
    <%= render 'school_groups/advice/summary_table',
               school_group: @school_group,
               schools: @schools,
               fuel_types: @fuel_types,
               path: school_group_path(@school_group) %>
  </div>
</div>
