<h2>Meter data issues</h2>

<p>
  Attached is a CSV file with latest report on meter data issues (meters with stale data, meters with blank readings, meters with zero consumption for whole data)
</p>
