<h2>Data issues</h2>

<table class="table mt-3 mb-5">
  <thead class="thead-light">
    <tr>
      <th>Area</th>
      <th>Meter type</th>
      <th>School</th>
      <th>MPAN/MPRN</th>
      <th>Last validated reading date</th>
    </tr>
  </thead>
  <thead class="thead-light">
    <tr>
      <th colspan="4">Meters with stale data</th>
    </tr>
  <thead>
  <%= render 'meter_table', meters: @meters_running_behind %>
  <thead class="thead-light">
    <tr>
      <th colspan="4">Meters with blank readings (whole day)</th>
    </tr>
  <thead>
  <%= render 'meter_table', meters: @meters_with_blank_data %>
  <thead class="thead-light">
    <tr>
      <th colspan="4">Zero data imports (whole day)</th>
    </tr>
  <thead>
  <%= render 'meter_table', meters: @meters_with_zero_data %>
</table>
