<h1><%= @logs.size %> imports processed</h1>

<ul>
  <% @logs.each do |import_log| %>
    <li>
      <%= import_log.amr_data_feed_config.description %>: imported <%= pluralize(import_log.records_imported, 'new reading') %> on <%= import_log.import_time %>
    </li>
  <% end %>
</ul>
