<% if @installation.station_list.present? %>
  <h2>Cached site information</h2>
  <p>
    The following is a summary of the site description. It was last refreshed on
    <%= nice_date_times(@installation.updated_at) %>. Run Check API on the previous page to update this
    cached copy.
  </p>
  <% @installation.station_list.each do |station| %>
    <h3>Station <%= station['id'] %></h3>
    <table class="table">
      <thead>
        <tr>
          <th>Field</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <% station.each do |key, value| %>
          <tr>
            <th><%= key %></th>
            <td><%= value %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% else %>
  <p>There is no cached copy of the site metadata</p>
<% end %>
