<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th class="text-left-">kWh</th>
      <th class="text-right">£</th>
      <th class="text-right">CO2 kg</th>
      <th class="text-right">%</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-right"></td>
      <td class="text-right"></td>
      <td class="text-right"></td>
      <td class="text-right"></td>
    </tr>
  </tbody>
</table>
