<%= @report.introduction %>
<% if current_user&.admin? %>
  <p>
    <%= link_to 'Edit',
                edit_admin_comparisons_report_path(@report,
                                                   anchor: 'introduction'),
                class: 'btn btn-info btn-sm',
                data: { toggle: 'tooltip', placement: 'right' },
                title: 'Admin Only' %>
  </p>
<% end %>
