<% if @table_names.size > 1 %>
  <div class="mt-4">
    <ul>
      <% @table_names.each_with_index do |table_name, index| %>
        <li>
          <%= link_to table_number_and_title(index + 1, table_name), "#report-table-#{index + 1}" %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% @table_names.each_with_index do |table_name, index| %>
  <% if @table_names.size > 1 %>
    <%= render 'table_title', table_number: index + 1, table_name: table_name %>
  <% end %>
  <%= render table_name.to_s,
             results: results,
             report: report,
             advice_page: advice_page,
             table_name: table_name,
             index_params: index_params,
             headers: headers,
             colgroups: colgroups,
             advice_page_tab: advice_page_tab,
             table_number: index + 1 %>
<% end %>
