<p><%= t('comparisons.unlisted.message', count: @unlisted.length) %>.</p>

<table class="table table-borderless table-sorted advice-table">
  <thead>
    <tr>
      <th class="text-left"><%= t('common.school') %></th>
    </tr>
  </thead>
  <tbody>
    <% @unlisted&.each do |school| %>
      <tr>
        <td class='text-left'><%= link_to school.name, school_path(school) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
