<div class="custom-control custom-checkbox agreements">
  <%= check_box_tag "privacy", false, false, class: 'custom-control-input multi-select must-check' %>
  <%= label_tag "privacy", "I confirm agreement with the Energy Sparks ", class: 'custom-control-label' %>
  <%= link_to 'terms and conditions', terms_and_conditions_path, target: '_blank' %>
  and
  <%= link_to 'privacy and cookie policy', privacy_and_cookie_policy_path, target: '_blank' %>
</div>
