<div class='analysis_controls'>
  <div class="d-flex justify-content-between" role="group">
    <div>
      <button class="btn btn-rounded move_back">
        Back 1 <span class='period'>period</span>
      </button>
    </div>
    <div>
      <button class="btn btn-rounded drillup">
        Up to <span class='period'>period</span> view
      </button>
    </div>
    <div>
      <button class="btn btn-rounded move_forward">
        Forward 1 <span class='period'>period</span>
      </button>
    </div>
  </div>
</div>
