<div class="chart-controls d-flex justify-content-between pt-4">

  <div class="axis-controls">
  </div>

  <div class='analysis-controls' style='display: none;'>
    <div class="d-flex align-items-center justify-content-between" role="group">
      <span class="mr-2 align-bottom">Explore</span>
      <div>
        <button class="btn btn-sm btn-outline-dark rounded-pill explore-button move_back" disabled>
          <%= fa_icon('backward') %> Back 1 <span class='period'>period</span>
        </button>
      </div>
      <div>
        <button class="btn btn-sm btn-outline-dark rounded-pill explore-button drillup"  disabled>
          <%= fa_icon('eject') %> Up to <span class='period'>period</span> view
        </button>
      </div>
      <div>
        <button class="btn btn-sm btn-outline-dark rounded-pill explore-button move_forward" disabled>
          Forward 1 <span class='period'>period</span> <%= fa_icon('forward') %>
        </button>
      </div>
    </div>
  </div>
</div>
