<p>
  Energy Sparks alerts:
</p>

<ul>
  <li>give you warning of changes in your school's energy use</li>
  <li>highlight long term problems with your energy consumption with focused recommendations to save energy</li>
  <li>let you know if you are doing well compared to other schools and your past performance</li>
</ul>

<p>
  Short term consumption change alerts are sent weekly. Alerts telling you about your long term energy use are sent termly.
</p>
