<div id="cookie-banner" class="alert text-center mb-0" role="alert">
  <%= I18n.t('cookie_banner.notice') %>
  <%= link_to I18n.t('cookie_banner.learn_more'), cookies_path %>
  <%= render 'shared/cookie_buttons' %>
</div>
