<div class="custom-control custom-checkbox">
  <%= f.check_box field_name, class: 'custom-control-input' %>
  <%= f.label field_name, label_text ||= field_name.capitalize.to_s, class: "custom-control-label" %>
</div>
