<div class="xact-on-energy-usage">
  <h3><%= title %></h3>
  <%= render 'schools/dashboard/info_bar',
    colour: 'bg-neutral',
    icon: 'tachometer-alt fa-3x',
    content: content,
    buttons: {'Set energy saving target' => school_school_targets_path(school)}
  %>
</div>
