<% unless @dashboard_alerts.empty? %>

  <div class="act-on-energy-usage">
    <h3><%= title %></h3>
    <% @dashboard_alerts.each do |alert_content|%>
      <%= render 'schools/dashboard/info_bar',
        colour: class_for_alert_colour(alert_content.colour),
        icon: alert_icon(alert_content.alert, 'fa-3x'),
        content: alert_content.send(content_field),
        buttons: alert_content.find_out_more ? {'Find out more&hellip;' => school_find_out_more_path(@school, alert_content.find_out_more)} : {}
      %>
  <% end %>
  <% if @dashboard_alerts.size > 1 %>
    <div class="row">
      <div class="col text-center">
        <a href="#" class="btn btn-rounded more-alerts">Show <%= pluralize((@dashboard_alerts.size - 1), 'more alert')%></a>
      </div>
    </div>
  <% end %>
</div>

<% end %>
