<li class="nav-item dropdown pt-2">
  <a class="dropdown-toggle btn btn-sm" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dashboards</a>
  <div class="dropdown-menu">
    <%= link_to 'Pupil dashboard', pupils_school_path(@school), class: 'dropdown-item' if show_pupils_dashboard_button? %>
    <%= link_to 'Teacher dashboard', teachers_school_path(@school), class: 'dropdown-item' if show_teachers_dashboard_button? %>
    <%= link_to 'Management dashboard', management_school_path(@school), class: 'dropdown-item' if show_management_dashboard_button? %>
  </div>
</li>
