<% charts.each_with_index do |(fuel_type, chart_type_config), index| %>
  <div id="chart_wrapper_<%= index %>" class="col-sm">
    <div class="d-flex justify-content-between align-items-center">

      <div class="h4"><%= t("charts.dashboard.#{fuel_type}.title") %></div>

      <% if [Schools::Configuration::TEACHERS_GAS, Schools::Configuration::TEACHERS_STORAGE_HEATERS].include?(chart_type_config[:chart_type]) %>
        <span class="very-small" title="This chart automatically adjusts the school's consumption for outside temperature, removing the effect of changes in outside temperature">(Adjusted for outside temperature)</span>
      <% elsif [Schools::Configuration::TEACHERS_ELECTRICITY].include?(chart_type_config[:chart_type]) && school.has_storage_heaters? %>
        <span class="very-small" title="This data excludes the electricity used by the school's storage heaters">(excluding storage heaters)</span>
      <% end %>

      <div>
        Explore
        <%= link_to t("charts.dashboard.#{fuel_type}.usage"), pupils_school_analysis_path(school, category: fuel_type) %>
      </div>
    </div>

    <%= chart_tag(school, chart_type_config[:chart_type], index: index, show_advice: false, no_zoom: true, chart_config: {y_axis_units: 'gb_pounds'}) %>

  </div>
<% end %>
