<% if dashboard_alert %>
  <div class="row">
    <div class="col-md-12">
      <%= render 'schools/dashboard_alerts/alert', alert: dashboard_alert.alert, content: dashboard_alert_content, school: school, find_out_more: dashboard_alert_content.find_out_more, dashboard_title: dashboard_alert_content.teacher_dashboard_title %>
    </div>
  </div>
<% end %>