<% if @school || @tariff_holder.school? %>
  <% if show_pupils_dashboard_button? %>
    <li class="nav-item mt-2 px-2"><%= link_to t('dashboards.pupil_dashboard'), pupils_school_path(@school || @tariff_holder) %></li>
  <% end %>

  <% if show_adult_dashboard_button? %>
    <li class="nav-item mt-2 px-2">
      <% if user_signed_in? && current_user.pupil? %>
        <%= link_to t('dashboards.adult_dashboard'), school_path(@school || @tariff_holder, switch: true) %>
      <% else %>
        <%= link_to t('dashboards.adult_dashboard'), school_path(@school || @tariff_holder) %>
      <% end %>
    </li>
  <% end %>
<% end %>
