<% if @dashboard_alert %>

  <div class="act-on-energy-usage">
    <h3>Act on energy usage</h3>
    <%= render 'schools/dashboard/info_bar',
          colour: class_for_alert_colour(@dashboard_alert_content.colour),
          icon: alert_icon(@dashboard_alert.alert, 'fa-3x'),
          content: @dashboard_alert_content.teacher_dashboard_title,
          buttons: @dashboard_alert_content.find_out_more ? {'Find out more&hellip;' => school_find_out_more_path(@school, @dashboard_alert_content.find_out_more)} : {}
    %>
  </div>

<% end %>