<% if subject.errors.any? %>
  <div id="error_explanation" class="alert alert-danger" role="alert">
    <h2><%= pluralize(subject.errors.count, "error") %> prohibited this <%= subject_name %> from being saved:</h2>
    <ul>
    <% subject.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
