<!-- Footer -->
<footer class="text-xs-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
        </div>
        <div class="footer-col col-md-4">
          <h3>Around the Web</h3>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/energysparksbath" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/energy_sparks" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/BathHacked/energy-sparks" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
            </li>
          </ul>
        </div>
        <div class="footer-col col-md-4">
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Content on this website is published under <a href="https://creativecommons.org/licenses/by/4.0/">a Creative Commons Attribution 4.0 Licence</a>.
        </div>
      </div>
    </div>
  </div>
</footer>
<%= content_for :google_analytics %>
