<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Manage</a>
  <div class="dropdown-menu">
    <%= link_to "Admin", admin_path, class: 'dropdown-item' %>
    <%= link_to "Reports", admin_reports_path, class: 'dropdown-item' %>
  </div>
</li>
