<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="ourSchoolsDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Our schools</a>
  <div class="dropdown-menu" aria-labelledby="ourSchoolsDropDown">
    <%= link_to "View schools", schools_path, class: 'dropdown-item' %>
    <%= link_to "Scoreboards", scoreboards_path, class: 'dropdown-item' %>
    <%= link_to "Compare schools", benchmarks_path, class: 'dropdown-item' %>
  </div>
</li>
