<div class="row dashboards mt-4 mb-4">
  <div class="col-md-6 text-center">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h2><%= school.name  %> Staff</h2>
        </div>
        <div class="card-text">
          <%= link_to t('devise.sessions.new.log_in_with_your_email_address_and_password'), new_user_session_path(role: :staff, school: school), class: 'btn btn-rounded'%>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 text-center">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h2><%= school.name  %> Pupils</h2>
        </div>
        <div class="card-text">
          <%=  link_to t('devise.sessions.new.log_in_with_your_pupil_password'), new_user_session_path(role: :pupil, school: school), class: 'btn btn-rounded'%>
        </div>
      </div>
    </div>
  </div>
</div>
