<nav class="navbar navbar-expand-sm bg-secondary navbar-dark sub-navbar">
  <div class="container">
    <h1><%= link_to @school.name, school_path(@school) %></h1>
    <% if @school.scoreboard %>
    <h2 class="display-6">
      <span class="badge badge-success align-bottom">
        <% if @school.points.positive? %>
          <%= @school.points %> points
          <% if @school.points_since > 0 %>
            <i class="fa fa-arrow-up" data-toggle="tooltip" title="School has scored points in the last month"></i>
          <% end %>
        <% else %>
          No points yet
        <% end %>
      </span>
      <% if @school.points.positive? %>
        <span class="nav-link badge badge-pill badge-primary">Current position <%= @school.scoreboard.position(@school) + 1 %></span>
      <% end %>
    </h2>
    <%= link_to 'View scoreboard', scoreboard_path(@school.scoreboard), class: 'btn btn-warning' %>
    <% end %>
  </div>
</nav>