<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="switchSchoolsDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Switch Schools</a>
  <div class="dropdown-menu" aria-labelledby="switchSchoolsDropDown">
    <% current_user.cluster_schools.visible.each do |school| %>
      <%= link_to school.name, school_switcher_path(school_id: school.id), method: :post, class: 'dropdown-item' %>
    <% end %>
  </div>
</li>
