<div class="ribbon">
  <div class="ribbon-stitches-top"></div>
  <div class="ribbon-content">
    <h1><b title="Analytics version: <%= Dashboard::VERSION %>">Test Site!</b></h1>
  </div>
  <div class="ribbon-stitches-bottom"></div>
</div>