<%= render Admin::HeaderNavComponent.new do |header_nav| %>
  <% header_nav.with_header title: "#{@contract_holder.name} Contracts" %>
<% end %>

<div class="row">
  <div class="col">
    <p>
      <%= link_to 'New contract', new_admin_commercial_contract_path,
                  class: 'btn btn-primary btn-sm' %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>The following table lists all current, historical and future contracts held by <%= @contract_holder.name %>.</p>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <%= render Commercial::ContractsComponent.new(contracts: @contracts, show_contract_holder: false) %>
  </div>
</div>
