.prompt-component {
  border-radius: 8px;
  &.none {
    background-color: $neutral-light !important;
  }
  &.negative {
    background-color: $negative-light !important;
  }
  &.positive {
    background-color: $positive-light !important;
  }
  &.neutral {
    background-color: $neutral-light !important;
  }
  div.row {
    margin: 0.25rem 0.25rem;
  }
}
