<div class="application container">
  <div class="row">
    <div class="col-md-8">
      <h1><%= t('case_studies.title') %></h1>
    </div>
    <div class="col-md-4 text-right">
      <% if all_case_studies_count > case_studies.size %>
        <%= link_to t('case_studies.more_case_studies'), case_studies_path, class: 'btn mt-2' %>
      <% end %>
    </div>
  </div>
  <% case_studies.in_groups_of(3, false).each do |group| %>
    <div class="card-deck mb-4">
      <% group.each do |case_study| %>
        <%= render 'case_studies/case_study_card', case_study: case_study %>
      <% end %>
    </div>
  <% end %>
</div>
