<div class=" mt-3">
  <div class="application container">

    <h2>Case studies</h2>
    <div class="card-deck">
      <div class="card">
        <div class="card-header bg-positive">Case Study 1: Freshford Church School</div>
        <div class="card-body">
          <p class="card-text">Using energy information provided by Energy Sparks to reduce annual electricity costs by <strong>£740</strong>.</p>
        </div>
        <div class="card-footer">
          <%= link_to asset_path('Energy_Sparks_Case_Study_1_-_Freshford_Freezer.pdf'), class: 'btn btn-primary' do %>
            Download <i class="fas fa-file-download"></i>
          <% end%>
        </div>
      </div>
      <div class="card">
        <div class="card-header bg-positive">Case Study 2: Whiteways Primary School</div>
        <div class="card-body">
          <p class="card-text">Using energy information provided by Energy Sparks to save <strong>35%</strong> in annual gas use.</p>
        </div>
        <div class="card-footer">
          <%= link_to asset_path('Energy_Sparks_Case_Study_2_-_Whiteways_Boiler.pdf'), class: 'btn btn-primary' do %>
            Download <i class="fas fa-file-download"></i>
          <% end%>
        </div>
      </div>
      <div class="card">
        <div class="card-header bg-positive">Case Study 3: Storage Heater Control</div>
        <div class="card-body">
          <p class="card-text">Using Energy Sparks to reduce storage heater costs by <strong>28%</strong>. This saving covered the installation cost within 16 weeks.</p>
        </div>
        <div class="card-footer">
          <%= link_to asset_path('Energy_Sparks_Case_Study_3_-_Stanton_Drew_Storage_Heaters.pdf'), class: 'btn btn-primary' do %>
            Download <i class="fas fa-file-download"></i>
          <% end%>
        </div>
      </div>
    </div>
  </div>
</div>
