<style>

.curly-quotes:before, .curly-quotes:after {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  line-height: 28px;
  font-size: 50px;
}

.curly-quotes:before {
  content: '\201C';
  margin-right: 4px;
  margin-left: -8px;
}

.curly-quotes:after {
  content: '\201D';
  margin-left: 4px;
  margin-right: -8px;
}

.quote-by {
  display: block;
  padding-right: 10px;
  text-align: right;
}

.quote-by .very-small {
  margin: 0px;
}

</style>

<div class="row bg-light-blue p-5 justify-content-center">
<div class="testimonial col-10">
  <blockquote class="quotes">Engaging with Energy Sparks has been a really worthwhile experience. Not only has the school saved money, the children have become more aware of the ways that they can help to reduce energy use&hellip;</blockquote>
  <figcaption class="quote-by">
    <strong>Jennie Nixon</strong>
    <p class="very-small">Head of School</p>
    <p class="very-small">Whiteways Primary School, Sheffield</p>
  </figcaption>
</div>
</div>
