<div class="row bg-light-blue p-5 justify-content-center">
  <div class="testimonial col-10">
    <blockquote class="quotes"><%= sanitize quote %></blockquote>
    <figcaption class="quote-by">
      <strong><%= by %></strong>
      <p class="very-small"><%= title %></p>
      <p class="very-small"><%= location %></p>
    </figcaption>
  </div>
</div>
