<div class="row bg-light pb-4 pt-4">
  <div class="card-deck col-md-12">
    <div class="card rounded">
      <%= image_tag(column_one, class: "img-fluid card-img-top") %>
    </div>
    <div class="card rounded">
      <%= image_tag(column_two, class: "img-fluid card-img-top") %>
    </div>
  </div>
</div>
