<% content_for :page_title do %>
About
<% end %>
<div class="application container">

  <div class="row padded-row">
    <div class="col-md-12">
      <h1 id="intro">What is EnergySparks?</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 callout-text">
      <p>
        <strong>EnergySparks is a community built and run service.</strong></p>
      <p>
        <strong>Our goal is to help support our local schools in become more energy efficient</strong>
      </p>
    </div>
    <div class="col-md-8">
      <p>
        EnergySparks is a free to use service for schools in Bath & North East Somerset. It has developed out of
        <a href="http://transitionbath.org/schoolsenergy/">an ongoing project</a> co-ordinated by
        <a href="http://transitionbath.org/">Transition Bath</a> which aims to help schools become more energy efficient.
      </p>
      <p>
        The key goal of EnergySparks is to support and encourage schools to make long term changes to their energy
        consumption.
      </p>
      <p>
        The Transition Bath project has already demonstrated that behavioural change in schools can
        <a href="http://transitionbath.org/results-bnes-schools-energy-competition-20-average-reduction-electricity-consumption-13-schools/">lead to a 20% reduction in electricity consumption</a>.
        This can result in big savings for the schools and numerous environmental benefits.
      </p>
      <p>
        The service has been developed by a <%= link_to "team", team_path %> of experts, developers and volunteers
        from across the community. We believe that a community lead approach is best placed to create real impact.
      </p>
      <p>
        Read further coverage about the projects from our partners and sponsors:
      </p>

      <ul class="">
        <li><a href="https://www.bathhacked.org/projects/energy-sparks/introducing-energy-sparks/">Introducing Energy Sparks</a></li>
        <li><a href="https://theodi.org/blog/odi-showcase-winners-qa-energy-sparks">EnergySparks Q&A with the Open Data Institute</a></li>
        <li><a href="http://transitionbath.org/schoolsenergy/energysparks/">EnergySparks overview from Transition Bath</a></li>
      </ul>
    </div>
  </div>

  <div class="row padded-row">
    <div class="col-md-12">
      <h1 id="features">What does the service do?</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 callout-text">
      <p>
        <strong>EnergySparks generates simple charts and summaries of gas and electricity usage</strong></p>
      <p>
      <p>
        <strong>The service builds a record of achievement that could help a school gain Eco-School status</strong></p>
      <p>
    </div>
    <div class="col-md-8">
      <p>
        Local schools already have smart meters installed which regularly collect details of their gas and electricity
        usage. This data is already aggregated into existing platforms that support metering and billing. But currently
        little use is made of the data to help reduce energy consumption.
      </p>
      <p>
        Many schools are working towards gaining the <a href="http://www.eco-schools.org.uk/">Eco-school</a> award.
        Energy efficiency is a required part of that programme and schools need to demonstrate that they have not
        just used their energy usage data to reduce consumption, but have also engaged pupils in activities around the
        school.
      </p>
      <p>
        EnergySparks supports schools by:
      </p>
      <ul>
        <li>Presenting simple charts and summaries of energy usage data, suitable for use by teachers, parents
        and pupils</li>
        <li>Providing a means to record activities taken to reduce consumption, building up a record that can demonstrate
        progress towards Eco-School status</li>
        <li>Turning behavioural change into a game, to engage pupils in scoring points and unlocking achievements
        for their school</li>
      </ul>
      <p>
        The service is free to use and also provides a variety of resources that can help schools take effective action.
      </p>
    </div>
  </div>

  <div class="row padded-row">
    <div class="col-md-12">
      <h1 id="funding">How is the service funded?</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 callout-text">
      <p>
        <strong>EnergySparks was originally funded by a £7,000 grant from the Open Data Institute</strong></p>
      <p>
      <p>
        <strong>We will be looking for further funding in 2017</strong></p>
      <p>
    </div>
    <div class="col-md-8">
      <p>
        EnergySparks is a primarily volunteer-led project. Developers and energy experts from across the local community
        have devoted their time and energy to make EnergySparks a reality.
      </p>
      <p>
        In September 2017 the <a href="http://theodi.org/">Open Data Institute</a> (ODI)
        <a href="http://theodi.org/news/odi-showcase-winners-announced-for-our-summer-call">awarded the project</a>
        a £7,000 grant to develop the proof-of-concept application into a beta service that can be trialed by local
        schools.
      </p>
      <p>
        The ODI grant has been used to fund development of the application and running costs through until the end of 2017.
      </p>
      <p>
        The service is operated by Bath: Hacked and draws on their community-owned open data platform to host the
        energy usage data.
      </p>
      <p>
        The project is looking for additional funding in 2017 to:
      </p>
      <ul>
        <li>Develop and run a competition for local schools to encourage them to adopt and use the service</li>
        <li>Cover costs for further application development and creation of open educational resources</li>
        <li>Support the ongoing running costs of the application</li>
      </ul>
      <p>
        If you are able to support the project then please <a href="mailto:hello@energysparks.uk">email us</a>!
      </p>
    </div>
  </div>

  <div class="row padded-row">
    <div class="col-md-12">
      <h1 id="get-involved">How can I get involved?</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 callout-text">
      <p>
        <strong>We want teachers, parents and pupils to be involved with the project</strong></p>
      <p>
      <p>
        <strong>We are looking for developers to help us develop the application further</strong></p>
      <p>
    </div>
    <div class="col-md-8">
      <p>
        If you are a governor, parent or teacher from one of the local schools who are eligible to join the
        beta programme, then we'd like to get you enrolled. Please read through the guidance and then
        <a href="mailto:hello@energysparks.uk">email us</a> to discuss next steps and any questions.
      </p>
      <p>
        If you want to contribute to the development and running of the service then take a look at our
        <a href="http://github.com/bathhacked/energy-sparks">github project</a>. This is where we are co-ordinating
        development of the application, including adding new features, bug fixes and testing.
      </p>
      <p>
        If you are interested in running EnergySparks outside of Bath & North East Somerset then please
        <%= link_to "get in touch", contact_path %>. We're keen to help other local groups setup and run the
        service for the benefit of their local schools.
      </p>
    </div>
  </div>

  <div class="row padded-row">
    <div class="col-md-12">
      <h1 id="open-data">What is open data?</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 callout-text">
      <p>
        <strong>Open data is data that anyone can access, use and share</strong></p>
      <p>
      <p>
        <strong>Open data enables schools and the local community to work together</strong></p>
      <p>
    </div>
    <div class="col-md-8">
      <p>
        Open data is data that anyone can access, use and share. By making data available under an open licence
        governments, cities and organisations around the world are able to collaborate to
        <a href="https://theodi.org/what-is-open-data">solve a variety of environmental, social and economic problems</a>.
      </p>
      <p>
        In Bath & North East Somerset, <a href="https://www.bathhacked.org">Bath: Hacked</a> are working with
        the council, local organisations and community groups to unlock the value of open data. This involves creating
        maps, applications and services that use open data to help us be better informed about our local area.
      </p>
      <p>
        By sharing their energy usage data with the community, local schools can tap into a wealth of local
        expertise that can unlock insights from that data. EnergySparks is an example of the type of service that
        can be built on open data by local communities to collaboratively address local issues.
      </p>
      <p>
        Read more about <%= link_to "the open data we use", datasets_path %>.
      </p>
    </div>
  </div>


</div>