<% content_for :page_title, 'Dataset attribution' %>
<div class="application container">
  <div class="row padded-row">
    <div class="col">
      <h1 id="intro">Dataset attributions</h1>

      <p>Energy Sparks relies on a number of public and open datasets. Here is a list of the third-party datasets which we import and use on the site.</p>

      <table class="table table-sorted">
        <thead>
          <tr>
            <th>
              Data
            </th>
            <th>
              Source
            </th>
            <th>
              Terms
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Address locations
            </td>
            <td>
              <a href="http://postcodes.io/about">Postcodes.io</a>.
              <br>Contains Ordnance Survey data © Crown copyright and database right 2021.
              <br>Contains Royal Mail data © Royal Mail copyright and database right 2021
            </td>
            <td><a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence</a>.</td>
          </tr>
          <tr>
            <td>
              Estimated Carbon Intensity data
            </td>
            <td>
              <a href="https://carbonintensity.org.uk/">Carbon Intensity Data</a>
            </td>
            <td><a href="https://creativecommons.org/licenses/by/4.0/">CC-BY 4.0</a></td>
          </tr>
          <tr>
            <td>
              Estimated Solar PV Generation
            </td>
            <td>
              <a href="https://www.solar.sheffield.ac.uk/">Sheffield PV Live</a>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              Historical Temperature data
            </td>
            <td>
              <a href="https://meteostat.net/" target="_new">Meteostat</a>.
              <br>Raw data provided by <a href="https://www.noaa.gov/" target="_new">NOAA</a>, <a href="https://www.dwd.de/" target="_new">DWD</a> and
              <a href="https://dev.meteostat.net/docs/sources.html" target="_new">others</a>.
            </td>
            <td><a href="https://creativecommons.org/licenses/by-nc/4.0/legalcode">CC-BY-NC 4.0</a></td>
          </tr>
          <tr>
            <td>
              Maps
            </td>
            <td>
              <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>
              <br>© <a href="https://stadiamaps.com/">Stadia Maps</a>,
              © <a href="https://openmaptiles.org/">OpenMapTiles</a> © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors
            </td>
            <td><a href="https://opendatacommons.org/licenses/odbl/">ODbL</a></td>
          </tr>
          <tr>
            <td>
              Weather forecast
            </td>
            <td>
              <a href="https://darksky.net/poweredby/">Powered by Dark Sky</a>.
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>

      <p>You can also read more about the <%= link_to "school energy generation and usage data", datasets_path %> we use and make available.</p>

    </div>
  </div>


</div>
