<% content_for :page_title, 'Child safeguarding policy' %>
<div class="application container">
  <div class="row padded-row justify-content-md-center">
    <div class="col col-md-10 col-lg-8">
      <h1>Child safeguarding policy</h1>

<p>At Energy Sparks we support children and young people to develop energy saving life skills, to reduce their school’s carbon footprint, and to fight climate change.</p>

<p>Our staff, contractors and volunteers listen to and support children and young people within an ethos of respect, care and responsibility. </p>

<h3>Principles</h3>

<p>Energy Sparks takes seriously its responsibility to protect and safeguard the welfare of the children and young people it supports. </p>

<p>This safeguarding policy applies to all Energy Sparks staff, contractors, and volunteers working in schools or with children and young people at events.</p>

<p>Energy Sparks staff and trustees are committed to:</p>
<ul>
<li>ensuring Energy Sparks practises safer recruitment in checking the suitability of staff, contractors and volunteers to work with children; </li>
<li>appoint a Designated Safeguarding Lead (DSL) for Safeguarding/child protection (Paula Malone, Project and Volunteer Co-ordinator and Education Support) and a Deputy DSL (Claudia Towner, CEO) who have received appropriate training for this role;</li>
<li>ensuring that all staff, contractors and volunteers understand, and follow this safeguarding policy;</li>
<li>ensuring all staff, contractors and volunteers are aware of signs and symptoms of physical, sexual, emotional abuse and neglect and know the correct procedure for referring concerns, or reporting allegations;</li>
<li>ensuring all volunteers understand their responsibilities in being alert to the signs of abuse and their responsibility for referring any concerns to the DSL.</li>
</ul>

<h3>Safe recruitment of staff, contractors and volunteers</h3>

<p>The Energy Sparks CEO is responsible for ensuring that all staff and contractors who will be working in schools are suitable and safe to work unaccompanied with children.</p>

<p>The Energy Sparks Volunteer Co-ordinator is responsible for ensuring that all volunteers working on behalf of Energy Sparks are suitable and safe to work unaccompanied with children.</p>

<p>All staff, contractors and volunteers must be 18 years old or over. New staff, contractors and volunteers will always be interviewed to assess their fit for the role. All new staff, contractors and volunteers will be required to share ID to confirm their eligibility to work or volunteer in the UK and to support DBS criminal record checks where applicable to the role. </p>

<p>Two references are obtained for any new staff member, contractor or volunteer who will be working with children and young people. References are used to confirm the good character of the individual and, wherever possible, their suitability to work with children. Where relevant, at least one referee should be the staff, contractor or volunteer’s current employer or university tutor/supervisor. </p>

<p>All staff, contractors or volunteers who will be working with children or young people in schools are required to have an enhanced DBS check and subscribe to the DBS Update Service to allow schools to verify DBS checks as required. Energy Sparks will not use staff, contractors or volunteers in schools that have been convicted of an offence or have been the subject of an order that disqualifies them from working with children. Staff, contractors and volunteers are expected to declare any new convictions, cautions, court orders, reprimands and warnings which may affect their suitability to work with children. </p>

<p>When Energy Sparks uses volunteers provided through the STEM Ambassadors programme, STEM Ambassadors confirms that all registered volunteers will have completed DBS checks and Child Protection training. These checks and training will not be repeated by Energy Sparks.</p>

<h3>Safe Induction of Staff, Contractors and Volunteers</h3>

<p>All individuals who will be working with children and young people will be required to complete the NSPCC Child Protection course Level 2 or similar, or provide evidence of a similar Child Protection course completed in the last 3 years. The Energy Sparks’ DSL and Deputy DSL will complete Child Protection Training at yearly intervals. </p>

<p>New staff, contractors and volunteers will receive induction training on the Energy Sparks tool and activities with guidance and support on working effectively in schools. </p>

<h3>Safe Supervision of Volunteers working in schools</h3>

<p>New host schools will be required to sign an Energy Sparks school agreement confirming their support and supervision of volunteers placed in their school. Volunteers will also be required to sign a Volunteer agreement confirming their agreement with the behaviour and performance expectations whilst volunteering on behalf of Energy Sparks. </p>

<h3>Recognising Abuse</h3>

<p><strong>Abuse:</strong> a form of maltreatment of a child. Somebody may abuse or neglect a child by inflicting harm or by failing to act to prevent harm. Children may be abused in a family or in an institutional or community setting by those known to them or, more rarely, by others (e.g. via the internet). They may be abused by an adult or adults or by another child or children.</p>

<p><strong>Neglect</strong>: the persistent failure to meet a child’s basic physical and/or psychological needs, likely to result in the serious impairment of the child’s health or development. Neglect may occur during pregnancy as a result of maternal substance misuse. Once a child is born, neglect may involve a parent or carer failing to:</p>
<ul>
<li>Provide adequate food, clothing and shelter (including exclusion from home or abandonment)</li>
<li>Protect a child from physical and emotional harm or danger</li>
<li>Ensure adequate supervision (including the use of inadequate care givers)</li>
<li>Ensure access to appropriate medical care or treatment.</li>
<li>Respond to a child’s basic emotional needs.</li>
</ul>

<p><strong>Physical abuse:</strong> a form of abuse which may involve hitting, shaking, throwing, poisoning, burning or scalding, drowning, suffocating, or otherwise causing physical harm to a child. Physical harm may also be caused when a parent or carer fabricates the symptoms of, or deliberately induces, illness in a child.</p>

<p><strong>Sexual abuse:</strong> involves forcing or enticing a child or young person to take part in sexual activities, including prostitution, whether or not the child is aware of what is happening. The activities may involve physical contact, including penetrative (e.g. rape, anal or oral sex) or non-penetrative acts. They may include non-contact activities such as involving children in looking at, or in the production of sexual online images, watching sexual activities, or encouraging children to behave in sexually inappropriate ways.</p>

<p><strong>Emotional abuse:</strong> is the persistent emotional maltreatment of a child such as to cause severe and persistent adverse effects on a child’s emotional development. It may involve conveying to children that they are worthless and unloved, inadequate, or valued only insofar as they meet the needs of another person. It may feature age or developmentally inappropriate expectations being imposed on children. These may include interactions beyond the child’s developmental capability, as well as the overprotection and limitation of exploration and learning, or preventing the child from participating in normal social interaction. It may involve seeing or hearing the ill-treatment of another. It may involve serious bullying (including cyberbullying), causing children frequently to feel frightened or in danger, or the exploitation or corruption of children. Some level of emotional abuse is involved in all types of maltreatment of a child, although it may occur alone.</p>

<h3>Maintaining professional boundaries for Energy Sparks staff, contractors or volunteers working in schools</h3>

<p>Energy Sparks staff, contractors and volunteers are expected to always maintain professional boundaries to reduce the risks of allegations and help keep young people safe from harm.</p>
<p>Staff, contractors or volunteers must never:</p>
<ul><li>Spend time alone, including online, with young people away from others, </li>
<li>Make inappropriate or unnecessary physical contact with young people</li>
<li>Develop relationships with young people which could in any way be deemed exploitative or abusive</li>
<li>Act in ways that may be abusive or may place young people at risk of abuse</li>
<li>Use language, make suggestions or offer advice which is inappropriate or sexually provocative</li>
<li>Condone or participate in behaviour of a young person which is illegal, unsafe or abusive</li>
<li>Act in ways intended to shame, humiliate, belittle or degrade a young person or otherwise perpetrate any form of emotional abuse</li>
<li>Photograph, audio record or film young people via any medium without adequate authorisation</li>
<li>Share personal contact details, including social media, with a young person</li>
</ul>

<h3>Visiting schools safely</h3>
<p>When an Energy Sparks staff member, contractor or volunteer comes into a school, they are to do so as a visitor and should comply with the school’s safeguarding and child protection policies for visitors. Energy Sparks staff, contractors and volunteers will confirm their identity upon arrival and wear a visitors badge for the duration of their visit.</p>

<h3>Visiting schools remotely</h3>

<p>When an Energy Sparks staff member, contractor or volunteer has reason to communicate remotely with school pupils they must do so using an online channel agreed in advance by the school and Energy Sparks.  This will be either Microsoft Teams or Google Meet.  This meeting will be scheduled by the Energy Sparks Volunteer Co-ordinator or the school contact.  A member of the school staff will be in the same room as the online meeting.  Online meetings will not take place 1:1 between the Energy Sparks staff member, contractor or volunteer and pupils.</p>

<h3>Handling safeguarding disclosures and concerns</h3>

<p>If a young person makes a disclosure to a staff member, contractor or volunteer, it is important to:</p>
<ul><li>Take everything that is said seriously</li>
<li>Listen carefully, keeping calm. Do not interrupt, but actively listen.  Follow the TED acronym to gain information.</li>
<ul><li><strong>T</strong>ell me what happened</li>
<li><strong>E</strong>xplain …</li>
<li><strong>D</strong>escribe ...</li></ul>
<li>Reassure the child or young person that they have done the right thing by telling you</li>
<li>Explain you will need to tell someone, but only those who need to be told</li>
</ul>

<p>It is important to not:</p>
<ul>
<li>Panic</li>
<li>Make any promises of secrets</li>
<li>Ignore what you have been told</li>
<li>Ask probing questions</li>
<li>Assume anything or elaborate in your notes</li>
</ul>

<h3>Next Steps</h3>

<p>You should pass on the information to the safeguarding lead in the school you are working with, they will decide if further action is required and tell you what they will do, as appropriate.</p>

<p>You should speak to the safeguarding lead on the same working day that the disclosure  or concern arises. Ask the school office or the teacher you are working with for advice on who to talk to. You should also report the concern to the Energy Sparks DSL (Paula Malone) or if unavailable to the Deputy Designated person (Claudia Towner). Depending on the nature of the concern the Energy Sparks DSL will liaise with the school DSL to manage the concern and next steps. </p>

<h3>What to Record</h3>

<p>After speaking to the safeguarding lead, you must note what you have seen and heard, and your following actions. The sooner you write your notes, the more information you are likely to remember accurately. Any recording information should only be shared with the
school and Energy Sparks safeguarding leads. In your notes, remember to include details of who the young person was, when it happened and what was said and what your next steps were, including who you reported it to.</p>

<h3>Concerns relating to Energy Sparks staff, contractors or volunteers</h3>

<p>If a safeguarding concern or allegation of abuse concerns an Energy Sparks staff member, a contractor or volunteer at a school, the concern should be raised with the Local Area Designated Officer for the Local Authority within which the school sits. Their contact details can be found on the website for the relevant Local Authority. Energy Sparks will follow the Energy Sparks Staff, Contractors and Volunteer Disciplinary Procedure when handling the concern or allegation.</p>

<p><strong>Energy Sparks Designated Safeguarding Lead: Paula Malone - </strong><strong><u><a href="mailto:paula.malone@energysparks.uk" target="_blank">paula.malone@energysparks.uk</a></u></strong><strong>. 07928 318338 </strong></p>

<p><strong>Deputy Safeguarding Lead: Claudia Towner - </strong><strong><u><a href="mailto:claudia.towner@energysparks.uk" target="_blank">claudia.towner@energysparks.uk</a></u></strong><strong>. 01225 723924</strong></p>

<p><strong>If the above are unobtainable: NSPCC Helpline 0808 800 5000</strong></p>
<p><strong>NSPCC whistleblowing helpline 0800 028 0285</strong></p>

<p><strong>This policy will be reviewed annually. </strong></p>

<p><strong>Last </strong><strong>Updated: </strong><strong>11th December</strong><strong> 20</strong><strong>20</strong><strong> </strong></p>

    </div>
  </div>
</div>
