<% content_for :page_title, t('child_safeguarding_policy.title') %>
<div class="application container">
  <div class="row justify-content-md-center">
    <div class="col col-md-10 col-lg-8">
      <%= t('child_safeguarding_policy.content_html') %>
    </div>
  </div>
</div>
