<% content_for :page_title, 'Contact us' %>

<div class="application container">
  <div class="row padded-row">
    <div class="col-md-6">
      <h1>Contact us</h1>
    </div>
    <div class="col-md-6">

    </div>
  </div>

  <div class="row">
    <div class="col-md-3 callout-text">
      <p><strong>Questions?</strong></p><p>
    </div>
    <div class="col-md-5">
      <p>If you have any questions or comments relating to Energy Sparks then please email us at</p>
      <p><a href="mailto:hello@energysparks.uk">hello@energysparks.uk</a></p>
      <p>and one of the team will get in touch shortly.</p>
    </div>
    <div class="col-3">
      <%= image_tag("actions/radiator-thermostat.png", class: "img-fluid") %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 callout-text">
    </div>
    <div class="col-md-8">
            <p>You can contact us with questions about your gas and electricity data, ask us for advice to increase the energy savings at your school, ask us for support with running your pupil energy team, or report a problem with the website. You can also provide suggestions for improving Energy Sparks to better meet your needs. If you'd like to see a new feature please let us know.</p>
      <p>You can also contact us via social media:</p>

      <ul>
        <li>You can find us on twitter <a href="https://twitter.com/EnergySparks">@EnergySparks</a></li>
        <li>And on Facebook at <a href="https://www.facebook.com/EnergySparksUK/">@EnergySparksUK</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 callout-text">
      <p><strong>Problem Reporting</strong></p>
    </div>
    <div class="col-md-8">
      <p>If you are reporting a problem with the service, please try to include as much detail in your email as possible, including which web browser and operating system you are using, the URL (address) of the page and when you experienced the problem.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 callout-text">
      <p><strong>Further Information</strong></p>
    </div>
    <div class="col-md-8">
      <p>In the meantime you can:</p>
      <ul>
        <li>Read <%= link_to "about EnergySparks", for_teachers_path %> and the goals of the project</li>
        <li>Learn how to <%= link_to "enrol your school", enrol_path %></li>
        <li>Discover what <%= link_to "open data", datasets_path %> we use in the service</li>
      </ul>
    </div>
  </div>
</div>
