<% content_for :page_title, 'Enrol' %>

<div class="application container">
  <div class="row padded-row">
    <div class="col-md-12">

      <h1 id="how">How do I enrol my school?</h1>
      <p>Check the <%= link_to 'Energy Sparks Schools page', schools_path %> to see if we already work with your Local Authority or Schools Trust. If you buy energy through your Local Authority or Schools Trust then we can normally quickly and easily access your energy data.</p>

      <h1 id="process">What is the process to enrol my school?</h1>
      <p>The process is very straight-forward. The main thing we need from your school is permission to publish your energy usage data to Energy Sparks.</p>
      <p>The setup process involves the following steps:</p>
      <ol>
        <li>The head teacher or school business manager must send an email to <a href="mailto:hello@energysparks.uk">hello@energysparks.uk</a> asking to be enrolled in the Energy Sparks programme. Please include in your email:</li>
          <ul>
            <li>Contact Name</li>
            <li>Role within the school (i.e. Business Manager, Eco team leader, Teacher)</li>
            <li>Local authority</li>
            <li>Email Address</li>
            <li>Phone number</li>
          </ul>
      </ol>
      <ol start="2">
        <li>We will respond with a link to an online form for you to give us some details about your school and to provide permission for your energy use data to be published to Energy Sparks.</li>
        <li>We will setup an account for you on Energy Sparks.</li>
        <li>Your profile is made public and you can begin using the service.</li>
        <li>We will remind you annually that your data is being published to Energy Sparks, and remind you how to withdraw consent for your data to be published if you wish.</li>
      </ol>

      <h1 id="process">What if my school is outside your existing areas of operation?</h1>
      <p>If you would like us to offer Energy Sparks to your school, Local Authority or Multi-Academy Trust then contact us at <a href="mailto:hello@energysparks.uk">hello@energysparks.uk</a> to express your interest. Knowing that you're interested will help us prioritise our work.</p>

    </div>
  </div>
</div>


