<% content_for :page_title, t('enrol_our_school.title') %>

<div class="application container">
  <h1><%= t('enrol_our_school.title') %></h1>

  <div class="row mt-3">
    <div class="col-md-12">
      <%= t('enrol_our_school.intro_html') %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <%= t('enrol_our_school.how_to_html') %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <div class="d-flex justify-content-center">
        <a href="https://forms.gle/9seTjC4HaaGJCL3CA" class="btn btn-lg btn-success" target="_blank">
          <%= t('enrol_our_school.enrol_now') %>
        </a>
      </div>
    </div>
  </div>

</div>
