<% content_for :page_title, 'Enrol' %>

<div class="application container">
  <div class="row padded-row">
    <div class="col-md-12">
      <h1 id="how">How do I enrol my school?</h1>
      <p>The service is currently open to schools in the following council areas:</p>
      <ul>
        <li>Bath &amp; North East Somerset</li>
        <li>Somerset</li>
        <li>Sheffield</li>
        <li>Oxfordshire</li>
        <li>Highlands</li>

      <p>As the council already holds your energy usage data this makes it easier for the data to be made available to Energy Sparks.</p>
      <p>We aim to make the service available to a wider selection of schools in future, including Multi-Academy Trusts.</p>
      <p>If you would like us to offer Energy Sparks to your school, Local Authority or Multi-Academy Trust then <a href="mailto:hello@energysparks.uk">contact us</a> to express your interest. Knowing that you're interested will help us prioritise our work.</p>

      <p>If you could include in your email</p>
      <ul>
        <li>Contact Name</li>
        <li>Role within the school (i.e. Eco team leader, Teacher)</li>
        <li>Local authority or Multi-Academy Trust</li>
        <li>Email Address</li>
        <li>Phone number</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1 id="process">What is the process to enrol my school?</h1>
      <p>The process is very straight-forward. The main thing we need from your school is permission to publish your energy usage data to Energy Sparks.</p>
      <p>The setup process involves the following steps:</p>
      <ol>
        <li>The head teacher or school business manager must send an email to <a href="mailto:hello@energysparks.uk">hello@energysparks.uk</a> asking to be enrolled in the Energy Sparks programme.
        <li>We will respond with a link to an online form for you to give us some details about your school and to provide permission for your energy use data to be published to Energy Sparks.</li>
        <li>We will setup an account for you on Energy Sparks.</li>
        <li>Your profile is made public and you can begin using the service.</li>
        <li>We will remind you annually that your data is being published to Energy Sparks, and remind you how to withdraw consent for your data to be published if you wish.</li>
      </ol>
    </div>
  </div>
</div>
