<% content_for :page_title, t('enrol_our_local_authority.title') %>

<div class="application container">
  <div class="row mt-2">
    <div class="col">
      <div class="d-flex justify-content-between align-items-center">
        <p class="display-3"><strong><%= t('enrol_our_local_authority.title') %></strong></p>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <%= t('enrol_our_local_authority.intro_html') %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <div class="d-flex justify-content-center">
        <a href="https://forms.gle/5GhNEhBxsqNSE2Et8" class="btn btn-lg bg-positive" target="_blank"><%= t('enrol_our_local_authority.enrol_now') %></a>
      </div>
    </div>
  </div>

</div>
