<% content_for :page_title do %>
For Teachers
<% end %>
<div class="application container">

  <div class="row padded-row">
    <div class="col-md-12">
      <h1 id="intro">What is <%= t('application') %>?</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        Energy Sparks is an exciting project teaching primary and secondary school pupils about energy, and empowering pupils, school staff, management and parents to take action to make their schools more energy efficient.
      </p>
      <p>
        Energy Sparks is currently free to use for all participating schools through our funding from the Department of Business, Energy and Industrial Strategy.
      </p>
      <p>
        Our innovative website takes data from schools’ Smart Meters and produces:
      </p>
      <ul class="">
        <li><strong>Charting:</strong> Publicly accessible charts and reports of  gas and electricity usage data.</li>
        <li><strong>Analysis:</strong> A school specific analysis tool which automatically analyses schools' smart meter data presenting both short and long-term energy saving opportunities, with supporting professional advice.</li>
        <li><strong>Simulation:</strong> A simulator which calculates which appliances are contributing to electricity consumption within the school, and allows schools to calculate the energy saving benefits of investment decisions, such as upgrading lighting or IT equipment.</li>
        <li><strong>Alerts:</strong> An email and text alert system to alert schools to problems with their energy consumption or efficiency.</li>
        <li><strong>Activities:</strong> A recommended set of over 70 tailored energy related activities for different aged pupils from KS1 to KS5 with supporting online resources that guide pupils through an energy saving programme.</li>
        <li><strong>Recording Activities:</strong> A means of recording interventions to help build up a permanent record of the pupils' energy saving activities, which can help contribute towards Eco-schools status.</li>
        <li><strong>Gamification:</strong> A gamification element with points awarded for completed activities. This encourages competition amongst schools, and an incentive to maintain energy saving interventions.</li>
      </ul>
    </div>
  </div>

  <div class="row padded-row">
    <div class="col-md-12">
      <h1 id="funding">How is the service funded?</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        September 2016 the Open Data Institute (ODI) awarded the project a £7,000 grant to develop the proof-of-concept application into a beta service that could be trialled by schools in Bath and North East Somerset.
        Subsequent grant funding was obtained from Bath and West Community Energy, The Naturesave Trust and The OVO Foundation.
      </p>
      <p>
        In 2018 we obtained significant funding from the Department for Business, Energy and Industrial Strategy through their Non-Domestic Smart Meter Innovation Competition for further development and to extend Energy Sparks to new areas of the country. This funding will support Energy Sparks to January 2020.
      </p>
    </div>
  </div>

  <div class="row padded-row">
    <div class="col-md-12">
      <h1 id="get-involved">How can I get involved?</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        We currently offer Energy Sparks to schools in Bath and North East Somerset, Somerset and Sheffield. If you are a teacher, governor or parent at a school in one of these areas and would like Energy Sparks at your school, please read our <%= link_to 'enrolment page', enrol_path %> and get in touch.
      </p>
      <p>
        We are keen to extend Energy Sparks to new Local Authority areas and Multi-Academy Trust groups. If you are interested in setting up Energy Sparks for your area or group, please also <%= mail_to 'hello@energysparks.uk', 'contact us'%>.
      </p>
    </div>
  </div>
</div>
