<% content_for :page_title do %>
Home
<% end %>
<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <%= image_tag("home-image.png", class: "img-responsive") %>
        <div class="intro-text">
          <span class="name">Energy Sparks</span>
          <hr class="bulb-light">
          <span class="intro">Helping our schools become more energy efficient</span>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-xs-center">
        <h2>Participating Schools</h2>
        <hr class="bulb-primary">
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-xs-center">
        <h2>Get Involved</h2>
        <hr class="bulb-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 offset-lg-2">
        <p>
          Energy Sparks helps make school energy usage data more accessible to everyone.
        <p>
        <p>See your gas and electricity usage using simple easy to read charts, share them with parents and children, and work towards your
          green flag status
        </p>
      </div>
      <div class="col-lg-4">
        <p>Energy Sparks is freely available for all schools in Bath & North East Somerset.</p>
        <p>Contact us to learn how you can get involved</p>
      </div>
    </div>
  </div>
</section>

<!-- Sponsors -->
<section class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-xs-center">
        <h2>Sponsors</h2>
        <hr class="bulb-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
      </div>

    </div>
  </div>
</section>

