<div class="application container">
  <div class="row padded-row">
    <div class="col-md-12">
      <h1>Sign up to the Energy Sparks newsletter</h1>

      <%= render 'onboarding/completion/mailchimp_form', user_name: nil, school_name: nil, email: @email %>

    </div>

  </div>
</div>
