<% content_for :page_title, t('privacy_and_cookie_policy.title') %>

<div class="application container ">
  <div class="row justify-content-md-center">
    <div class="col col-md-10 col-lg-8">
      <%= t('privacy_and_cookie_policy.content_html') %>
    </div>
  </div>
</div>
