<% content_for :page_title, 'Privacy and cookie policy' %>

<div class="application container ">
  <div class="row padded-row justify-content-md-center">
    <div class="col col-md-10 col-lg-8">
      <h1 class="pt-3">Energy Sparks Privacy and Cookie Policy</h1>
      <p>This privacy policy will explain how our organization uses the personal data we collect from you when you use our website.</p>

      <h2>What data do we collect?</h2>
      <p>Energy Sparks collects the following data:</p>
      <ul>
        <li>School name, address, URN, floor area, pupil number, website</li>
        <li>Contact name(s), contact email(s) and mobile phone number(s) (optional)</li>
        <li>Meter MPRN or MPR number, meter serial numbers</li>
        <li>Gas and electricity consumption data on a half hourly basis</li>
        <li>Information on your school&rsquo;s solar panels if relevant</li>
        <li>Energy saving activities, actions and classroom temperatures recorded by your school.</li>
      </ul>

      <h2>How do we collect your data?</h2>
      <p>We collect data and process data when you:</p>
      <ul>
        <li>Register online or request to join Energy Sparks</li>
        <li>Update your school details via our website</li>
        <li>Sign-up to receive our newsletter</li>
      </ul>
      <p>Energy Sparks may also receive your data from the following sources: </p>
      <ul>
        <li>Your school&rsquo;s energy supplier</li>
        <li>Your energy meter data collector or aggregator</li>
        <li>Your local authority</li>
        <li>Your Multi-Academy Trust (if relevant)</li>
      </ul>

      <h2>How will we use your data?</h2>
      <p>Energy Sparks collects your data so that we can:</p>
      <ul>
        <li>Analyse and present your energy consumption data on our website www.energysparks.uk</li>
        <li>Email or text you alerts highlighting changes in energy use, or long term energy consumption problems</li>
        <li>Email you our regular newsletter</li>
        <li>Support you with saving energy at your school</li>
      </ul>
      <p>Energy usage data is published under an open licence to Energy Sparks. This includes both ongoing and historical data. Publishing the energy data under an open licence will allow it to be accessed, used and shared by anyone, including the Energy Sparks team.</p>
      <p>Contact email addresses or mobile phone numbers are not publicly available on Energy Sparks. We will not share your personal information with or sell it to third-party marketers.</p>

      <h2>How do we store your data?</h2>
      <p>Energy Sparks securely stores your data at Amazon Web Services data centres within the EU.</p>
      <p>Energy Sparks will keep your data as long as your school is an Energy Sparks participant. Your school has the right to withdraw consent to your data being published to Energy Sparks at anytime. You can withdraw consent by emailing hello@energysparks.uk.</p>

      <h2>Our communication service</h2>
      <p>Energy Sparks uses Mailchimp to manage our email newsletter subscriber lists and send newsletters to our users. Read their <a href="https://mailchimp.com/legal/privacy/">privacy policy</a>. We will not share your personal information with any other third-party unless we have your permission or the law requires us to.</p>

      <h2>What are your data protection rights?</h2>
      <p>Energy Sparks would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
      <ul>
        <li>The right to access - All Energy Sparks energy data is publicly available. School contact details can be viewed by asking your Energy Sparks School Admin to log into their account to check this information.</li>
        <li>The right to rectification - You have the right to request that Energy Sparks correct any information you believe is inaccurate. You also have the right to request Energy Sparks to complete information you believe is incomplete.</li>
        <li>The right to erasure - You have the right to request that Energy Sparks erase your ongoing and historical data from the Energy Sparks website and our records.</li>
        <li>The right to restrict processing - You have the right to request that Energy Sparks restrict the processing of your data, under certain conditions.</li>
        <li>The right to object to processing - You have the right to object to Energy Sparks's processing of your data, under certain conditions.</li>
        <li>The right to data portability - You have the right to request that Energy Sparks transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
      </ul>
      <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at hello@energysparks.uk</p>

      <h2>What are cookies?</h2>
      <p>Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit our website, we may collect information from you automatically through cookies or similar technology.</p>
      <p>For further information, visit allaboutcookies.org.</p>

      <h2>How do we use cookies?</h2>
      <p>Energy Sparks uses cookies in a range of ways to improve your experience on our website, including:</p>
      <ul>
        <li>Keeping you signed in</li>
        <li>Remembering your preferences</li>
        <li>Understanding how you use our website</li>
      </ul>

      <h2>What types of cookies do we use?</h2>
      <p>There are a number of different types of cookies, however, our website uses:</p>
      <ul>
        <li>Functionality - Energy Sparks uses these cookies so that we recognize you on our website, to keep you signed in and to remember your previously selected preferences. These could include settings for units in charts.</li>
        <li>Google Analytics - Energy Sparks uses cookies through Google Analytics to collect information about your visit to our website, the content you viewed, the links you followed and information about your browser, device, and your IP address. We collect this information so we can understand which parts of our website are viewed most often, and improve our service to schools. Energy Sparks sometimes shares some aspects of this data with our funders and their appointed evaluation partners, so they can better understand the impact of their investment in Energy Sparks.</li>
      </ul>

      <h2>How to manage cookies</h2>
      <p>You can set your browser to not accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.</p>

      <h2>Privacy policies of other websites</h2>
      <p>The Energy Sparks website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.</p>

      <h2>Changes to our privacy policy</h2>
      <p>Energy Sparks keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 11th October 2019.</p>

      <h2>How to contact us</h2>
      <p>If you have any questions about Energy Sparks' privacy policy, the data we hold on you or your school, or you would like to exercise one of your data protection rights, please do not hesitate to contact us at hello@energysparks.uk</p>

      <h2>How to contact the appropriate authority</h2>
      <p>Should you wish to report a complaint or if you feel that Energy Sparks has not addressed your concerns in a satisfactory manner, you may contact the Information Commissioner's Office.</p>
      <p>
        <a href="https://ico.org.uk/make-a-complaint/">
           https://ico.org.uk/make-a-complaint/
        </a>
         or 0303 123 1113.
      </p>
    </div>
  </div>
</div>
