<h1>Schools</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Eco school status</th>
      <th>Website</th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= school.name %></td>
        <td><%= school.school_type %></td>
        <td><%= school.eco_school_status %></td>
        <td><%= school.website %></td>
      </tr>
    <% end %>
  </tbody>
</table>
