<% content_for :page_title, t('terms_and_conditions.title') %>

<div class="application container">
  <div class="row justify-content-md-center">
    <div class="col col-md-10 col-lg-8 terms-and-conditions">
      <%= t('terms_and_conditions.content_html',
            programme_types_url: programme_types_url,
            intervention_type_groups_url: intervention_type_groups_url,
            privacy_and_cookie_policy_url: privacy_and_cookie_policy_url,
            attribution_url: attribution_url,
            child_safeguarding_policy_url: child_safeguarding_policy_url,
            pricing_url: pricing_url) %>
    </div>
  </div>
</div>
