<% content_for :page_title, 'Terms and conditions' %>

<div class="application container ">
  <div class="row padded-row justify-content-md-center">
    <div class="col col-md-10 col-lg-8 terms-and-conditions">

      <h1 class="pt-3">Energy Sparks Terms and Conditions for participating schools and users</h1>

      <p>Revision date: 22nd March 2021</p>

      <h2>
        1. We are Energy Sparks, a registered charity in England and Wales, registration 1189273.
      </h2>

      <h2>
        2. You are a participating school or similar educational organisation or an Energy Sparks site user.
      </h2>

      <h2>
        3. Energy Sparks service provision to schools
      </h2>

      <ul>
        <li>
          3.1 Energy Sparks will provide participating school(s) with access to the Energy Sparks online tool, where
          schools’
          energy usage (gas and electricity) and solar generation and export data (when available), will be graphically
          presented and analysed for both school staff and pupils to readily access, providing energy saving
          recommendations and associated learning, energy monitoring and energy saving pupil activities and
          resources.
        </li>

        <li>
          3.2 Energy Sparks will provide participating schools with automated online, email and text alerts and regular
          newsletters for signed up users.
        </li>

        <li>
          3.3 School staff and supporting volunteers will have access to Energy Sparks training webinars.
        </li>

        <li>
          3.4 Energy Sparks will provide email support to participating school users for any technical problems, user queries
          or specific energy advice questions. Initial email response times will be within 3 working days, Monday to
          Friday during state school term times. Terms are defined as average state school term dates in England and
          Wales. Energy Sparks will aim to resolve most user queries within 5 working days during state school term times.
          More technical queries or problems, particularly those problems involving meter errors or data feeds may require
          further investigation before a full response can be provided. Energy Sparks offers a limited support service
          during state school holidays due to reduced demand. The school holiday service is designed to keep the Energy
          Sparks online tool running, but Energy Sparks will not normally respond to individual user or school queries or
          advice requests until the start of the next school term, or within 20 working days whichever is the shorter.
          Energy Sparks does not offer a permanently manned support telephone number, but users can request a call back at
          a mutually convenient time.
        </li>
      </ul>

      <h2>
        4. Obligations for participating schools
      </h2>

      <ul>
        <li>
          4.1 The school head teacher, business manager or bursar will provide consent that the following information will
          be
          requested from the school’s smart meters, energy supplier or meter operator on a daily or more frequent
          basis.
          <ul>
            <li>
              4.1.1 Half hourly energy consumption, generation and export information for both gas and electricity. Both historical and ongoing data will be obtained where available.
            </li>
            <li>
              4.1.2 Energy tariff information containing information of the price you are charged for energy consumed to provide more accurate cost and savings estimates through the Energy Sparks tool
            </li>
            <li>
              4.1.3 Information identifying the energy meter (number, location, type)
            </li>
          </ul>
        </li>
        <li>
          4.2 Participating schools will nominate an Energy Sparks champion. This is a lead adult who will act as the Energy Sparks account administrator for their school, support pupil energy saving activities, receive Energy Sparks alerts and newsletters and check their school's Energy Sparks online account regularly to see their school's energy use, and what actions they need to do next.
        </li>
        <li>
          4.3 Participating schools will commit to engage with Energy Sparks through a pupil eco-team or similar, using pupil-led action to drive energy reduction measures at the school.
        </li>
      </ul>

      <h2>5. Fees</h2>

      <ul>
        <li>
          5.1 Energy Sparks is currently provided free of charge to UK state schools through generous funding from the OVO Foundation and the Department of Business, Energy and Industrial Strategy.
        </li>
        <li>
          5.2 A participating school’s energy supplier or meter operator may charge the school a supplementary fee for supplying half hourly data which will be added to the school’s energy bill. The school’s energy contract manager or supplier will be able to provide further information.
        </li>
        <li>
          5.3 UK Independent schools are required to pay an annual fee to access Energy Sparks. The fee varies according to site complexity and numbers of meters. Contact us on hello@energysparks.uk for a quote.
        </li>
      </ul>

      <h2>6. Data Ownership and Protection / General Data Protection Regulation (GDPR)</h2>

      <ul>
        <li>
          6.1 In these Terms and Conditions:

          <ul>
            <li>
              6.1.1 “Data Protection Legislation” means all applicable data protection and privacy legislation in force from
              time to time in the UK including the retained EU law version of the General Data Protection Regulation
              (EU) 2016/679) (UK GDPR); the Data Protection Act 2018 (DPA 2018_ (and regulations made thereunder) and
              the Privacy and Electronic Communications Regulations 2003 (SI/2003/2426) as amended; and
            </li>
            <li>
              6.1.2 “Personal Data” has the meaning given in the Data Protection Legislation.
            </li>
          </ul>
        </li>


        <li>
          6.2 Participating schools, users and Energy Sparks will comply with all applicable requirements of the Data
          Protection Legislation.
        </li>

        <li>
          6.3 In respect of any personal data processed in connection with these Terms and Condition, the school shall be
          the
          “Data Controller” (as defined in Data Protection Legislation) and Energy Sparks shall be the “Data Processor”
          (as defined in Data Protection Legislation).
        </li>

        <li>
          6.4 Energy Sparks agrees that in respect of any processing of Personal Data in connection with these Terms and
          Condition, it shall:

          <ul>
            <li>6.4.1 ensure that all personnel who have access to the Personal Data are obliged to keep it confidential;</li>

            <li>6.4.2 ensure that it has in place appropriate technical and organisational measures, to protect against
              unauthorised
              or unlawful processing of Personal Data and against accidental loss or destruction of, or damage to
              Personal
              Data;</li>

            <li>6.4.3 notify its users without undue delay upon becoming aware of any Personal Data breach;</li>

            <li>6.4.4 on termination of the service to your school, delete all Personal Data unless required by law to
              otherwise
              retain or store such Personal Data;</li>

            <li>6.4.5 not transfer any Personal Data outside of the United Kingdom or to another organisation unless the prior
              written
              consent of the user has been obtained</li>
          </ul>
        </li>


        <li>6.5 Users are referred to Energy Sparks privacy and cookie policy at <%= link_to privacy_and_cookie_policy_url %>
        </li>

        <li>6.6 If a participating school or school user chooses to submit images, videos or attributed quotes of pupils to
          the
          Energy Sparks website, the school user will ensure that the school has the necessary parental permission for
          the
          pupil’s image or name to be shared.</li>
      </ul>

      <h2>7. Energy and associated data collection, processing and management</h2>

      <ul>
        <li>7.1 Energy Sparks will collect half hourly energy consumption, generation and export information for both gas and
          electricity from the school’s smart meters, energy supplier or meter operator on a daily or more frequent
          basis.
          Both historical and ongoing data will be obtained where available.</li>

        <li>7.2 Energy Sparks will collect energy tariff information containing information of the price the school is
          charged
          for energy consumed to provide more accurate cost and savings estimates through the Energy Sparks tool. To
          protect commercial confidentiality, accurate tariff information is only presented to users who have logged
          into
          a school’s Energy Sparks account. Publicly accessible cost estimates are calculated using average cost
          data.</li>

        <li>7.3 Energy Sparks will collect the school’s meter number and location from the school’s Local Authority,
          Multi-Academy Trust or energy supplier where available.</li>

        <li>7.4 Energy Sparks will use this consumption, generation and export data collected to support the Energy Sparks
          online energy management tool to enable users to see the school’s energy consumption, solar generation and
          export, and receive energy saving alerts and recommendations.</li>

        <li>7.5 Energy Sparks will collect and use consumption, generation and export data for as long as the school’s energy
          data remains displayed on the Energy Sparks website: www.energysparks.uk.</li>

        <li>7.6 Energy Sparks publishes most energy data to its website under an open licence which will allow it to be
          accessed, used and shared by anyone. Independent schools can opt-in to a private version of the Energy Sparks
          tool which means their energy data is only visible to logged in users. This service is available at extra
          cost.
          Contact us on hello@energysparks.uk for further information.</li>

        <li>7.7 Participating schools have the right to withdraw consent to their data being published to Energy Sparks at
          any
          time. You can withdraw consent by emailing hello@energysparks.uk. Energy Sparks will then remove the school’s
          ongoing and historical energy data from the Energy Sparks website within one month.</li>
      </ul>

      <h2>8. Third party service providers</h2>

      <ul>
        <li>8.1 If the school has an AMR meter providing half hourly energy consumption data, Energy Sparks may collect the
          energy data from the school’s supplier, meter operator or Local Authority. Further details about the way we
          obtain individual school’s data are available on request tby contacting us at hello@energysparks.uk.</li>

        <li>8.2 If a school has solar panels Energy Sparks may obtain solar generation, export and grid consumption data from
          the school’s solar monitoring system. If this is not possible we will obtain modelled solar generation data
          from
          Solar PV Live, a service provided by the University of Sheffield.</li>

        <li>
          8.3 If the school has a SMETS2 or SMETS1+ smart meter installed Energy Sparks uses n3rgy Ltd to collect energy
          data
          via the Data Communications Company (DCC). In this case, n3rgy Ltd provides full visibility and control of the
          information shared with Energy Sparks via a consumer portal (https://data.n3rgy.com/consumer) where authorised
          users can:

          <ul>
            <li>8.3.1 Review which organisations you have granted data access to.</li>
            <li>8.3.2 See the last time they accessed your data.</li>
            <li>8.3.3 Withdraw consent for any or all of the organisations listed.</li>
          </ul>
        </li>

        <li>8.4 All consumption, generation and tariff information gathered by n3rgy Ltd will also be anonymised and pooled
          within a data set which is made available to all organisations who use the n3rgy service. This enables n3rgy
          and
          its customers to better understand the way that we use, generate and pay for energy, with the intent to
          further
          improve our nation’s energy efficiency and carbon reduction. Due to the nature of anonymisation used, it is
          not
          possible to identify your data from this wider set, and therefore to remove your contribution.</li>

        <li>8.5 Other third party data sets used by Energy Spark are listed at <%= link_to attribution_url %></li>

        <li>8.6 Energy Sparks uses a UK based AWS cloud based environment to manage and deploy our website and
          infrastructure.
          Energy Sparks uses Mailchimp to manage our email newsletter subscriber lists and send newsletters to our
          users.</li>
      </ul>

      <h2>9. Hyperlinks and third party sites</h2>

      <ul>
        <li>9.1 The Energy Sparks website may contain hyperlinks or references to third party websites other than our site.
          Any
          such hyperlinks or references are provided for your convenience only. We have no control over third party
          websites and accept no legal responsibility for any content, material or information contained in them. The
          display of any hyperlink and reference to any third party website does not mean that we endorse that third
          party’s website, products or services. Your use of a third party site may be governed by the terms and
          conditions of that third party site.</li>
      </ul>

      <h2>10. Safeguarding</h2>

      <ul>
        <li>10.1 Energy Sparks has procedures in place to ensure safer recruitment of all of its staff and volunteers,
          including
          Disclosure and Barring Service (DBS) criminal record checks.</li>
        <li>10.2 Energy Sparks Child Safeguarding policy is available at <%= link_to child_safeguarding_policy_url %></li>
      </ul>

      <h2>11. Problems, Disputes and Liability</h2>

      <ul>
        <li>11.1 While Energy Sparks will try to make sure that its online tool is accurate, up-to-date, available at all
          times
          and free from bugs, we cannot promise that it will be. Furthermore, we cannot promise that the Energy Sparks
          online tool will be fit or suitable for any purpose. Any reliance that you may place on the information on the
          Energy Sparks website is at your own risk.</li>

        <li>11.2 Whilst Energy Sparks uses reasonable endeavours to ensure that its website is secure and free of viruses and
          other malware, we give no warranty or guarantee in that regard and all users take responsibility for their own
          security, that of their personal details and their computers.</li>

        <li>11.3 Energy Sparks accepts no liability for any disruption or non-availability of our website and online tool.</li>

        <li>11.4 Energy Sparks reserves the right to alter, suspend or discontinue any part (or the whole of) its website
          including, but not limited to, any products and/or services available. These terms and conditions shall
          continue
          to apply to any modified version of the website unless it is expressly stated otherwise.</li>

        <li>11.5 We aim to resolve all problems or disputes informally where possible. Please contact us on
          hello@energysparks.uk
          if you identify a problem with the presentation of your school’s data or with your use of the Energy Sparks
          service.</li>

        <li>11.6 Energy Sparks has £5 million public liability insurance and £500,000 professional indemnity insurance from a
          reputable insurer. The certificate of insurance is available on request.</li>
      </ul>

      <h2>12. Limitation of liability</h2>

      <ul>
        <li>12.1 Nothing in these terms and conditions will: (a) limit or exclude our or your liability for death or personal
          injury resulting from our or your negligence, as applicable; (b) limit or exclude our or your liability for
          fraud or fraudulent misrepresentation; or (c) limit or exclude any of our or your liabilities in any way that
          is
          not permitted under applicable law.</li>

        <li>12.2 We will not be liable to you in respect of any losses arising out of events beyond our reasonable
          control.</li>

        <li>12.3 To the maximum extent permitted by law, Energy Sparks accepts no liability for any of the following:
          <ul>
            <li>12.3.1 Any school losses, such as loss of profits, income, revenue, anticipated savings, business, contracts,
              goodwill
              or commercial opportunities;</li>
            <li>12.3.2 loss or corruption of any data, database or software;</li>
            <li>12.3.3 any special, indirect or consequential loss or damage.</li>
          </ul>
        </li>
      </ul>

      <h2>13. Intellectual Property</h2>

      <ul>
        <li>13.1 All Energy Sparks software is open source published under a MIT license. Schools do not have exclusive access
          rights to any software or functionality developed.</li>

        <li>13.2 Energy Sparks grants schools and school users a licence to copy and modify Energy Sparks activity resources
          for
          the purpose of supporting pupils and the school community to reduce the school’s carbon footprint.</li>
      </ul>

      <h2>14. Changes to the Terms and Conditions</h2>

      <ul>
        <li>14.1 These terms and conditions may be varied by us from time to time. Such revised terms will apply from the date
          of publication. Our updated terms will be displayed on the Energy Sparks website and by continuing to use and
          access the website and online tool following such changes, you agree to be bound by any variation made by us.
          It
          is your responsibility to check these Terms from time to time to verify such variations. We will also use our
          newsletter communications to alert users to any changes to these Terms and Conditions.</li>
      </ul>

      <h2>15. Governing Law and Jurisdiction</h2>

      <ul>
        <li>15.1 These Terms and Conditions shall be governed by and interpreted according to the law of England and Wales and
          all disputes arising under the Agreement (including non-contractual disputes or claims) shall be subject to
          the
          exclusive jurisdiction of the English and Welsh courts.</li>
      </ul>

      <p>
        Energy Sparks is a registered charity in England and Wales, registration 1189273. Registered address: Fairlawn, Park Corner, Freshford, Bath, BA2 7UP. hello@energysparks.uk. 01225 723924
        Data protection officer - dpo@energysparks.uk
      </p>   

    </div>
  </div>
</div>
