<% content_for :page_title, t('videos.title') %>
<div class="application container">
  <div class="row">
    <div class="col">
      <h1 id="intro"><%= t('videos.title') %></h1>
    </div>
  </div>

  <% @videos.each_slice(2) do |videos| %>
    <div class="card-deck">
      <% videos.each do |video| %>
      <div class="card border-light">
        <div class="card-body">
          <h5 class="card-title"><strong><%= video.title %></strong></h5>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="<%= video.embed_url %>" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <p class="card-text"><%= video.description %></p>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>

</div>
