.pupil-explore-component {
  a {
    text-decoration: none;
  }

  .bg-electric-light {
    background-color: $blue-pale;
  }

  .bg-gas-light {
    background-color: $yellow-pale;
  }

  .bg-storage-light {
    background-color: $purple-light;
  }

  .bg-solar-light {
    background-color: $green-pale;
  }
}
