<div class="row">
  <div class="col">

    <h2>Displaying a list of users</h2>

    <%= render Admin::UserListComponent.new(id: 'user-list',
                                            users: User.admin.order(:name),
                                            show_organisation: false) %>
  </div>
</div>

<div class="row">
  <div class="col">

    <h2>Displaying a school users</h2>

    <%= render Admin::UserListComponent.new(id: 'random-schools',
                                            schools: [School.first, School.last],
                                            show_organisation: true) %>
  </div>
</div>
