<% if activity_type.score %>
  <span class="badge text-bg-success"
      data-toggle="tooltip" data-placement="bottom"
      data-bs-toggle="tooltip" data-bs-placement="bottom"
      title="<%= t('activity_types.score_for_this_activity') %>">
    <%= t('nav.points', count: activity_type.score) %>
  </span>
<% end %>
