<% activity_type.subjects.order(:name).each do |subject| %>
  <span class="badge badge-light" data-toggle="tooltip" data-placement="bottom" title="<%= t('activity_types.subjects') %>"><%= t(subject.i18n_key) %></span>
<% end %>
