<% if school && school.activities.includes(:activity_type).where(activity_type: activity_type).any? %>
  <h5>Previous times this school has completed this activity</h5>
  <% school.activities.includes(:activity_type).where(activity_type: activity_type).order(:happened_on).each do |activity| %>
    <p>Completed at: <%= nice_dates activity.happened_on %> <%= link_to "View completed activity", school_activity_path(school, activity), class: 'btn btn-sm' %> </p>
  <% end %>
  <hr/>
<% end %>
