<div class="col-md-9">
  <div class="row alert alert-secondary info-bar text-dark bg-light" role="alert">
    <div class="col-md-1">
      <span class="h2 check"><%= far_icon("check-circle text-success") %></span>
    </div>
    <div>
      Activity previously completed
      <strong>
        <%= link_to "#{human_counts(activities)}", school_timeline_path(school) %>
      </strong>
      <%= activities.count > 1 ? ' most recently on ' : ' on ' %>
      <strong>
        <%= link_to "#{nice_dates(activities.last.happened_on)}", school_activity_path(school, activities.last) %>
      </strong>
    </div>
  </div>
</div>
