<% if school && school.activities.includes(:activity_type).where(activity_type: activity_type).any? %>
  <% school.activities.includes(:activity_type).where(activity_type: activity_type).order(:happened_on).each do |activity| %>
    <div class="row">
      <div class="col-md-9">
        <div class="row alert info-bar text-dark bg-light" role="alert">
          <div class="col-md-1">
            <i class="fas fa-tasks fa-2x"></i>
          </div>
          <div class="col-md-8">
            Activity previously completed on: <%= nice_dates activity.happened_on %>
          </div>
          <div class="col-md-3">
            <%= link_to "View completed activity", school_activity_path(school, activity), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
