<% if activity_type.active? && current_user && school && can?(:create, Activity)  %>
  <div class="row padded-row">
    <div class="col-md-9">
      <div class="row alert info-bar text-dark bg-neutral" role="alert">
        <div class="col-md-1">
          <i class="fas fa-tasks fa-2x"></i>
        </div>
        <div class="col-md-8">
          Complete this activity to score your school <strong><%= activity_type.score %></strong> points!
        </div>
        <div class="col-md-3">
          <%= link_to 'Record this activity', new_school_activity_path(school, activity_type_id: activity_type.id), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
