<%= render NoticeComponent.new(status: :neutral, classes: 'mb-4') do %>
  <div class="row" role="alert">
    <div class="col-lg-1 d-none d-lg-block align-self-center">
      <i class="fas fa-tasks fa-3x"></i>
    </div>
    <div class="col-lg-7 col-sm-12 align-self-center">
      <%= t('activity_types.show.complete_this_activity_html', count: activity_type.score) %>
    </div>
    <div class="col-lg-4 col-sm-12 align-self-center">
      <div class="d-none d-sm-block d-md-block d-lg-none pt-2"></div>
      <%= link_to t('activity_types.show.record_this_activity'),
                  new_school_activity_path(school,
                                           activity_type_id: activity_type.id),
                  class: 'btn btn-primary float-lg-right' %>
    </div>
  </div>
<% end %>
