<div class="col-md-9">
  <div class="row alert info-bar text-dark bg-neutral" role="alert">
    <div class="col-lg-1 d-none d-lg-block align-self-center">
      <i class="fas fa-tasks fa-3x"></i>
    </div>
    <div class="col-lg-7 col-sm-12 align-self-center">
      Complete this activity to score your school <strong><%= activity_type.score %></strong> points!
    </div>
    <div class="col-lg-4 col-sm-12">
      <%= link_to 'Record this activity', new_school_activity_path(school, activity_type_id: activity_type.id), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
