<%= render 'schools/advice/advice_page', school: @school, advice_pages: @advice_pages, advice_page: @advice_page, tab: @tab, data_warning: @data_warning do %>

  <h2><%= @advice_page_subtitle %></h2>

  <%= render 'analysis' %>
<% end %>
