<%= render 'schools/advice/advice_page', school: @school, advice_pages: @advice_pages, advice_page: @advice_page,
                                         tab: @tab, data_warning: @data_warning do %>
  <% if @advice_page_subtitle.present? %>
    <h2><%= @advice_page_subtitle %></h2>
  <% end %>

  <%= render 'analysis' %>

  <% cache [@school.latest_content, @advice_page.fuel_type, I18n.locale], expires_in: 4.hours do %>
    <%= render 'schools/advice/how_have_we_analysed_your_data_footnote_modal' %>
  <% end %>
<% end %>
