<%= render 'schools/advice/advice_page',
           school: @school,
           advice_pages: @advice_pages,
           advice_page: @advice_page,
           tab: @tab,
           data_warning: nil do %>
    <h2>
      <%= render PageNavComponent::CollapseButton.new(display: 'inline') %>
      <%= t('advice_pages.no_fuel_type.title') %>
    </h2>
    <p>
      <%= t('advice_pages.no_fuel_type.message', fuel_type: @advice_page.fuel_type) %>
    </p>
<% end %>
