<%= render 'limited_advice_page', title: t('advice_pages.not_enough_data.title') do %>
  <p>
    <%= t('advice_pages.not_enough_data.message', fuel_type: @advice_page.t_fuel_type) %>
  </p>
  <% if @analysable&.data_available_from.present? %>
    <p>
      <%= t('advice_pages.not_enough_data.available_from',
            available_from: @analysable.data_available_from.to_fs(:es_short)) %>
    </p>
  <% end %>
  <p>
    <%= t('advice_pages.not_enough_data.learn_more_html', learn_more_link: 'learn_more') %>
  </p>
<% end %>
