<div class="nested-fields">
  <div class="row">
    <div class="col-md-5 mb-3">
      <%= f.select(
              :activity_type_id,
              grouped_options_for_select(
                  ActivityCategory.listed_with_activity_types.map{|category, types| [category.name, types.map {|type| [type.name_with_key_stages, type.id]}]},
                  f.object.activity_type_id
              ),
              { include_blank: true },
              { class: 'form-control select2'}
          )
      %>
    </div>
    <div class="col-md-5 mb-3">
      <%= f.text_field :notes, label: false, class: 'form-control select2' %>
    </div>
    <div class="col-md-2 mb-3">
      <%= link_to_remove_association 'Remove', f, class: 'btn' %>
    </div>
  </div>
</div>
