<p>
Our virtual energy audits involve one of our expert analysts working with you to review your school's energy usage. Delivered by video call, the audit will help you:
</p>

<ul>
<li>understand how your school is using energy, benchmarking it against other similar schools</li>
<li>develop an energy action plan for your school including recommended pupil activities</li>
<li>achieve your targets to reduce energy usage and carbon emissions</li>
</ul>

<p>
Following the audit we will provide you with an action report that includes our analysis of your energy usage and a set of specific recommendations. We will provide follow-up support to ensure you can deliver these recommendations.
</p>

<p>
We are currently offering audits to a limited number of schools. If you are interested in learning more then please <%= link_to "get in touch", contact_path %>.
</p>
