<%= render 'limited_advice_page', title: t('advice_pages.target.limited_data.title') do %>
  <%= t('advice_pages.target.limited_data.text_html') %>
  <p>
    <% if @fuel_type != :storage_heater %>
      <%= t('advice_pages.target.limited_data.meantime_html',
            fuel_type: t_fuel_type, path: polymorphic_path([@school, :advice, @fuel_type, :long_term])) %>
    <% else %>
      <%= t('advice_pages.not_enough_data.learn_more_html', learn_more_link: 'learn_more') %>
    <% end %>
  </p>
<% end %>
