<h1>Add a new Solar Edge Site for <%= @school.name %></h1>

<%= render 'form', school: @school, solar_edge_installation: @solar_edge_installation %>

<div class="other-actions">
  <%= link_to 'Cancel', school_solar_feeds_configuration_index_path(@school), class: 'btn' %>
</div>
