<p>To help us to provide you with accurate estimates of your energy costs and potential savings, we’re contacting you to ask you to review the information we have about your school's energy tariffs.</p>

<p><%= link_to 'Click here', school_energy_tariffs_url(@school) %> to review your current tariffs and to add or update the information based on your latest contract.</p>
