<h1><%= t('schools.pupils.edit.title') %></h1>

<%= simple_form_for @pupil, url: school_pupil_path(@school, @pupil) do |f| %>
  <%= render 'form', f: f %>
  <%= f.submit t('schools.pupils.edit.update'), class: 'btn btn-rounded'%>
<% end %>
