<p>Energy Sparks can automatically create an alert contact so you can receive alert notifications by email or SMS.</p>

<p> Energy Sparks alerts:</p>
<ul>
  <li>give you warning of changes in your school's energy use</li>
  <li>highlight long term problems with your energy consumption with focused recommendations to save energy</li>
  <li>let you know if you are doing well compared to other schools and your past performance</li>
</ul>
<p>Short term consumption change alerts are sent weekly. Alerts telling you about your long term energy use are sent termly.</p>

<%= simple_fields_for :contact do |n| %>
  <%= n.input :auto_create_alert_contact, label: "Subscribe to school alerts", as: :boolean, class: "custom-checkbox pb-3", wrapper_html: { id: "test", class: "custom-checkbox pb-3"}, label_html: {class: "custom-control-label"}, input_html: { class: "custom-control-input", checked: user.persisted? ? user.contacts.where(school: school).any? : true } %>
<% end %>
