<p>You can also add the new user to the mailing list for newsletters (we'll never share your email address with anyone else).</p>

<div class="custom-control custom-checkbox pb-3">
  <input type="checkbox" class="custom-control-input" id="user_auto_subscribe_newsletter" name="user[auto_subscribe_newsletter]" checked >
  <label class="custom-control-label" for="user_auto_subscribe_newsletter">Subscribe to newsletters</label>
</div>
