<%= tag.div id: id, class: classes do %>
  <% columns.each_slice(cols) do |column_group| %>
    <div class="row">
      <% column_group.each do |column| %>
        <%= tag.div class: token_list(@column_classes_map[column], column_classes) do %>
          <%= column %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
