<%= tag.div id: id, class: classes do %>
  <% rows.times.each do %>
    <div class='row'>
      <% while column = columns.shift %>
        <%= tag.div class: column_classes do %>
          <%= column %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
