<%= tag.div id: id, class: classes do %>
  <% rows.times.each do %>
    <div class='row'>
      <% while block = blocks.shift %>
        <%= tag.div class: col_classes do %>
          <%= tag.div class: [block_classes, block.classes] do %>
            <%= block %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
