<div class="container-fluid">
  <%= component 'chart',
                school: @school,
                chart_type: @chart,
                axis_controls: false,
                no_zoom: true,
                analysis_controls: false,
                chart_config: create_chart_config(@school, @chart) %>
</div>
