.page-nav-component {
  i { // style the chevron
    color: $blue-dark;
  }

  a.nav-link {
    font-family: $header-font-family;
    color: $blue-very-dark;
    font-weight: 600;

    &:hover, &.current {
      background-color: $grey-pale;
      border-radius: 5px;
    }

    &.current {
      font-weight: 800 !important;
    }
  }

  li.section {
    border-top: 1px solid $grey-medium !important;
  }

  @each $fuel, $tones in $fuel-colours {
    a.nav-link.#{$fuel}-item {
      font-family: $default-font-family;
      color: $blue-dark;
      font-weight: normal;

      &:hover, &.current {
        background-color: map-get($tones, "medium");
      }
    }

    &.current {
      font-weight: 600 !important;
    }

    a.#{$fuel}-section {
      font-weight: 600;

      &:hover {
        background-color: transparent;
      }

      i.fuel {  // icon colour for fuel icon
        color: map-get($tones, "dark");
      }
    }
  }
}