.page-nav-component a.nav-link.item:hover {
  background-color: $light-grey;
}

.page-nav-component a.nav-link.current {
  font-weight: bolder !important;
}

.page-nav-component a.nav-link.section-link {
  border-bottom: 1px solid #dee2e6 !important; // bootstrap border-bottom default
  font-weight: normal;
}

@each $fuel, $tones in $fuel-colours {
  .page-nav-component a.nav-link.#{$fuel}-item {
    border-left: 1px solid map-get($tones, "light");
  }

  .page-nav-component a.nav-link.#{$fuel}-item:hover {
    background-color: rgba(map-get($tones, "light"), 0.5);
  }

  .page-nav-component a.nav-link.#{$fuel}-item.current {
    background-color: rgba(map-get($tones, "light"), 0.5);
    font-weight: bolder;
  }
}

@each $fuel, $tones in $fuel-colours {
  .page-nav-component a.#{$fuel}-section {
    background-color: map-get($tones, "dark");
    color: $white;
    font-weight: bold;
  }
}
