<div class="collapse d-md-flex border rounded page-nav-component" id="page-nav">
  <ul class="nav flex-column flex-nowrap w-100">
    <li class="nav-item header"><%= header %></li>
    <% sections.each do |section| %>
      <% if section.visible %>
        <li class="nav-item overflow-hidden section">
          <%= section %>
          <div class="collapse show" id="<%= section.id %>" aria-expanded="false">
            <ul class="flex-column pl-0">
              <% section.items.each do |item| %>
                <li class="nav-item">
                  <%= item %>
                </li>
              <% end %>
            </ul>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
