.page-nav-component a.nav-link.item:hover {
  background-color: $light-grey;
}

.page-nav-component a.nav-link.current {
  font-weight: bolder !important;
}

.page-nav-component a.nav-link.section-link {
  border-bottom: 1px solid #dee2e6 !important; // bootstrap border-bottom default
  font-weight: normal;
}

@each $tag, $colour in $fuel-colours-light {
  .page-nav-component a.nav-link.#{$tag}-item {
    border-left: 1px solid $colour;
  }

  .page-nav-component a.nav-link.#{$tag}-item:hover {
    background-color: rgba($colour, 0.5);
  }

  .page-nav-component a.nav-link.#{$tag}-item.current {
    background-color: rgba($colour, 0.5);
    font-weight: bolder;
  }
}

@each $tag, $colour in $fuel-colours-dark {
  .page-nav-component a.#{$tag}-section {
    background-color: $colour;
    color: $white;
    font-weight: bold;
  }
}
