.page-nav-component {
  i { // style the chevron
    color: $blue-dark;
  }

  a.nav-link {
    font-family: $header-font-family;
    color: $blue-very-dark;
    font-weight: $font-weight-semibold;

    &:hover, &.current {
      background-color: $grey-pale;
    }

    &.current {
      font-weight: bold;
    }
  }

  li.section {
    border-top: 1px solid $grey-medium !important;
  }

  @each $fuel, $tones in $colours-fuel {
    a.nav-link.#{$fuel}-item {
      font-family: $default-font-family;
      color: $blue-dark; // switch to $body-color when we've switch that over
      font-weight: $default-font-weight;

      &:hover, &.current {
        border-radius: 5px;
        background-color: map-get($tones, "light");
      }

      &.current {
        font-weight: bold !important;
      }
    }

    a.#{$fuel}-section {
      font-weight: $font-weight-semibold;

      &:hover {
        background-color: transparent;
      }

      i.fuel {  // icon colour for fuel icon
        color: map-get($tones, "dark");
      }
    }
  }

  a.nav-link.generic-item {
    font-family: $default-font-family;
    color: $blue-dark; // switch to $body-color when we've switch that over
    font-weight: $default-font-weight;

    &:hover, &.current {
      border-radius: 5px;
      background-color: $teal-light;
    }

    &.current {
      font-weight: bold !important;
    }
  }

  a.generic-section {
    font-weight: $font-weight-semibold;

    &:hover {
      background-color: transparent;
    }

    i.fuel {
      color: $teal-dark;
    }
  }
}
