<% content_for :page_title, "Alert Type - Schools" %>

<h1>Schools for:</h1>
<h2><%= @alert_type.title %></h2>

<p><%= link_to 'Manage exceptions', edit_multiple_admin_alert_type_school_alert_type_exceptions_path(@alert_type) %></p>

<!--   edit_multiple_admin_alert_type_school_alert_type_exceptions GET    /admin/alert_types/:alert_type_id/school_alert_type_exceptions/edit_multiple(.:format)        admin/alert_types/school_alert_type_exceptions#edit_multiple
update_multiple_admin_alert_type_school_alert_type_exceptions PUT    /admin/alert_types/:alert_type_id/school_alert_type_exceptions/update_multiple(.:format)      admin/alert_types/school_alert_type_exceptions#update_multiple -->

<!-- http://railscasts.com/episodes/165-edit-multiple-revised -->
