<% content_for :page_title, "Alert Type - Schools" %>

<h1>Schools for:</h1>
<h2><%= @alert_type.title %></h2>

<%= render 'form', school_groups: @school_groups, alert_type: @alert_type, existing_exceptions: @existing_exceptions %>
