<div <%= "id=#{id}" if id %> class="compact-timeline-component<%= classes %>">
  <% observations.each do |observation| %>
    <%= render ObservationComponent.new(observation: observation, style: :compact) %>
  <% end %>
</div>
