<div class="compact-timeline-component">
  <ul class="list-group list-group-flush">
    <% observations.each do |observation| %>
      <li class="list-group-item">
        <%= component 'timeline/observation', observation: observation, compact: true %>
      </li>
    <% end %>
  </ul>
</div>
