<div <%= "id=#{id}" if id %> class="compact-timeline-component<%= classes %>">
  <% observations.each do |observation| %>
    <%= component 'observation', observation: observation, compact: true %>
  <% end %>
</div>
