<div id="mc_embed_signup">
  <form action="<%= ENV['MAILCHIMP_ENDPOINT'] %>" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
      <div class="mc-field-group form-group row">
        <label for="mce-MMERGE7" class="col-sm-3 col-form-label">Name  <span class="asterisk">*</span></label>
        <div class="col-sm-9">
          <input type="text" value="<%= user_name %>" name="MMERGE7" id="mce-MMERGE7" class='form-control'>
        </div>
      </div>

      <div class="mc-field-group form-group row">
        <label for="mce-MMERGE8" class="col-sm-3 col-form-label">School name (if appropriate)</label>
        <div class="col-sm-9">
          <input type="text" value="<%= school_name %>" name="MMERGE8" id="mce-MMERGE8" class='form-control'>
        </div>
      </div>

      <div class="mc-field-group form-group row">
        <label for="mce-EMAIL" class="col-sm-3 col-form-label">Email Address  <span class="asterisk">*</span></label>
        <div class="col-sm-9">
          <input type="email" value="<%= email %>" name="EMAIL" class="required email form-control" id="mce-EMAIL">
        </div>
      </div>

      <fieldset class="form-group">
        <div class="row mc-field-group input-group">
          <legend class="col-form-label col-sm-2 pt-0">User type</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input type="radio" value="1" name="group[5887]" id="mce-group[5887]-5887-0" class="form-check-input">
              <label class="form-check-label" for="mce-group[5887]-5887-0">
                Council
              </label>
            </div>
            <div class="form-check">
              <input type="radio" value="2" name="group[5887]" id="mce-group[5887]-5887-1" class="form-check-input">
              <label class="form-check-label" for="mce-group[5887]-5887-1">
                Parent/governor
              </label>
            </div>
            <div class="form-check">
              <input type="radio" value="4" name="group[5887]" id="mce-group[5887]-5887-2" class="form-check-input">
              <label class="form-check-label" for="mce-group[5887]-5887-2">
                Public
              </label>
            </div>
            <div class="form-check">
              <input type="radio" value="8" name="group[5887]" id="mce-group[5887]-5887-3" class="form-check-input">
              <label class="form-check-label" for="mce-group[5887]-5887-3">
                School management
              </label>
            </div>
            <div class="form-check">
              <input type="radio" value="16" name="group[5887]" id="mce-group[5887]-5887-4" class="form-check-input">
              <label class="form-check-label" for="mce-group[5887]-5887-4">
                Student
              </label>
            </div>
            <div class="form-check">
              <input type="radio" value="32" name="group[5887]" id="mce-group[5887]-5887-5" class="form-check-input">
              <label class="form-check-label" for="mce-group[5887]-5887-5">
                Teacher
              </label>
            </div>
          </div>
        </div>
      </fieldset>

      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a132136ec1fca0e5b19fbe63d_ed205db324" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn"></div>
    </div>
  </form>
</div>
<!--End mc_embed_signup-->
