<h1>You're almost there!</h1>

<p>If you're ready to blah blah blah then:</p>

<%= button_to "I've finished!", onboarding_completion_path(@school_onboarding.uuid), method: :post, class: 'btn btn-primary' %>
