<div class="row justify-content-md-center">
  <div class="col col-md-10 col-lg-8">
    <h1>Thanks!</h1>
    <p>
      We'll have a look at school details you've sent us and let you know when your school goes live.
    </p>
  </div>
</div>
