<div class="row justify-content-md-center">
  <div class="col col-md-10 col-lg-8">
    <h1>Thanks!</h1>
    <p>
      We'll have a look at school details you've sent us and let you know when your school goes live.
    </p>

    <h3>Sign up to our mailing list to receive Energy Sparks updates</h3>
    <%= render 'mailchimp_form', user_name: @school_onboarding.created_user.name, school_name: @school_onboarding.school.name, email: @school_onboarding.created_user.email %>
  </div>
</div>
