<div class="bg-light p-3 mb-3 rounded border">
  <p><%= t('compare.comparing.title') %></p>
  <% if @filter[:search] == 'group' %>
    <p><%= t('compare.comparing.schools_in_school_group_html', school_group: current_school_group.name) %>
  <% end %>
  <p><%= t('compare.comparing.school_types_html', school_types: @filter[:school_types].map {|st| tag.strong(t('common.school_types.' + st))}.to_sentence.html_safe) %></p>
</div>
