<div class="smaller"><%= t('compare.limit_by_school_type') %></div>
<div class="nowrap ensure-one-checked">
  <% School.school_types.keys.each do |school_type| %>
    <%= check_box_tag('school_types[]', school_type, @filter[:school_types].include?(school_type), id: school_type, class: "badge-toggle-secondary") %>
    <%= label_tag school_type, t('common.school_types.' + school_type),
        data: {
          toggle: "tooltip",
          placement: "bottom",
          delay: { "show": 500, "hide": 100 }},
        title: "Select at least one" %>
  <% end %>
</div>