<% content_for :page_title, @title  %>

<h1><%= @title %></h1>

<%= render 'summary' %>

<div id='benchmark-content'%>
  <% @content.each do |content| %>
    <%= render "compare/content_types/#{content[:type]}", content: content[:content] %>
  <% end %>
</div>