<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle"
      data-toggle="dropdown"
      data-bs-toggle="dropdown"
      href="#" role="button" aria-haspopup="true" aria-expanded="false">
    <%= t('manage_menu.manage') %></a>
  <div id='manage' class="dropdown-menu">
    <%= link_to t('manage_menu.admin'), admin_path, class: 'dropdown-item' %>
    <%= link_to t('manage_menu.reports'), admin_reports_path, class: 'dropdown-item' %>
  </div>
</li>
