<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="ourSchoolsDropDown" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false"><%= t('our_schools_menu.our_schools') %></a>
  <div id="our-schools" class="dropdown-menu" aria-labelledby="ourSchoolsDropDown">
    <%= link_to t('our_schools_menu.view_schools'), schools_path, class: 'dropdown-item' %>
    <%= link_to t('our_schools_menu.scoreboards'), scoreboards_path, class: 'dropdown-item' %>
    <%= link_to t('our_schools_menu.compare_schools'), compare_index_path, class: 'dropdown-item' %>
  </div>
</li>
