<div class="fixed-top ms-1 d-flex flex-column align-items-start">
  <% if on_test? %>
    <%= link_to 'Test', '/', class: 'p-1 mt-1 badge text-bg-warning' %>
  <% end %>

  <% if Flipper.enabled?(:bootstrap_switcher) %>
    <div class='p-1 mt-1 badge <%= @bs5 ? 'text-bg-success' : 'text-bg-danger' %>'>
      Bootstrap <%= @bs5 ? 5 : 4 %>:
      <%= link_to "switch to #{@bs5 ? 4 : 5}",
                  url_for(request.query_parameters.merge(bs5: !@bs5)) %>
    </div>
  <% end %>

  <% if @prototype_page %>
    <div class='p-1 mt-1 badge text-bg-info'
         data-bs-toggle="tooltip"
         data-bs-placement="bottom"
         title="Page may contain incomplete features or placeholder data">
      Prototype
    </div>
  <% end %>
</div>
