<h1><%= t('schools.meters.inventory.meter_title', meter_mpan_mprn: @meter.mpan_mprn) %></h1>

<p><%= link_to t('common.labels.back'), school_meter_path(@school, @meter), class: 'btn btn-secondary btn-sm' %>

<h2><%= t('schools.meters.inventory.title') %></h2>

<p>
  <pre>
    <%= JSON.pretty_generate(@inventory).strip %>
  </pre>
</p>
