<% content_for :header_title, "#{@school_group.name} - #{t('school_groups.clusters.index.title')}" %>
<% content_for :page_title, "#{@school_group.name} | #{t('school_groups.clusters.new.title').capitalize}" %>

<h2><%= t('school_groups.clusters.new.title') %></h2>

<%= render 'form' %>
