<div class="mt-4 d-flex justify-content-between" id="<%= @id %>-section">
  <div>
    <h4><%= @title %></h4>
  </div>
  <div>
    <% if show_button? %>
      <%= link_to t('common.labels.edit'),
          @edit_path,
          class: btn_class,
          id: edit_button_id
      %>
    <% end %>
  </div>
</div>
<table class="table table-charges">
  <tbody>
    <%= charges_section %>
  </tbody>
</table>
