<table class="table table-sm">
  <thead class="thead-dark">
    <tr><th>Year</th>
      <th class="text-right">Average annual consumption (kW)</th>
      <th class="text-right">Average annual cost (£)</th>
      <th class="text-right">Average annual CO2 (kg)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2020</td>
      <td class="text-right">1.0</td>
      <td class="text-right">£1200</td>
      <td class="text-right">X</td>
    </tr>
    <tr>
      <td>2021</td>
      <td class="text-right">1.1</td>
      <td class="text-right">£1440</td>
      <td class="text-right">X</td>
    </tr>
    <tr>
      <td>2022</td>
      <td class="text-right">1.1</td>
      <td class="text-right">£1440</td>
      <td class="text-right">X</td>
    </tr>
  </tbody>
</table>
