<table class="table table-sm">
  <thead class="thead-dark">
  <tr><th>Meter</th>
    <th class="text-right">Average annual consumption (kW)</th>
    <th class="text-right">Average annual cost (£)</th>
    <th class="text-right">% of total baseload</th>
  </tr></thead>
  <tbody>
  <tr>
    <td>92000051383834</td>
    <td class="text-right">0.73</td>
    <td class="text-right">£960</td>
    <td class="text-right">66%</td>
  </tr>
  <tr>
    <td>Old building</td>
    <td class="text-right">0.37</td>
    <td class="text-right">£480</td>
    <td class="text-right">34%</td>
  </tr>
  <tr class="table-success">
    <td>Total</td>
    <td class="text-right">1.1</td>
    <td class="text-right">£1440</td>
    <td class="text-right">100%</td>
  </tr>
  </tbody>
</table>
