<table class="table table-sm">
  <thead class="thead-dark">
  <tr><th class="text-right">Highest day baseload (kW)</th>
    <th class="text-right">Lowest day baseload (kW)</th>
    <th class="text-right">Potential saving (£)</th>
    <th class="text-right">CO2 reduction (kg)</th>
  </tr></thead>
  <tbody>
  <tr>
    <td class="text-right">x</td>
    <td class="text-right">y</td>
    <td class="text-right">£1234</td>
    <td class="text-right">z</td>
  </tr>
  <tr>
    <td class="text-right">x</td>
    <td class="text-right">y</td>
    <td class="text-right">£1234</td>
    <td class="text-right">z</td>
  </tr>
  </tbody>
</table>
