<h3>Legend</h3>
<div class="row">
<div class='calendar-legend col'>
  <div class='legend-scale'>
    <ul class='legend-labels'>
      <li><span style='background:rgb(59,192,240);'></span><div class="description">Bank Holiday</div></li>
      <li><span style='background:rgb(255,172,33);'></span><div class="description">Term Time</div></li>
      <li><span style='background:rgb(92,184,92);'></span><div class="description">Holiday</div></li>
      <li><span style='background:rgb(255,69,0);'></span><div class="description">Inset Day<br>(in school)</div></li>
      <li><span style='background:rgb(181,108,226);'></span><div class="description">Inset Day<br>(out school)</div></li>
    </ul>
  </div>
</div>
</div>
