<h1>Calendars</h1>
<p>Click on show to select a calendar. You can then edit any events on the calendar, or add new ones.</p>
<p><b>Note:</b> - updating a template calendar automatically updates any dependent calendars.</p>

<% if @top_level_calendars.any? %>
  <%= render 'template_calendars', calendars: @top_level_calendars, title: 'Top level calendars' %>
<% else %>
  <h2>There are no Top level calendars</h2>
<% end %>

<% if @child_template_calendars.any? %>
  <%= render 'template_calendars', calendars: @child_template_calendars, title: 'Area calendars' %>
<% else %>
  <h2>There are no Area calendars</h2>
<% end %>

<% if @customised_calendars.any? %>
  <h2>Calendars for Enrolled Schools</h2>
  <%= render 'calendars', calendars: @customised_calendars %>
<% else %>
  <h2>There are no Customised Calendars </h2>
<% end %>
