<p>
  <strong>Name:</strong>
  <%= @calendar.name %>
</p>

<h4>Events</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Event</th>
      <th>Start</th>
      <th>End</th>
    </tr>
  </thead>
  <tbody>
    <% @calendar.calendar_events.each do |calendar_event| %>
      <tr>
        <td><%= calendar_event.calendar_event_type.description %></td>
        <td><%= nice_dates(calendar_event.start_date) %></td>
        <td><%= nice_dates(calendar_event.end_date) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
