<div class="row">
  <div class="col-12">
    <%= form.label label.try(:to_s).try(:humanize), required: field.required? %>
  </div>
  <div class="col-6">
    <%= form.input field_name + '[hour]', as: :integer, input_html: {value: value ? value[:hour] : ''}, required: field.required?, min: 0, max: 23, label: 'hour'%>
  </div>
  <div class="col-6">
    <%= form.input field_name + '[minutes]', as: :integer, input_html: {value: value ? value[:minutes] : ''},  required: field.required?, min: 0, max: 59, label: 'minutes' %>
  </div>
</div>
