<div class="row">
  <div class="col-12">
    <%= form.label label.try(:to_s).try(:humanize), required: field.required? %>
  </div>
  <div class="col-6">
    <%= form.input field_name + '[month]', as: :integer, input_html: {value: value ? value[:month] : ''},  required: field.required?, min: 1, max: 12, label: 'month'%>
  </div>
  <div class="col-6">
    <%= form.input field_name + '[day_of_month]', as: :integer, input_html: {value: value ? value[:day_of_month] : ''}, required: field.required?, min: 1, max: 31, label: 'day of month' %>
  </div>
</div>
