@import '~awesomplete/awesomplete';
@import '../src/stylesheets';

$fa-font-path: '~@fortawesome/fontawesome-pro/webfonts';

@import '~@fortawesome/fontawesome-pro/scss/fontawesome';
@import '~@fortawesome/fontawesome-pro/scss/regular';
@import '~@fortawesome/fontawesome-pro/scss/solid';
@import '~@fortawesome/fontawesome-pro/scss/light';
@import '~@fortawesome/fontawesome-pro/scss/brands';