<% if school_group.default_issues_admin_user_id %>
  <span>
    <%= link_to admin_user_label(school_group),
                polymorphic_path([:admin, Issue], user: school_group.default_issues_admin_user),
                class: 'btn btn-sm text-decoration-none' %>
  </span>
<% end %>
