<h1>Edit <%= @school_group.admin_form_label %></h1>

<div class="row">
  <div class="col-sm-8">
    <%= render 'form', school_group: @school_group %>
  </div>

  <div class="col-sm-4">
    <h2>Schools in this group</h2>
    <% if @schools.any? %>
      <ol>
        <% @schools.each do |school| %>
          <li><%= link_to school.name, school_path(school) %></li>
        <% end %>
      </ol>
    <% else %>
      <p>No schools are assigned to this group</p>
    <% end %>
  </div>
</div>
