<div class="d-flex justify-content-between align-items-center">
  <h1><%= @school_group.name %> School Group</h1>
  <div>
    <%= header_nav_link 'All school groups', admin_school_groups_url %>
  </div>
</div>

