<%= tag.div id: id, class: classes do %>
  <div class="row">
    <div class="col">
      <h1><%= @title %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p><%= @subtitle if @subtitle %></p>
    </div>
  </div>
<% end %>
