<%= tag.div id: id, class: classes do %>
  <div class="col-12 col-md-9">
    <div class="row">
      <div class="col">
        <h1><%= @title %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p><%= @subtitle if @subtitle %></p>
      </div>
    </div>
  </div>
<% end %>
