<%= render 'schools/school_page_with_navigation', school: @school,
                                                  page_title: "#{@school.name} Content Runs" do %>

  <p>Latest content generation runs</p>

  <table class="table table-sm">
    <thead>
      <tr>
        <th>Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @content_generation_runs.each do |run| %>
        <tr>
          <td><%= nice_date_times(run.created_at) %></td>
          <td><%= link_to 'View', school_content_report_path(@school, run), class: 'btn' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
