<%= render 'schools/school_page_with_navigation', school: @school,
                                                  page_title: "#{@school.name} Content Run" do %>

  <h2><%= nice_date_times(@run.created_at) %></h2>

  <p>
    The dashboard alerts shown below include debug information with links to the original alert content, alert type, etc.
  </p>

  <p>Jump to: <a href="#adult">adult</a> or <a href="#pupil">pupil</a> alerts</p>

  <%= render AlertsComponent.new(id: 'adult',
                                 school: @school,
                                 audience: :adult,
                                 dashboard_alerts: @management_dashboard_alerts,
                                 show_links: true,
                                 debug: true) do |c| %>
    <% c.with_title { 'All adult dashboard alerts' } %>
  <% end %>

  <%= render AlertsComponent.new(id: 'pupil',
                                 school: @school,
                                 audience: :pupil,
                                 dashboard_alerts: @pupil_dashboard_alerts,
                                 show_links: true,
                                 debug: true) do |c| %>
    <% c.with_title { 'All pupil dashboard alerts' } %>
  <% end %>

<% end %>
