<% content_for page_title: t("errors.#{code}.title") %>

<div class='container'>
  <div class="row">
    <div class="col text-center">
      <h1 class='display-1'><strong><%= code %></strong></h1>
      <p><strong><%= t("errors.#{code}.title") %></strong>.</p>
      <p><%= t("errors.#{code}.description") %>.</p>
      <p><%= t('errors.resolution_html') %>.</p>
    </div>
  </div>
</div>
