<h1>Consent Statement</h1>

<p><%= link_to 'All consent statements', admin_consent_statements_path %></p>

<h2>Title</h2>

<h3>
  <%= @consent_statement.title %>
</h3>

<h2>Content</h2>

<p>
  <%= @consent_statement.content %>
</p>
