<% if surround %>
<div class="bg-light border rounded py-2 mb-2">
  <div class="col-12 clearfix">
    <span data-toggle="collapse"
          href="#target"
          role="button" aria-expanded="true" aria-controls="target"
          class="px-2 toggler text-decoration-none collapsed">
      <%= toggler %>
      <strong><%= title %></strong>
    </span>

    <div id='target' class='collapse p-4'>
      <%= content %>
    </div>
  </div>
</div>
<% else %>
  <%= content %>
<% end %>
