<h1>New Transport type</h1>

<div class="row">
  <div class="col">
    <%= render 'form', transport_type: @transport_type %>
    <div class="other-actions">
      <%= link_to 'Back', admin_transport_types_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
