<h1>Create a new Rtone Variant API feed</h1>
<h2><%= @school.name %></h2>

<%= render 'form', school: @school, rtone_variant_installation: @rtone_variant_installation, non_gas_meters: @non_gas_meters %>

<div class="other-actions">
  <%= link_to 'Cancel', school_solar_feeds_configuration_index_path(@school), class: 'btn' %>
</div>
