<div class="card-deck">
  <% activity_types.each do |activity_type| %>
    <div class="card">

      <%= link_to activity_type_path(activity_type) do %>
        <img class="card-img-top img-fluid" src="holder.js/286x150" alt="Card image cap">
      <% end %>

      <div class="card-body">
        <p class="card-text">
          <%= activity_type.name %>
        </p>
      </div>
      <div class="card-footer" style="border-top: none; background-color: white;">
        <%= render 'activity_types/activity_type_subjects', activity_type: activity_type %>
      </div>
      <div class="card-footer" style="border-top: none; background-color: white;">
        <%= render 'activity_types/activity_type_key_stages', activity_type: activity_type %>
      </div>
    </div>
  <% end %>
</div>
