<% activity_type.activities_for_school(current_user_school).each do |activity| %>
  <p>
    <span class="h4 check"><%= far_icon("check-circle text-success") %></span>&nbsp;Done on <%= nice_dates(activity.happened_on) %>
  </p>
<% end %>
