<div class="card-deck bg-light pb-4">
  <% activity_categories.each do |activity_category| %>
    <div class="card">
      <%= link_to activity_category_path(activity_category) do %>
        <%= render 'image', activity_category: activity_category, css_class: "activity-card-img" %>
      <% end %>
      <div class="card-body">
        <p class="card-text">
          <%= link_to activity_category.name, activity_category_path(activity_category) %>
        </p>
      </div>
    </div>
  <% end %>
  <div class="card">
    <div class="card-body">
      <p class="card-text">
        Using our activities pupils can score points for their school while learning about energy and climate change.
      </p>
      <p class="card-text">
        Browse through different activities linked to a variety of subjects and key stages.
      </p>
    </div>
  </div>
</div>
