<div class="card-deck">
    <div class="card">
      <img class="card-img-top img-fluid" src="holder.js/286x150" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Analyst</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top img-fluid" src="holder.js/286x150" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Change-maker</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top img-fluid" src="holder.js/286x150" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Communicator</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top img-fluid" src="holder.js/286x150" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Detective</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top img-fluid" src="holder.js/286x150" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Detective</p>
      </div>
    </div>
</div>
