<div class="card-deck">
  <div class="card">
    <img class="card-img-top img-fluid" src="holder.js/286x150" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Make energy saving posters</p>
    </div>
    <div class="card-footer" style="border-top: none; background-color: white;">
      <span class="badge badge-pill badge-light">DESIGN</span>
      <span class="badge badge-pill badge-info">KS1</span>
      <span class="badge badge-pill badge-info">KS2</span>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img-fluid" src="holder.js/286x150" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Measure classroom temperatures</p>
    </div>
    <div class="card-footer" style="border-top: none; background-color: white;">
      <span class="badge badge-pill badge-light">SCIENCE</span>
      <span class="badge badge-pill badge-info">KS1</span>
      <span class="badge badge-pill badge-info">KS2</span>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img-fluid" src="holder.js/286x150" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Investigation how the schools hot water is heated</p>
    </div>
    <div class="card-footer" style="border-top: none; background-color: white;">
      <span class="badge badge-pill badge-light">SCIENCE</span>
      <span class="badge badge-pill badge-info">KS1</span>
      <span class="badge badge-pill badge-info">KS2</span>
      <span class="badge badge-pill badge-info">KS3</span>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img-fluid" src="holder.js/286x150" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Make draught proofing equipment</p>
    </div>
    <div class="card-footer" style="border-top: none; background-color: white;">
      <span class="badge badge-pill badge-light">DESIGN</span>
      <span class="badge badge-pill badge-info">KS1</span>
      <span class="badge badge-pill badge-info">KS2</span>
      <span class="badge badge-pill badge-info">KS3</span>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img-fluid" src="holder.js/286x150" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Learn about marine energy</p>
    </div>
    <div class="card-footer" style="border-top: none; background-color: white;">
      <span class="badge badge-pill badge-light">SCIENCE</span>
      <span class="badge badge-pill badge-info">KS2</span>
      <span class="badge badge-pill badge-info">KS3</span>
      <span class="badge badge-pill badge-info">KS4</span>
    </div>
  </div>
</div>
