<div class="card-deck">
  <div class="card">
    <img class="card-img-top img-fluid" src="holder.js/286x150" alt="Card image cap">
    <div class="card-body">
        <p class="card-text">Learn about appliances that use energy at home and school</p>
    </div>
    <div class="card-footer" style="border-top: none; background-color: white;">
      <span class="badge badge-pill badge-light">SCIENCE</span><br>
      <span class="badge badge-pill badge-info">KS1</span>
      <span class="badge badge-pill badge-info">KS2</span>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img-fluid" src="holder.js/286x150" alt="Card image cap">
    <div class="card-body">
        <p class="card-text">Learn about water power</p>
    </div>
    <div class="card-footer" style="border-top: none; background-color: white;">
      <span class="badge badge-pill badge-light">SCIENCE</span><br>
      <span class="badge badge-pill badge-info">KS1</span>
      <span class="badge badge-pill badge-info">KS2</span>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img-fluid" src="holder.js/286x150" alt="Card image cap">
    <div class="card-body">
        <p class="card-text">Understand how our transportation choices impact the environment</p>
    </div>
    <div class="card-footer" style="border-top: none; background-color: white;">
      <span class="badge badge-pill badge-light">CITIZENSHIP</span><br>
      <span class="badge badge-pill badge-info">KS1</span>
      <span class="badge badge-pill badge-info">KS2</span>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img-fluid" src="holder.js/286x150" alt="Card image cap">
    <div class="card-body">
        <p class="card-text">Learn about where our electricity and gas comes from and their impact on the environment</p>
    </div>
    <div class="card-footer" style="border-top: none; background-color: white;">
      <span class="badge badge-pill badge-light">SCIENCE</span> <span class="badge badge-pill badge-light">CLIMATE</span><br>
      <span class="badge badge-pill badge-info">KS1</span>
      <span class="badge badge-pill badge-info">KS2</span>
      <span class="badge badge-pill badge-info">KS3</span>
      <span class="badge badge-pill badge-info">KS4</span>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img-fluid" src="holder.js/286x150" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Solar thermal heating, solar furnaces and solar ovens</p>
    </div>
    <div class="card-footer" style="border-top: none; background-color: white;">
      <span class="badge badge-pill badge-light">SCIENCE</span><br>
      <span class="badge badge-pill badge-info">KS2</span>
      <span class="badge badge-pill badge-info">KS3</span>
    </div>
  </div>
</div>
