<div class="row">
  <div class="col">
    <div class="d-flex justify-content-between align-items-center">
      <h1>Energy saving activities</h1>
      <div class="h5">
          <a class="btn btn-outline-dark rounded-pill font-weight-bold" href="">Search</a>
            <a class="btn btn-outline-dark rounded-pill font-weight-bold" href="">Adult activities</a>
          <a class="btn btn-outline-dark rounded-pill font-weight-bold" href="">Record an activity</a>
      </div>
    </div>
  </div>
</div>

<div class="row padded-row">
  <div class="col">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus urna in lectus auctor, at euismod lorem sagittis. Sed convallis orci metus, a posuere lorem mollis a. Quisque rhoncus ipsum velit, vel porttitor felis vulputate sit amet. Vivamus tortor ipsum, venenatis non ante nec, mattis pulvinar dolor.
    </p>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="d-flex justify-content-between align-items-center">
    <h5><strong>Recommended for your school</strong></h5>
      <div class="">
        <a class="btn btn-outline-dark rounded-pill" href="/management/schools/green-lane-ce-primary?report=true">
          View all
        </a>
      </div>
    </div>
  </div>
</div>

<%= render "row" %>

<div class="padded-row"></div>

<div class="row">
  <div class="col">
    <h5><strong>Pupil missions</strong></h5>
  </div>
</div>

<%= render "row_pupil" %>

<div class="padded-row"></div>

<div class="row">
  <div class="col">
    <div class="d-flex justify-content-between align-items-center">
    <h5><strong>Teaching resources</strong></h5>
      <div class="">
        <a class="btn btn-outline-dark rounded-pill" href="/management/schools/green-lane-ce-primary?report=true">
          View all
        </a>
      </div>
    </div>
  </div>
</div>

<%= render "row_teacher" %>
