<div class="row">
  <div class="col">
    <div class="d-flex justify-content-between align-items-center">
      <h1>Find activities</h1>
      <div class="h5">
          <a class="btn btn-outline-dark rounded-pill font-weight-bold" href="/activity_categories">All activities</a>
            <a class="btn btn-outline-dark rounded-pill font-weight-bold" href="">Adult activities</a>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus urna in lectus auctor, at euismod lorem sagittis. Sed convallis orci metus, a posuere lorem mollis a. Quisque rhoncus ipsum velit, vel porttitor felis vulputate sit amet. Vivamus tortor ipsum, venenatis non ante nec, mattis pulvinar dolor.
    </p>
  </div>
</div>

<div class="row mt-2">
  <div class="col-sm-2"></div>
  <div class="col-sm-10">
      <div class="input-group">
          <input type="text" class="form-control">
          <div class="input-group-append ml-1">
            <button type="submit" class="btn bt-primary">Search</button>
          </div>
      </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-10">
    <p>
    Filter X activities: <span class="badge badge-pill badge-light">DESIGN</span>
        <span class="badge badge-pill badge-info">KS1</span>
        <span class="badge badge-pill badge-info">KS2</span>
    </p>
  </div>
</div>

<div class="row mt-2">
  <div class="col-sm-2">
    <img class="img-fluid" src="holder.js/286x150" alt="Card image cap">
  </div>
  <div class="col-sm-10">
    <h3><a href="">Make energy saving posters</a></h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit....
    </p>
    <span class="badge badge-pill badge-light">DESIGN</span>
    <span class="badge badge-pill badge-info">KS1</span>
    <span class="badge badge-pill badge-info">KS2</span>
    <span class="badge badge-pill badge-success">10</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-sm-2">
    <img class="img-fluid" src="holder.js/286x150" alt="Card image cap">
  </div>
  <div class="col-sm-10">
    <h3><a href="">Make energy saving posters</a></h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit....
    </p>
    <span class="badge badge-pill badge-light">DESIGN</span>
    <span class="badge badge-pill badge-info">KS1</span>
    <span class="badge badge-pill badge-info">KS2</span>
    <span class="badge badge-pill badge-success">10</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-sm-2">
    <img class="img-fluid" src="holder.js/286x150" alt="Card image cap">
  </div>
  <div class="col-sm-10">
    <h3><a href="">Make energy saving posters</a></h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit....
    </p>
    <span class="badge badge-pill badge-light">DESIGN</span>
    <span class="badge badge-pill badge-info">KS1</span>
    <span class="badge badge-pill badge-info">KS2</span>
    <span class="badge badge-pill badge-success">10</span>
  </div>
</div>
