.layout-cards-feature-component {
  .badge {
    font-size: $f9;
    padding: 6px 14px;
  }

  h1, h2, h3, h4, h5, h6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .trix-content {
    margin: 0;
    padding: 0;
  }
}
