<%= component 'comparison_table',
              report: report, advice_page: advice_page, table_name: table_name, index_params: index_params,
              headers: headers, colgroups: colgroups, advice_page_tab: advice_page_tab do |component| %>
  <% results.each do |result| %>
    <% component.with_row do |row| %>
      <% row.with_school school: result.school %>
      <% if result.electricity_economic_tariff_changed_this_year %>
        <% row.with_reference do %>
            <a href="#footnotes">(*5)</a>
        <% end %>
      <% end %>
      <% row.with_var change: true, val: result.percent_seasonal_variation, unit: :relative_percent %>
      <% row.with_var val: result.summer_kw, unit: :kw %>
      <% row.with_var val: result.winter_kw, unit: :kw %>
      <% row.with_var val: result.annual_cost_gbpcurrent, unit: :£ %>
    <% end %>
  <% end %>
  <% component.with_footer do %>
    <tr>
      <td colspan="<%= headers.count %>">
        <a name="footnotes"><strong><%= t('analytics.benchmarking.content.footnotes.notes') %></strong></a>
        <%= t('analytics.benchmarking.configuration.the_tariff_has_changed_during_the_last_year_html') %>
      </td>
    </tr>
  <% end %>
<% end %>
