.podium-component {
  .bar {
    width: 95%;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 3px;
    margin-left: auto;

    &-body {
      background-color: #fff9b2;
    }

    &-current {
      .bar-body {
        background-color: #ffde4d;
      }
    }
  }

  .grey {
    border-color: $grey;
  }
}

