<div class="form-group">
  <%= form.label :start_date, 'Date' %>
  <div class="input-group date" id="calendar_event_holder" data-target-input="nearest">
    <%= form.text_field :start_date, class: 'form-control datetimepicker-input', data: {target: '#calendar_event_holder'} %>
    <div class="input-group-append" data-target="#calendar_event_holder" data-toggle="datetimepicker">
      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
    </div>
  </div>
</div>

<%= form.input :calendar_event_type_id, collection: calendar_event_types, label_method: :display_title, label: 'Type', include_blank: false %>
<%= form.input :title, label: 'Description', as: :string %>

