
<%= render 'nav' %>

<div id="chart_0" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="chart_1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="chart_2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script>

var commonOptions = {
  title: {
    text: "Loading data..."
  },
  xAxis: {},
  yAxis: [{
    min: 0,
    title: {
      text: 'Pounds'
    },
    stackLabels: {
      style: {
        fontWeight: 'bold',
        color: '#232b49'
      }
    }
  }, {
    min: 0,
    title: {
      text: '°C'
    },
    stackLabels: {
      enabled: true,
      style: {
        fontWeight: 'bold',
        color: '#232b49'
      }
    },
    opposite: true
  }],
  legend: {
    align: 'right',
    x: -60,
    verticalAlign: 'top',
    y: 25,
    floating: false,
    backgroundColor: 'white',
    borderColor: '#232b49',
    borderWidth: 1,
    shadow: false
  },
  tooltip: {
    headerFormat: '<b>{point.x}</b><br/>',
    pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
  },
  plotOptions: {
    column: {
      dataLabels: {
        color: '#232b49'
      }
    },
     pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
            enabled: false
        },
        showInLegend: true
    }
  },
}

function updateData(c, d) {
  console.log(d);
  if (d.data !== null) {
    // console.log(d.title);
    // console.log(d.data.chart1_type);
    c.setTitle({ text: d.title});
    if (d.data.chart1_type == 'bar' || d.data.chart1_type == 'column' || d.data.chart1_type == 'line') {

      x_axis = d.data.x_axis
      c.xAxis[0].setCategories(x_axis);

      if (d.data.chart1_type == 'bar') {
        c.update({ chart: { inverted: true }});
      }

      if (d.chart_type != 'electricity_by_month_acyear_0_1') {
        c.update({  plotOptions: { column: { stacking: 'normal'}}});
      }

      if (d.data.chart1_type == 'line') {
        c.update({ yAxis: [{ min: -1000,  title: { text: 'kWh' }}]});
      }

      seriesData = d.series_data;
      Object.keys(seriesData).forEach(function (key) {
        c.addSeries(seriesData[key]);
      });

    } else if (d.data.chart1_type == 'pie') {
      c.addSeries(d.series_data);
      c.update({chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
      }});
    }
  } else {
    console.log('d.data is null');
  }
}

$(document).ready(function() {

var chart_0 = Highcharts.chart('chart_0', commonOptions );
var chart_1 = Highcharts.chart('chart_1', commonOptions );
var chart_2 = Highcharts.chart('chart_2', commonOptions );
var chart_3 = null;

if ($('div#chart_3').length) {
  console.log('hello');
  chart_3 = Highcharts.chart('chart_3', commonOptions );
}



 $.ajax({
    type: 'GET',
    async: true,
    dataType: "json",
    success: function (returnedData) {
      if (returnedData.charts[0]) {
        updateData(chart_0, returnedData.charts[0]);
      }
      if (returnedData.charts[1]) {
        updateData(chart_1, returnedData.charts[1]);
      }
      if (returnedData.charts[2]) {
        updateData(chart_2, returnedData.charts[2]);
      }
      if (returnedData.charts[3]) {
        updateData(chart_3, returnedData.charts[3]);
      }
    }
  });
 });
</script>
