<div class="row">
<ul class="nav nav-tabs">
  <% @nav_array.each do |nav| %>
  <li>
    <%= nav_link(nav[:name], send("school_#{nav[:path]}")) %>
  </li>
  <% end %>
</ul>

</div>
<div class="row">
  <p><%#= link_to 'Excel download', school_excel_path,  class: "btn btn-warning" %></p>
</div>
