<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script>

var chart_1 = Highcharts.chart('container', {
  title: {
    text: "Loading data..."
  },
  xAxis: {},
  yAxis: [{
    min: 0,
    title: {
      text: 'Pounds'
    },
    stackLabels: {
      style: {
        fontWeight: 'bold',
        color: '#232b49'
      }
    }
  }, {
    min: 0,
    title: {
      text: '°C'
    },
    stackLabels: {
      enabled: true,
      style: {
        fontWeight: 'bold',
        color: '#232b49'
      }
    },
    opposite: true
  }],
  legend: {
    align: 'right',
    x: -60,
    verticalAlign: 'top',
    y: 25,
    floating: false,
    backgroundColor: 'white',
    borderColor: '#232b49',
    borderWidth: 1,
    shadow: false
  },
  tooltip: {
    headerFormat: '<b>{point.x}</b><br/>',
    pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
  },
  plotOptions: {
    column: {
      stacking: 'normal',
      dataLabels: {
        color: '#232b49'
      }
    }
  },
});

$(document).ready(function() {
 $.ajax({
    url: 'chart_data.json',
    type: 'GET',
    async: true,
    dataType: "json",
    success: function (data) {
      group_by_week_gas = data.charts[2];

      x_axis = group_by_week_gas.data.x_axis
      chart_1.xAxis[0].setCategories(x_axis);

      chart_1.setTitle({ text: group_by_week_gas.title});
      seriesData = group_by_week_gas.series_data;
      Object.keys(seriesData).forEach(function (key) {
        chart_1.addSeries(seriesData[key]);
      });
    }
  });
 });

</script>
