<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script>

Highcharts.chart('container', {
  chart: {
    type: 'column'
  },
  title: {
    text: 'Stacked column chart'
  },
  xAxis: {
    categories: ['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']
  },
  yAxis: {
    min: 0,
    title: {
      text: 'Total fruit consumption'
    },
    stackLabels: {
      enabled: true,
      style: {
        fontWeight: 'bold',
        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
      }
    }
  },
  legend: {
    align: 'right',
    x: -30,
    verticalAlign: 'top',
    y: 25,
    floating: true,
    backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
    borderColor: '#CCC',
    borderWidth: 1,
    shadow: false
  },
  tooltip: {
    headerFormat: '<b>{point.x}</b><br/>',
    pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
  },
  plotOptions: {
    column: {
      stacking: 'normal',
      dataLabels: {
        enabled: true,
        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
      }
    }
  },
  series: [{
    name: 'John',
    data: [5, 3, 4, 7, 2]
  }, {
    name: 'Jane',
    data: [2, 2, 3, 2, 1]
  }, {
    name: 'Joe',
    data: [3, 4, 4, 2, 5]
  }]
});


</script>

{
  "title": "By Week: Gas 9,513pounds",
  "x_axis": ["31 Aug 2014", "07 Sep 2014", "14 Sep 2014", "21 Sep 2014", "28 Sep 2014", "05 Oct 2014", "12 Oct 2014", "19 Oct 2014", "26 Oct 2014", "02 Nov 2014", "09 Nov 2014", "16 Nov 2014", "23 Nov 2014", "30 Nov 2014", "07 Dec 2014", "14 Dec 2014", "21 Dec 2014", "28 Dec 2014", "04 Jan 2015", "11 Jan 2015", "18 Jan 2015", "25 Jan 2015", "01 Feb 2015", "08 Feb 2015", "15 Feb 2015", "22 Feb 2015", "01 Mar 2015", "08 Mar 2015", "15 Mar 2015", "22 Mar 2015", "29 Mar 2015", "05 Apr 2015", "12 Apr 2015", "19 Apr 2015", "26 Apr 2015", "03 May 2015", "10 May 2015", "17 May 2015", "24 May 2015", "31 May 2015", "07 Jun 2015", "14 Jun 2015", "21 Jun 2015", "28 Jun 2015", "05 Jul 2015", "12 Jul 2015", "19 Jul 2015", "26 Jul 2015", "02 Aug 2015", "09 Aug 2015", "16 Aug 2015", "23 Aug 2015", "30 Aug 2015", "06 Sep 2015", "13 Sep 2015", "20 Sep 2015", "27 Sep 2015", "04 Oct 2015", "11 Oct 2015", "18 Oct 2015", "25 Oct 2015", "01 Nov 2015", "08 Nov 2015", "15 Nov 2015", "22 Nov 2015", "29 Nov 2015", "06 Dec 2015", "13 Dec 2015", "20 Dec 2015", "27 Dec 2015", "03 Jan 2016", "10 Jan 2016", "17 Jan 2016", "24 Jan 2016", "31 Jan 2016", "07 Feb 2016", "14 Feb 2016", "21 Feb 2016", "28 Feb 2016", "06 Mar 2016", "13 Mar 2016", "20 Mar 2016", "27 Mar 2016", "03 Apr 2016", "10 Apr 2016", "17 Apr 2016", "24 Apr 2016", "01 May 2016", "08 May 2016", "15 May 2016", "22 May 2016", "29 May 2016", "05 Jun 2016", "12 Jun 2016", "19 Jun 2016", "26 Jun 2016", "03 Jul 2016", "10 Jul 2016", "17 Jul 2016", "24 Jul 2016", "31 Jul 2016", "07 Aug 2016", "14 Aug 2016", "21 Aug 2016", "28 Aug 2016", "04 Sep 2016", "11 Sep 2016", "18 Sep 2016", "25 Sep 2016", "02 Oct 2016", "09 Oct 2016", "16 Oct 2016", "23 Oct 2016", "30 Oct 2016", "06 Nov 2016", "13 Nov 2016", "20 Nov 2016", "27 Nov 2016", "04 Dec 2016", "11 Dec 2016", "18 Dec 2016", "25 Dec 2016", "01 Jan 2017", "08 Jan 2017", "15 Jan 2017", "22 Jan 2017", "29 Jan 2017", "05 Feb 2017", "12 Feb 2017", "19 Feb 2017", "26 Feb 2017", "05 Mar 2017", "12 Mar 2017", "19 Mar 2017", "26 Mar 2017", "02 Apr 2017", "09 Apr 2017", "16 Apr 2017", "23 Apr 2017", "30 Apr 2017", "07 May 2017", "14 May 2017", "21 May 2017", "28 May 2017", "04 Jun 2017", "11 Jun 2017", "18 Jun 2017", "25 Jun 2017", "02 Jul 2017", "09 Jul 2017", "16 Jul 2017", "23 Jul 2017", "30 Jul 2017", "06 Aug 2017", "13 Aug 2017", "20 Aug 2017", "27 Aug 2017", "03 Sep 2017", "10 Sep 2017", "17 Sep 2017", "24 Sep 2017", "01 Oct 2017", "08 Oct 2017", "15 Oct 2017", "22 Oct 2017", "29 Oct 2017", "05 Nov 2017", "12 Nov 2017", "19 Nov 2017", "26 Nov 2017", "03 Dec 2017", "10 Dec 2017", "17 Dec 2017", "24 Dec 2017", "31 Dec 2017", "07 Jan 2018", "14 Jan 2018", "21 Jan 2018", "28 Jan 2018", "04 Feb 2018", "11 Feb 2018", "18 Feb 2018", "25 Feb 2018", "04 Mar 2018", "11 Mar 2018", "18 Mar 2018", "25 Mar 2018", "01 Apr 2018", "08 Apr 2018", "15 Apr 2018", "22 Apr 2018", "29 Apr 2018", "06 May 2018", "13 May 2018", "20 May 2018", "27 May 2018", "03 Jun 2018"],
  "x_data":
  {
    "Holiday": [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 5.4030000000000005, 12.63, 4.755, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 23.211, 42.05100000000001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 81.52500000000002, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 70.93800000000002, 73.53600000000002, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 11.957999999999998, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 4.4159999999999995, 11.988, 11.283, 11.078999999999997, 10.611, 11.115, 6.429, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 5.979000000000001, 52.332, 5.619000000000001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 102.309, 120.714, 38.205, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 18.9, 9.231, 0.066, 0.0, 0.0, 0.0, 1.7490000000000012, 20.804999999999986, 1.9470000000000014, 0.0, 0.0, 0.0, 0.0, 0.0, 1.8810000000000016, 18.60299999999999, 22.820999999999994, 18.491999999999994, 21.917999999999992, 17.120999999999995, 16.769999999999992, 1.7820000000000014, 0.0, 0.0, 0.0, 0.0, 0.0, 2.1450000000000014, 23.46599999999999, 2.0820000000000007, 0.0, 0.0, 0.0, 0.0, 0.0, 2.874, 17.964000000000006, 28.965000000000007, 5.247000000000002, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 80.89200000000002, 80.21100000000003, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.5930000000000002, 0.0],
    "Weekend": [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10.649999999999999, 17.247000000000003, 8.037, 0.0, 0.0, 0.0, 11.388, 6.231, 0.0, 6.632999999999999, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 5.517, 10.802999999999999, 11.298000000000004, 11.364000000000003, 11.430000000000003, 5.748000000000002, 0.0, 17.051999999999996, 5.880000000000002, 12.354000000000003, 12.552000000000003, 6.210000000000003, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 20.978999999999996, 18.551999999999992, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.145000000000001, 4.224000000000002, 2.0130000000000017, 0.0, 1.8810000000000016, 3.597000000000003, 1.980000000000001, 3.3000000000000025, 3.4320000000000026, 3.432000000000002, 1.7490000000000014, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.9140000000000013, 3.960000000000003, 3.927000000000003, 3.828000000000003, 4.059000000000003, 3.9270000000000023, 1.8480000000000012, 0.0, 2.508000000000001, 5.874000000000004, 8.852999999999994, 33.195000000000014, 23.72100000000001, 7.515000000000001, 4.452000000000001, 0.0, 0.0, 32.38800000000002, 43.686, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 5.394, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
    "School Day Open": [0.2193320316, 0.381940257, 0.38194026479999993, 0.39517581240000005, 0.39233961900000014, 0.4207015068000001, 0.8754373307999992, 0.7600989471000001, 0.6977027499000003, 2.453999999999999, 3.068999999999998, 15.911999999999995, 38.10900000000001, 31.275, 17.117999999999995, 41.790000000000006, 0.0, 15.641999999999998, 50.928000000000004, 53.099999999999994, 44.68500000000001, 33.558000000000014, 60.228000000000016, 45.31499999999998, 46.769999999999975, 53.08500000000003, 51.075, 48.05100000000002, 50.02500000000003, 38.03400000000001, 48.58500000000002, 37.047, 33.156000000000006, 34.448999999999984, 38.784, 33.525, 19.173, 27.83700000000002, 11.975999999999994, 14.390999999999993, 14.171999999999999, 14.081999999999995, 8.540999999999999, 10.214999999999996, 5.666999999999999, 5.864999999999999, 6.740999999999998, 7.139999999999999, 12.071999999999997, 6.566999999999999, 0.0, 2.2949999999999995, 7.967999999999999, 11.400000000000002, 9.294, 11.793000000000003, 11.61, 9.159, 11.706000000000005, 17.811000000000003, 0.0, 24.114000000000008, 25.041, 35.40000000000001, 46.41000000000004, 43.36800000000005, 40.83, 32.280000000000015, 0.0, 0.0, 34.66800000000002, 49.142999999999965, 51.36600000000001, 45.01200000000005, 35.02200000000002, 48.516, 0.0, 28.824, 37.955999999999996, 38.87100000000001, 44.76600000000004, 43.16700000000003, 36.75000000000002, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 5.666999999999999, 14.480999999999996, 0.0, 13.241999999999994, 15.594000000000001, 14.435999999999993, 11.654999999999998, 14.040000000000001, 13.365000000000004, 4.752, 0.0, 0.0, 0.0, 0.0, 0.0, 4.419, 12.951000000000004, 9.428999999999998, 14.043, 13.638000000000002, 14.457000000000003, 15.213, 14.514000000000001, 0.0, 52.64099999999999, 72.34199999999997, 68.32500000000003, 87.099, 52.104000000000006, 19.638, 50.69100000000001, 0.0, 0.0, 51.677999999999976, 61.95599999999999, 58.61399999999995, 64.10999999999994, 24.485999999999997, 0.0, 0.0, 26.415, 51.44399999999996, 22.39500000000001, 57.62099999999999, 54.53400000000001, 35.535, 32.678999999999995, 0.0, 0.0, 3.7469999999999986, 0.0, 13.070999999999998, 15.494999999999997, 14.868, 0.0, 15.185999999999991, 15.005999999999998, 12.320999999999996, 14.777999999999993, 13.028999999999996, 13.601999999999997, 12.171000000000001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 9.210000000000003, 10.599000000000004, 11.037000000000004, 10.599, 10.749000000000004, 10.785000000000004, 11.343000000000007, 0.0, 16.775999999999996, 31.941000000000003, 35.081999999999994, 30.384, 37.485, 55.79099999999998, 115.02599999999997, 0.0, 0.0, 91.30200000000004, 96.22799999999998, 105.56399999999995, 68.43900000000001, 67.30800000000002, 64.683, 0.0, 62.337, 118.91699999999996, 63.90900000000002, 43.37399999999999, 55.10699999999998, 0.0, 0.0, 42.093, 20.081999999999997, 10.878000000000004, 39.723000000000006, 10.269, 8.202000000000002, 9.969000000000007, 0.0, 9.789000000000001],
    "School Day Closed": [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.151263456, 0.29118216, 0.27416502299999995, 1.6350000000000002, 1.5000000000000002, 9.611999999999997, 33.153, 22.44599999999999, 17.313, 39.992999999999995, 10.719, 34.284000000000006, 49.818000000000005, 50.42100000000001, 31.580999999999992, 40.827, 55.34400000000002, 41.636999999999986, 52.27800000000002, 48.218999999999994, 50.06699999999998, 43.292999999999985, 47.50499999999997, 38.207999999999984, 39.10199999999999, 29.202, 24.906000000000006, 25.479, 29.235, 18.252, 8.711999999999998, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 7.433999999999999, 0.0, 11.951999999999998, 5.324999999999999, 20.934000000000005, 40.443, 31.44600000000001, 36.53400000000001, 24.546000000000006, 0.0, 0.0, 28.754999999999992, 50.648999999999994, 55.779000000000025, 47.47499999999997, 37.41300000000001, 52.376999999999995, 0.0, 39.76500000000001, 42.26100000000001, 41.334, 49.93799999999998, 43.713000000000015, 29.004000000000012, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 4.8839999999999995, 16.247999999999998, 16.347, 16.676999999999996, 17.106, 17.072999999999997, 0.0, 15.174000000000001, 16.247999999999998, 17.40599999999999, 18.13499999999999, 8.88, 12.152999999999997, 39.24599999999999, 0.0, 0.0, 36.74100000000001, 43.43700000000002, 41.29199999999999, 42.23700000000001, 14.972999999999999, 0.0, 0.0, 12.450000000000005, 28.718999999999994, 14.163, 39.516000000000005, 72.83099999999997, 15.101999999999999, 13.857, 0.0, 0.0, 0.132, 0.0, 7.419000000000011, 8.004000000000008, 6.750000000000014, 0.0, 7.6140000000000105, 6.813000000000012, 5.115000000000002, 6.951000000000008, 5.95500000000001, 6.2520000000000095, 5.346000000000003, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 6.369000000000005, 7.335000000000009, 7.536000000000009, 7.002000000000009, 7.6950000000000065, 7.713000000000011, 8.520000000000003, 0.0, 17.856, 59.0970000000001, 63.30300000000008, 64.33800000000004, 93.19500000000012, 39.26399999999996, 20.906999999999993, 0.0, 0.0, 27.49500000000002, 20.459999999999983, 23.148000000000007, 53.31000000000001, 57.12299999999998, 62.796, 0.0, 59.98199999999999, 71.81099999999998, 62.35799999999998, 55.262999999999984, 62.193, 0.0, 0.0, 46.434000000000005, 25.914, 0.7260000000000002, 9.432000000000002, 0.9600000000000001, 0.561, 0.8250000000000003, 0.0, 0.6600000000000001]
  },
  "chart1_type": "column",
  "chart1_subtype": "stacked",
  "y_axis_label": "pounds",
  "y2_chart_type": "line",
  "y2_data":
  {
    "Degree Days": [0.05119047619047582, 0.23095238095238127, 0.0, 1.3172619047619052, 0.3764880952380952, 3.694940476190476, 2.9351190476190507, 2.611309523809522, 1.0651785714285738, 6.595238095238096, 5.298214285714285, 5.853571428571427, 8.415178571428571, 10.592261904761903, 10.81577380952381, 7.544047619047619, 8.244047619047619, 11.36011904761905, 7.71845238095238, 10.05625, 12.777678571428572, 10.661309523809523, 13.73511904761905, 11.388988095238094, 10.400595238095237, 9.271130952380952, 9.199107142857144, 8.570535714285715, 9.079761904761906, 8.869940476190477, 6.817261904761905, 4.626190476190475, 3.945833333333333, 4.510416666666667, 7.374107142857143, 4.064583333333336, 3.8160714285714272, 4.339285714285714, 3.4050595238095247, 2.715773809523808, 1.884523809523809, 0.5389880952380948, 0.5154761904761906, 0.0, 0.13065476190476158, 0.023214285714285916, 0.7410714285714286, 1.939583333333333, 0.06904761904761918, 0.45892857142857196, 0.5505952380952385, 0.9434523809523826, 2.302976190476189, 1.7812499999999998, 2.8342261904761914, 3.005357142857143, 2.8377976190476195, 3.433035714285713, 5.6690476190476184, 4.381547619047619, 3.911607142857143, 3.3431547619047595, 3.8101190476190467, 5.395833333333335, 8.336904761904762, 4.308928571428573, 5.414583333333334, 3.816369047619048, 5.043749999999997, 5.919642857142857, 8.389583333333333, 11.680059523809522, 11.261607142857143, 6.147916666666667, 7.069345238095238, 10.676785714285714, 10.894940476190476, 10.419940476190476, 10.420238095238096, 10.620238095238095, 9.451785714285714, 7.951488095238093, 8.287499999999998, 6.95654761904762, 6.96875, 6.910119047619048, 9.111607142857142, 3.9407738095238103, 0.91577380952381, 3.4041666666666663, 2.805654761904762, 1.4223214285714294, 0.0, 0.8520833333333346, 0.6720238095238091, 1.4663690476190472, 0.2514880952380952, 0.6848214285714272, 0.0, 0.0, 0.20505952380952383, 0.387202380952381, 0.0, 0.0, 0.0, 0.0, 0.04880952380952434, 0.37321428571428633, 1.3985119047619055, 3.8702380952380957, 5.330059523809524, 5.781845238095238, 4.918452380952382, 7.62470238095238, 9.679464285714287, 7.705059523809524, 8.770238095238097, 12.807440476190477, 6.7250000000000005, 7.240178571428572, 8.858630952380953, 10.825000000000001, 11.817857142857141, 9.393749999999999, 11.226190476190476, 12.324107142857143, 7.270535714285716, 12.301785714285714, 8.445238095238095, 6.533035714285714, 8.321428571428571, 6.419940476190475, 6.173214285714283, 7.086607142857143, 3.9095238095238085, 5.157440476190476, 5.237202380952382, 4.807738095238094, 7.505952380952381, 3.825595238095237, 2.752083333333334, 2.7071428571428564, 0.38511904761904703, 0.24464285714285644, 1.6255952380952372, 0.08303571428571464, 0.0, 0.3705357142857135, 0.0, 0.010119047619047552, 0.33452380952381056, 0.269642857142857, 0.11815476190476078, 0.46250000000000036, 0.10119047619047526, 0.1282738095238096, 0.7598214285714283, 0.733928571428572, 3.138690476190476, 2.6464285714285722, 0.41011904761904716, 2.7098214285714284, 1.2407738095238094, 2.3377976190476195, 2.8973214285714284, 6.337202380952382, 7.503571428571429, 8.011309523809523, 6.9193452380952385, 11.004166666666666, 9.248214285714285, 12.303273809523807, 8.006547619047618, 9.065476190476192, 8.442559523809523, 11.535714285714288, 9.800892857142857, 7.57440476190476, 9.107738095238094, 11.551488095238096, 10.659821428571428, 9.822916666666666, 16.396130952380954, 9.129761904761903, 8.003869047619048, 11.185119047619049, 9.399702380952379, 6.559285714285715, 5.763184523809525, 1.822172619047619, 4.5753273809523805, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
  }
}