<%= tag.div id: id, class: classes do %>
  <div class="d-flex flex-column flex-lg-row justify-content-between align-items-lg-center">
    <div class="mb-lg-0 flex-grow-1">
      <%= body %>
    </div>
    <% if action? %>
      <div class="align-self-lg-center pt-sm-2 pt-lg-0 ps-lg-2">
        <%= action %>
      </div>
    <% end %>
  </div>
<% end %>
