<% content_for :page_title, 'Update energy saving action' %>

<div class="row justify-content-md-center mt-2">
  <div class="col col-lg-8">
    <h2>Update your energy saving action</h2>
    <%= simple_form_for([@observation], url: intervention_path(@observation), html: {class: 'activity-form'}) do |f| %>
      <%= render 'form', f: f, observation: @observation, intervention_type: @intervention_type %>
    <% end %>
  </div>
</div>
