<%= render 'users/user_page', user: @user do %>
  <div id="my-school-list">
    <div class="row">
      <div class="col">
        <h2><%= t('users.show.update_email_preferences') %></h2>
      </div>
    </div>
  </div>
<% end %>
