<h1>Editing Intervention Category</h1>

<%= render 'form', intervention_type_group: @intervention_type_group %>

<div class="other-actions">
  <%= link_to 'Back', admin_intervention_type_groups_path, class: 'btn btn-secondary' %>
</div>
