<h1>Intervention Category</h1>
<p><strong>Title:</strong> <%= @intervention_type_group.title %></p>

<div class="other-actions">
  <%= link_to 'Edit', edit_admin_intervention_type_group_path(@intervention_type_group), class: 'btn btn-primary' %>
  <%= link_to 'Back', admin_intervention_type_groups_path, class: 'btn btn-secondary'  %>
</div>
