<% if show_sub_nav?(@school, @hide_subnav) ||
      show_sub_nav?(@tariff_holder, @hide_subnav) ||
      request.path.starts_with?('/school_groups') ||
      request.path.starts_with?('/admin') ||
      request.path.starts_with?('/support') ||
      request.path.starts_with?('/comparisons') %>
  <div class="page-breadcrumb">
    <%= render BreadcrumbsComponent.new do |c| %>
      <% c.with_school(@school || @tariff_holder) if @school || @tariff_holder&.school? %>
      <% c.with_items(@breadcrumbs) if @breadcrumbs.present? && @breadcrumbs.any? %>
    <% end %>
  </div>
<% end %>
