.layout-carousel-component {
  padding-left: 20px;
  padding-right: 20px;

  &.side {
    padding-left: 50px !important;
    padding-right: 50px !important;

    .carousel-control-prev, .carousel-control-next {
      width: 50px;
    }
  }

  .carousel-control-prev, .carousel-control-next, .carousel-indicators {
    height: $f6;
  }

  .carousel-indicators {
    position: static;

    li {
      background: $dark;
      width: 14px;
      height: 14px;
      border-radius: 100%;
    }
  }

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%222222' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%222222' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

  .carousel-controls {
    width: 100%;
  }
}

