<% content_for :page_title, title %>
<div class="d-flex justify-content-between align-items-center">
  <h1><%= title %></h1>
  <div><%= link_to 'All reports', admin_reports_path, class: 'btn btn-default' %></div>
</div>
