<% content_for :page_title, "Edit Impact Configuration for #{@school_group.name}" %>
<h1>Edit Impact Configuration for <%= @school_group.name %></h1>
<%= render 'form', configuration: @configuration, school_group: @school_group %>
