<table class="table table-striped table-condensed">
  <tbody>
    <% if @activities.empty? %>
      <tr><td>No activities have been logged yet</td></tr>
    <% else %>
      <% @activities[0..2].each do |activity| %>
        <tr>
          <td>
            <%= l activity.happened_on %><br>
            <%= link_to activity.title, school_activity_path(@school, activity) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<% if current_user && current_user.manages_school?(@school.id) %>
  <%= link_to 'New', new_school_activity_path(@school), class: 'btn btn-primary btn-sm' %>
<% end %>
<%= link_to 'History', school_activities_path(@school), class: 'btn btn-primary btn-sm pull-md-right' %>
