<section id="<%= meter_type.to_s %>-cards">
  <h4><%= meter_type.to_s.capitalize %></h4>
  <div class="dashboard">
    <div class="card-deck">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Awaiting data</h4>
        </div>

        <div class="card-body">
          <p>Once we have some data from your meters, we can work out how much <%= meter_type %> you are using</p>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Awaiting data</h4>
        </div>
        <div class="card-body">
          <p>Once we have some data from your meters, we can work when you are using your <%= meter_type %></p>
        </div>
      </div>
    </div>
  </div>
</section>
