<% if @badges.empty? %>
  <p>No achievements have been awarded yet</p>
<% else %>
  <% @badges.in_groups_of(3).each do |group| %>
    <div class='row'>
      <% group.each do |badge| %>
        <div class='col-xs-4'>
          <% if badge %>
            <%= image_tag(badge.custom_fields[:image]) %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
<%= link_to 'View all', achievements_school_path(@school), class: 'btn btn-primary btn-sm pull-md-right' %>
