<div class="card <%= supply %>-card">
  <div class="card-header"></div>
  <div class="card-body">
    <h4 class="card-title">
      Compare usage
    </h4>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="compare" id="compare-whole-school" value="whole-school" checked>
        Across the whole school
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="compare" id="compare-within-school" value="within-school">
        Within the school
      </label>
    </div>

  </div>
  <div class="card-footer">
    Compare usage across the whole school on different days, or compare usage within
    the school on a specific day
  </div>
  <div class="card-header"></div>
  <div class="card-body">
    <h4 class="card-title">
      Choose measurement
    </h4>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="measurement" id="measurement-pounds" value="pounds">
        Pounds &pound;
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="measurement" id="measurement-kwh" value="kWh" checked>
        kiloWatt hours
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="measurement" id="measurement-co2" value="co2">
        Carbon Dioxide emissions
      </label>
    </div>
  </div>
  <div class="card-footer">
    Choose how to measure energy usage
  </div>
</div>
