<% schools.each_slice(3) do |row| %>
  <div class="row school-card-row">
    <div class="col-lg-12">
      <div class="card-deck">
        <% row.each do |school| %>
          <%= render partial: 'schools/school_card', locals: {school: school} %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
