<div class="row padded-row">
  <div class="col-lg-7">
    <h3><%= name %></h3>
  </div>
  <% if scoreboard %>
    <div class="col-lg-5">
      <div class='btn-group float-right'>
        <%= link_to 'Compare schools', benchmarks_path(benchmark: { school_group_ids: scoreboard.school_groups.pluck(:id) } ), class: 'btn' if can?(:read, BenchmarkResult) %>
        <%= link_to 'View scoreboard', scoreboard_path(scoreboard), class: 'btn btn-primary float-right' %>
      </div>
    </div>
  <% end %>
</div>
<% schools.each_slice(3) do |row| %>
  <div class="row school-card-row">
    <div class="col-lg-12">
      <div class="card-deck">
        <% row.each do |school| %>
          <%= render partial: 'schools/school_card', locals: {school: school} %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
