<% content_for :page_title, "#{page_title} | #{school.name}" %>
<h1><%= page_title %></h1>

<% if Flipper.enabled?(:new_manage_school_pages, current_user) %>
  <div class="row">
    <div id="page-navigation" class="col-md-3 col-lg-3 col-xl-2">
      <%= component 'manage_school_navigation', school: school, current_user: current_user %>
    </div>

    <div id="page-body" class="col-md-9 col-lg-9 col-xl-10">
      <%= yield %>
    </div>
  </div>
<% else %>
  <%= yield %>
<% end %>
