<h1>Editing School</h1>

<%= render 'form', school: @school, submit_text: 'Update School'%>

<div class="other-actions">
  <%= link_to 'Back', school_path(@school), class: 'btn btn-secondary' %>
</div>
