<%= render 'schools/school_page_with_navigation', school: @school,
  page_title: t('schools.school_details.editing') do %>

  <%= render 'form', school: @school, submit_text: t('schools.school_details.update_school') %>

  <div class="other-actions">
    <%= link_to t('common.labels.back'), school_path(@school), class: 'btn btn-secondary' %>
  </div>

<% end %>
