<h1>Editing School</h1>

<%= render 'form', school: @school %>

<div class="other-actions">
  <%= link_to 'Back', school_path(@school), class: 'btn btn-secondary' %>
  <%= link_to 'Manage meters', school_meters_path(@school), class: 'btn btn-secondary' %>
</div>
