<div class="row justify-content-md-center">
  <div class="col col-md-10 col-lg-8">
    <h1><%= t('schools.user_tariffs.edit.title') %></h1>

    <%= render 'form', school: @school, submit_text: 'Update School'%>

    <div class="other-actions">
      <%= link_to t('common.labels.back'), school_path(@school), class: 'btn btn-secondary' %>
    </div>
  </div>
</div>

