<div class="row padded-row">
  <div class="col-md-12">
    <h1>Power consumption for <%= @school.name %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs float-md-left">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#gas">Gas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#electricity">Electricity</a>
          </li>
        </ul>
      </div>

      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane active" id="gas" role="tabpanel">
            <%= render partial: 'schools/hourly_usage_panel', locals: {supply: "gas"} %>
          </div>
          <div class="tab-pane" id="electricity" role="tabpanel">
            <%= render partial: 'schools/hourly_usage_panel', locals: {supply: "electricity"} %>
          </div>
        </div>
      </div>

    </div>
    <%= link_to 'School homepage', school_path(@school), class: 'btn btn-secondary' %>
  </div>
</div>
