<% content_for :page_title do %>
Schools
<% end %>
<section id="enrolled">
  <div class="container">
    <div class="row padded-row">
      <div class="col-lg-12">
        <h2>Participating Schools</h2>
      </div>
    </div>
    <% @schools_enrolled.each_slice(3) do |row| %>
        <div class="row">
          <div class="col-lg-12">
            <div class="card-deck-wrapper">
              <div class="card-deck">
                <% row.each do |school| %>
                    <%= render partial: 'schools/school_card', locals: {school: school} %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</section>

<section id="eligible">
  <div class="container">
    <div class="row padded-row">
      <div class="col-lg-12">
        <h3>Eligible Schools</h3>
      </div>
    </div>
    <% @schools_not_enrolled.each_slice(3) do |row| %>
        <div class="row">
          <div class="col-lg-12">
            <div class="card-deck-wrapper">
              <div class="card-deck">
                <% row.each do |school| %>
                    <%= render partial: 'schools/school_card', locals: {school: school} %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    <% end %>

  </div>
</section>


<% if can? :manage, School -%>
  <%= link_to 'New School', new_school_path, class: 'btn btn-primary' %>
<% end %>

