<% content_for :page_title do %>
    Scoreboard
<% end %>
<div class="application container">

  <div class="row padded-row">
    <div class="col-md-12">
      <h1>Scoreboard</h1>
    </div>
  </div>

  <div class="row">
    <table id='scoreboard' class='table'>
      <thead>
      <tr>
        <th>#</th>
        <th>School</th>
        <th>Score</th>
      </tr>
      </thead>

      <tbody>
      <% @schools.each_with_index do |school, i| %>
          <tr>
            <th scope="row"><%= i+1 %></th>
            <td><%= link_to school.name, school_path(school) %></td>
            <td>
              <%= school.sum_points %>
              &nbsp;
              <% if school.points_since > 0 %>
                  <i class="fa fa-arrow-up"></i>
              <% end %>
            </td>
            <td>

            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>


