<% content_for :dashboard_header do %>
  <%= component 'dashboard_header', school: @school %>
<% end %>

<div class="container">
  <div class="row mt-4">
    <div class="col">
      <%= component 'energy_summary_table', school: @school, user: current_user %>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <%= component 'dashboard_insights',
                    audience: :adult,
                    school: @school,
                    user: current_user,
                    progress_summary: @progress_summary %>
    </div>
  </div>
</div>
