<h3>Drilldown for more information</h3>
<table class="table table-sm table-bordered mt-2">
  <tbody>
    <% content[:school_map].slice(1, content[:school_map].length).each_slice(3) do |row_of_3| %>
      <tr>
        <% row_of_3.each do |school| %>
          <td><%= link_to school[:name], analysis_page_finder_path(school[:urn], content[:drilldown][:content_class]) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
