<% content_for :page_title, 'Benchmarks' %>

<h1>Benchmarks</h1>

<p><%= link_to 'See all on one page', all_benchmarks_path %></p>

<% @page_groups.each do |page_group| %>
  <h2><%= page_group[:name] %></h2>
  <ul>
    <% page_group[:benchmarks].each do |benchmark, title| %>
      <li><%= link_to title, benchmark_path(benchmark_type: benchmark) %></li>
    <% end %>
  </ul>
<% end %>
