<div class="row justify-content-md-center">
  <div class="col col-md-10 col-lg-8">

    <h1><%= t('mailchimp_signups.index.subscription_confirmed') %></h1>

    <br/>

    <p><%= t('mailchimp_signups.index.your_subscription_has_been_confirmed') %>.</p>
    <p><%= t('mailchimp_signups.index.thank_you_for_subscribing') %></p>

    <br/>
    <br/>

    <p>
      <%= link_to t('common.labels.home'), root_path, class: 'btn btn-small btn-primary' %>
    </p>

  </div>
</div>
