<div class="row justify-content-md-center">
  <div class="col col-md-10 col-lg-8">

    <h1>Subscription confirmed</h1>

    <br/>

    <p>Your subscription to our list has been confirmed.</p>
    <p>Thank you for subscribing!</p>


    <br/>
    <p>Energy Sparks</p>
    <p>Fairlawn</p>
    <p>Park Corner, Freshford</p>
    <p>Bath, B&NES BA2 7UP</p>
    <p>United Kingdom</p>

    <br/>
    <br/>

    <p>
      <%= link_to 'Home', root_path, class: 'btn btn-small btn-primary' %>
    </p>

  </div>
</div>
