<div class="row justify-content-md-center">
  <div class="col col-md-10 col-lg-8">
    <h1><%= t('mailchimp_signups.new.sign_up_to_the_energy_sparks_newsletter') %></h1>
    <%= render 'mailchimp_form', contact: @contact, email_types: @email_types %>
  </div>
</div>
