<div class="row justify-content-md-center">
  <div class="col col-md-10 col-lg-8">
    <h1>Add new meter</h1>

    <p><%= t('onboarding.meters.description_paragraph_1') %>.</p>
    <p><%= t('onboarding.meters.description_paragraph_2') %>.</p>
    <p><%= t('onboarding.meters.description_paragraph_3') %>.</p>

    <%= render 'form', meter: @meter, school_onboarding: @school_onboarding, url: onboarding_meters_path(@school_onboarding) %>
  </div>
</div>
