<% content_for :page_title, t('redirects.choose_school.title') %>

<% content_for :dashboard_header do %>
  <div class="row" id="profile-header">
    <div class="col">
      <h1><%= t('redirects.choose_school.title') %></h1>
    </div>
  </div>
<% end %>

<div class="container mt-4 mb-3">
  <div class="row">
    <div class="col">
      <p><%= t('redirects.choose_school.intro') %>.</p>
    </div>
  </div>
  <div class="row" id="my-school-list">
    <div class="col">
      <ul>
        <% @schools.each do |school| %>
          <li>
            <%= link_to school.name, school_redirect_path(school, @path) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
