<h1 class="mb-3"><%=@school.name %> is live on Energy Sparks</h1>
<p>
  You can now use Energy Sparks to see how much energy your school is using,
  set up alerts to warn you about high energy use and explore our activities and
  educational resources designed to teach your pupils about energy whilst
  saving money for their school.
</p>
<p>
  For help using Energy Sparks please read our
  <a href="https://energysparks.uk/resources/12/download">User Guide</a>,
  watch our <a href="https://energysparks.uk/user-guide-videos">Training Videos</a>
  or join one of our <a href="https://energysparks.uk/training">live webinar training</a> sessions.
</p>
<p>
  We hope Energy Sparks will empower your pupils, school staff, and wider
  school community to take action to make your school more energy efficient.
</p>
<%= link_to 'View your school', school_url(@school), class: 'btn btn-primary mt-3 mb-3'%>
