<h1 class="mb-3">Set up your school on Energy Sparks</h1>

<p>Thank you for enrolling <%=@school_onboarding.school_name%> onto the Energy Sparks programme (www.energysparks.uk).</p>
<p>We are excited to be introducing Energy Sparks to your school, and look forward to working with you to save energy.</p>
<p>We need some details from you about your school and your consent to publish your meter data on Energy Sparks.<p>

<%= link_to 'Set up your school on Energy Sparks', onboarding_url(@school_onboarding), class: 'btn btn-primary mb-3 mt-3'%>

<p class="small">The Energy Sparks Team<p>
