<h1>Don't forget to set up your school on Energy Sparks</h1>

<p>Thank you for enrolling <%=@school_onboarding.school_name%> into a trial of Energy Sparks (www.energysparks.uk).</p>
<p>We need some details from you about your school and your consent to publish your meter data on Energy Sparks.<p>

<%= link_to 'Set up your school on Energy Sparks', onboarding_url(@school_onboarding), class: 'btn btn-primary'%>

<p>The Energy Sparks Team<p>
