<% content_for :page_title,
               strip_tags(t('pupils.analysis.explore_energy_data_html',
                            fuel_type: t("common.#{fuel_type}").downcase)) %>

<div class="row">
  <div class="col d-flex flex-wrap justify-content-between align-items-center">
    <h1>
      <%= t('pupils.analysis.explore_energy_data_html', fuel_type: t("common.#{fuel_type}").downcase) %>
    </h1>
    <% if local_assigns[:link] %>
      <%= link_to t('pupils.analysis.explore_all', fuel_type: t("common.#{fuel_type}").downcase),
                  pupils_school_analysis_path(school,
                                              category: local_assigns[:category] || fuel_type),
                  class: 'btn btn-default' %>
    <% else %>
    <%= link_to t('pupils.analysis.explore_data'),
                pupils_school_path(school),
                class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
