<% content_for :page_title, @title %>

<h1 class="text-center"><%= @title %></h1>


<div id="chart_wrapper_1">
  <div class='analysis_controls'>
    <div class="d-flex justify-content-between" role="group">
      <div>
        <button class="btn btn-rounded move_back" disabled>
          Back 1 <span class='period'>period</span>
        </button>
      </div>
      <div>
        <button class="btn btn-rounded drillup">
          Up
        </button>
      </div>
      <div>
        <button class="btn btn-rounded move_forward" disabled>
          Forward 1 <span class='period'>period</span>
        </button>
      </div>
    </div>
  </div>

  <%= chart_tag(@school, @chart_type.to_s, index: 1, show_advice: false, chart_config: {y_axis_units:  @measurement, transformations: []}) %>

</div>
