<% content_for :page_title, "Here's the electricity and solar data for your school" %>

<div class="d-flex justify-content-between align-items-center">
  <div>
    <%= link_to 'Back',  pupils_school_analysis_path(@school, category: :solar), class: 'btn btn-rounded' %>
  </div>
  <div>
    <h1>Here's the <strong>electricity and solar</strong> data for your school</h1>
  </div>
  <div></div>
</div>
<hr />

<h2>I want to&hellip;</h2>

<div class="row">

  <%= render 'chart_link', school: @school, energy: :solar, chart_config: {energy: 'Electricity+Solar PV', presentation: 'Bar', secondary_presentation: 'Bench'} do %>
    find out how my school's electricity use compares with other schools
  <% end %>

  <%= render 'chart_link', school: @school, energy: :solar, chart_config: {energy: 'Electricity+Solar PV', presentation: 'Bar', secondary_presentation: 'Week'} do %>
    find out how much electricity was used last year
  <% end %>

  <%= render 'chart_link', school: @school, energy: :solar, chart_config: {energy: 'Electricity+Solar PV', presentation: 'Bar', secondary_presentation: 'Year'} do %>
    find out how electricity use has changed long term
  <% end %>

</div>
