<h2>Example 1: single equivalence</h2>

<%= render EquivalenceCarouselComponent.new(id: 'ex1') do |carousel| %>
  <% carousel.with_equivalence image_name: 'tree' do |e| %>
    <% e.with_title { 'The school consumed XXX kWh' } %>
    <% e.with_equivalence { 'This is equivalent to YYYY trees' } %>
    This is the content
  <% end %>
<% end %>

<hr>

<h2>Example 2: two equivalences, all navigation</h2>

<%= render EquivalenceCarouselComponent.new(id: 'ex2') do |carousel| %>
  <% carousel.with_equivalence image_name: 'tree', classes: 'active' do |e| %>
    <% e.with_title { 'The school consumed XXX kWh' } %>
    <% e.with_equivalence { 'This is equivalent to YYYY trees' } %>
    This is the content
  <% end %>
  <% carousel.with_equivalence image_name: 'television' do |e| %>
    <% e.with_title { 'The school consumed XXX kWh' } %>
    <% e.with_equivalence { 'This is equivalent to watching TV for YYYY hours' } %>
    This is the content
  <% end %>
<% end %>

<hr>

<h2>Example 2: two equivalences, no arrows</h2>

<%= render EquivalenceCarouselComponent.new(id: 'ex3', show_arrows: false) do |carousel| %>
  <% carousel.with_equivalence image_name: 'tree' do |e| %>
    <% e.with_title { 'The school consumed XXX kWh' } %>
    <% e.with_equivalence { 'This is equivalent to YYYY trees' } %>
    This is the content
  <% end %>
  <% carousel.with_equivalence image_name: 'television' do |e| %>
    <% e.with_title { 'The school consumed XXX kWh' } %>
    <% e.with_equivalence { 'This is equivalent to watching TV for YYYY hours' } %>
    This is the content
  <% end %>
<% end %>

<hr>

<h2>Example 2: two equivalences, no markers</h2>

<%= render EquivalenceCarouselComponent.new(id: 'ex4', show_markers: false) do |carousel| %>
  <% carousel.with_equivalence image_name: 'tree', classes: 'active' do |e| %>
    <% e.with_title { 'The school consumed XXX kWh' } %>
    <% e.with_equivalence { 'This is equivalent to YYYY trees' } %>
    This is the content
  <% end %>
  <% carousel.with_equivalence image_name: 'television', classes: 'carousel-item' do |e| %>
    <% e.with_title { 'The school consumed XXX kWh' } %>
    <% e.with_equivalence { 'This is equivalent to watching TV for YYYY hours' } %>
    This is the content
  <% end %>
<% end %>
