<table class="table table-striped table-sm">
  <thead>
  <tr>
    <th>Tariff type</th>
    <th>Rate</th>
  </tr>
  </thead>
  <tbody>
  <tr scope="row">
    <td>00:00 to 06:30</td>
    <td>9.573p/kwh</td>
  </tr>
  <tr scope="row">
    <td>08:00 to 19:30</td>
    <td>23.573p/kwh</td>
  </tr>
  <tr scope="row">
    <td>20:00 to 23:30</td>
    <td>15.432p/kwh</td>
  </tr>
  </tbody>
</table>
