<% if user_tariff.user_tariff_prices.any? %>
  <h3>Flat rate tariff: <%= number_to_currency(user_tariff.user_tariff_prices.first.value, unit: '£') %> per kWh</h3>
<% else %>
  <h3>No flat rate tariff has been set yet</h3>
<% end %>
