<% if user_tariff.meters.present? %>
  <div class="row">
    <div class="col-md-3">
      <p>Tariff:</p>
    </div>
    <div class="col-md-3 right">
      <strong>
        <%= user_tariff_title(@user_tariff) %>
        </strong>
    </div>
  </div>
<% else %>
  <p>There are no meters associated with this tariff</p>
<% end %>

