<h1>Select meters for tariff</h1>

<p>Which meters will this tariff apply to?</p>

<%= simple_form_for :user_tariff, url: new_school_user_tariff_path(@school), method: :get do |f| %>
  <br/>
  <%= f.hidden_field :fuel_type, value: params[:fuel_type] %>
  <%= f.input :meter_ids, as: :check_boxes, collection: @school.meters.map{|meter| [meter.mpan_mprn, meter.id]} %>
  <br/>
  <%= submit_tag "Next", class: 'btn btn-info' %>
<% end %>
