<h1>Select meters for tariff</h1>

<div class="user_tariff">

  <%= simple_form_for :user_tariff, url: new_school_user_tariff_path(@school), method: :get do |f| %>
    <%= f.hidden_field :fuel_type, value: params[:fuel_type] %>
    <div class="row">
      <div class="col-md-4">
        <p>Which meters will this tariff apply to?</p>
      </div>
      <div class="col-md-3 right">
        <%= f.input :meter_ids, as: :check_boxes, label: '', required: false, collection: @meters.map{|meter| [meter.mpan_mprn, meter.id]} %>
      </div>
    </div>
    <br/>
    <%= submit_tag "Next", class: 'btn btn-info' %>
  <% end %>

</div>
