<h1>Edit the name and date range for this <%= @user_tariff.fuel_type %> tariff</h1>

<div class="user_tariff">

  <p>There should only be one tariff for each date period, for each meter.</p>
  <br/>

  <%= render 'schools/user_tariffs/header', user_tariff: @user_tariff %>

  <%= simple_form_for [@school, @user_tariff] do |f| %>
    <%= render 'form', school: @school, user_tariff: @user_tariff, f: f %>
  <% end %>

</div>
