<div class="alert text-white <%= class_for_alert_colour(content.colour) %>" role="alert">
  <div class="row justify-content-between">
    <div class="col-1">
      <%= fa_icon(alert_icon(find_out_more.alert, 'fa-3x')) %>
    </div>
    <div class="col-9">
      <h4> <%= dashboard_title %></h4>
    </div>
    <div class="col-2 text-right">
      <%= link_to 'Find out more', school_find_out_more_path(school, find_out_more), class: 'btn btn-light btn-sm text-right pull-right', role: 'button' %>
    </div>
  </div>
</div>
