<% unless content.find_out_more_chart_title.blank? %>
  <h3 class="analysis"><%= content.find_out_more_chart_title %></h3>
<% end %>
<div id="chart_wrapper_<%= chart %>" class="col-md-auto chart-wrapper">
  <%= chart_tag(school, chart.to_s, wrap: false, show_advice: false, chart_config: {y_axis_units: '£'}, html_class: 'analysis-chart find-out-more') %>
</div>
