<% content_for :page_title, 'Email previews' %>

<h1>Email previews</h1>

<% ActionMailer::Preview.all.each do |mailer| # rubocop:disable Rails/FindEach %>
  <strong><%= mailer.name.underscore.humanize %></strong>
  <ul>
  <% mailer.emails.each do |email| %>
    <% params_method = "#{email}_params"
       params = mailer.respond_to?(params_method) ? mailer.public_send(params_method) : nil %>
    <li><%= link_to email, admin_mailer_preview_path("#{mailer.preview_name}/#{email}", params:) %></li>
  <% end %>
  </ul>
<% end %>
