<table class="table table-borderless timeline">
  <% observations.group_by{|observation| [observation.at.strftime("%Y"), observation.at.strftime("%B")]}.each do |(year, month), grouped_observations|%>
    <thead>
      <tr>
        <th colspan="3">
          <h2><%= month %> <span class="h3"><%= year %></span></h2>
          <span><%= pluralize(grouped_observations.size, 'action') %></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <% grouped_observations.each do |observation| %>
        <tr scope="row">
          <%= render "schools/observations/timeline/#{observation.observation_type}", observation: observation, show_actions: show_actions %>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
