<table class="table timeline teachers">
  <% observations.group_by{|observation| [observation.at.strftime("%Y"), observation.at.strftime("%B")]}.each do |(year, month), grouped_observations|%>
    <thead>
      <tr>
        <th colspan="4">
          <h5><%= title_for_month(month, year) %></h5>
          <span class="text-muted"><%= pluralize(grouped_observations.size, 'action') %></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <% grouped_observations.each do |observation| %>
        <tr scope="row">
          <td></td>
          <td class="timeline-border-left"></td>
          <%= render "schools/observations/timeline/#{observation.observation_type}", observation: observation, show_actions: show_actions %>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
