<div class="row justify-content-md-center">
  <div class="col col-md-10 col-lg-8">
    <h1>Welcome to Energy Sparks</h1>

    <p>Thank you for enrolling <%= @school_onboarding.school_name %> onto the Energy Sparks programme (www.energysparks.uk). We are excited to be introducing Energy Sparks to your school, and look forward to working with you to save energy.</p>

    <h5>Before we can activate your school we need to:</h5>

    <ol>
      <li>Get your permission to publish your school's energy data</li>
      <li>Set up your Energy Sparks school administrator account and pupil account</li>
      <li>Gather some more information about your school</li>
    </ol>

    <p>Once you've completed this process we will review your school and activate your account on Energy Sparks.</p>

    <%= link_to 'Next', onboarding_consent_path(@school_onboarding), class: 'btn btn-primary' %>
  </div>
</div>
