<div class="row justify-content-md-center">
  <div class="col col-md-10 col-lg-8">
    <h1>Set up your school on Energy Sparks</h1>

    <p>
      Thank you for enrolling <strong><%= @school_onboarding.school_name %></strong> with Energy Sparks!
    </p>
    <p>
      We are excited to be introducing Energy Sparks to your school, and look forward to working with you to save energy.
    </p>

    <h5>To get started, we need to complete the following steps:</h5>

    <ol>
      <li>Create your school administrator account</li>
      <li>Gather some information about your school</li>
      <li>Get your permission to collect, store, analyse and publish your school's energy data</li>
      <li>Create a pupil account</li>
    </ol>

    <p>
      The setup process should take less than 10 minutes.
    </p>

    <%= link_to 'Start', new_onboarding_account_path(@school_onboarding), class: 'btn btn-primary' %>
  </div>
</div>
