<h4>Add account</h4>

<%= simple_form_for @user, url: onboarding_users_path(@school_onboarding, @user), remote: true do |f| %>
  <%= render 'form', f: f %>
  <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  <%= f.submit 'Create account', class: 'btn btn-rounded'%>
<% end %>
