<h1><%= @programme.title %></h1>

<p><%= @programme.description %></p>
<h2>Activities</h2>
<ol class="activities">
  <% @programme.programme_type.activity_types.order(:position).each do |activity_type| %>
    <li><%= link_to activity_type.name, activity_type_path(activity_type) %></li>
  <% end %>
</ol>