<h1><%= @programme.title %></h1>

<p><%= @programme.description %></p>
<h2>Activities</h2>
<ol class="activities">
  <% @programme.programme_activities.order(:position).each do |programme_activity| %>
    <li><%= link_to "#{programme_activity.name} #{ 'completed' if programme_activity.activity }", activity_type_path(programme_activity.activity_type) %></li>
  <% end %>
</ol>