<div class="row justify-content-md-center">
  <div class="col col-md-10 col-lg-8">
    <h1><%= t('onboarding.contacts.new.title') %></h1>

    <%= simple_form_for(@contact, url: onboarding_contacts_path(@school_onboarding)) do |f| %>
      <%= render 'schools/contacts/form', f: f, submit: t('common.labels.save') %>
    <% end %>
    <div class="other-actions">
      <%= link_to t('common.labels.back'), new_onboarding_completion_path(@school_onboarding, anchor: 'alert-contacts', show: 'alert-contacts'), class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
