div.activity_type {
  a,
  a:hover,
  a:focus,
  a:active,
  a.active {
    color: $dark;
  }
}

.alert-type-activities {
  input[type="number"]{
    width: 3em;
    margin-right: 10px;
  }
}

.activity-type-filters {
  input[type="checkbox"]{
    margin-left: 10px;
  }
}
