div#ui-datepicker-div {
    z-index: 1151 !important;
}

div.calendar-legend {
    padding-top: 10px;
    align-content: center;

    .legend-scale ul {
        margin: 0;
        padding: 0;
        float: left;
        list-style: none;
    }
    .legend-scale ul li {
        display: block;
        float: left;
        width: 175px;
        margin-bottom: 6px;
        text-align: center;
        font-size: $default-font-size;
        list-style: none;
    }
    .legend-scale.vertical ul li {
        float: none;
        width: 100%;
    }
    ul.legend-labels li span {
        display: block;
        float: left;
        height: 30px;
        width: 50px;
    }

    ul.legend-labels li div.description {
        margin-left: 65px;
        text-align: left;
    }
}
