// Core colours for use across the application

// The hex values for colours can be found in initializers/colours.rb

// The following creates a SASS variable for colours grouped in the Colours::PALETTE hash
// e.g.: Colours.sass_variables :palette
// creates variables for the :palette group, such as:
// $yellow-pale: #fdefc8;
// $blue-very-dark: #334375;

// Examples of variables bought in from fuel, polarity and comparison groups:
// $electric-dark: #007EFF;
// $positive-dark: #10bca2;
// $exemplar-school: #10bca2;
$blue-pale: #f2f6fc;
$blue-light: #dcecfd;
$blue-medium: #8ca8e0;
$blue-bright: #3c64c3;
$blue-dark: #334375;
$blue-very-dark: #192a52;
$yellow-pale: #fdefc8;
$yellow-light: #fcdc8b;
$yellow-medium: #f9b233;
$yellow-dark: #772d10;
$yellow-very-dark: #441504;
$teal-pale: #f0fdf9;
$teal-light: #cbfcf0;
$teal-medium: #88f7dd;
$teal-dark: #10bca2;
$teal-very-dark: #124f49;
$red-pale: #fff1f1;
$red-light: #fbc8c8;
$red-medium: #f8a0a0;
$red-dark: #f14141;
$purple-pale: #e9d5ff;
$purple-medium: #be84f4;
$purple-dark: #9333ea;
$grey-pale: #f6f6f6;
$grey-light: #dcdcdc;
$grey-medium: #c3c3c3;
$grey-dark: #8c8c8c;
$grey-very-dark: #222222;
$cyan: #17a2b8;
$white: #ffffff;
$black: #000000;
$electric-light: #dcecfd;
$electric-dark: #3c64c3;
$gas-light: #fdefc8;
$gas-dark: #f9b233;
$storage-light: #e9d5ff;
$storage-dark: #9333ea;
$solar-light: #cbfcf0;
$solar-dark: #10bca2;
$positive-light: #cbfcf0;
$positive-dark: #10bca2;
$neutral-light: #dcecfd;
$neutral-dark: #8ca8e0;
$negative-light: #fbc8c8;
$negative-dark: #f14141;
$exemplar-school: #10bca2;
$benchmark-school: #f9b233;
$other-school: #f14141;
$primary: #192a52;
$secondary: #8c8c8c;
$success: #10bca2;
$info: #17a2b8;
$warning: #f9b233;
$danger: #f14141;
$light: #f6f6f6;
$dark: #222222;
$header-dark: #192a52;
$adult-light: #f2f6fc;
$chart-new-yellow: #fcb43a;
$chart-dark-orange: #ff4500;
$chart-light-orange: #ffac21;
$chart-dark-blue: #232b49;
$chart-bright-blue: #007bff;
$chart-mid-blue: #3bc0f0;
$chart-green: #5cb85c;
$chart-mid-purple: #b56ce2;
$chart-turquoise: #50e3c2;
$chart-light-turquoise: #a1ffe9;
$chart-electric-dark: #007eff;
$chart-electric-light: #93e1f6;
$chart-electric-middle: #02b8ff;
$chart-gas-dark: #ff8438;
$chart-gas-middle: #ffb138;
$chart-gas-light: #ffdd4b;
$chart-storage-dark: #7c3aff;
$chart-storage-light: #e097fc;
$chart-storage-heater: #501e74;
$chart-gas-light-line: #fcb43a;
$chart-solar-dark: #50e3c2;
$chart-solar-light: #a1ffe9;
$chart-degree-days: #232b49;
$chart-temperature: #232b49;
$chart-school-day-closed: #3bc0f0;
$chart-school-day-open: #5cb85c;
$chart-holiday: #ff4500;
$chart-weekend: #ffac21;
$chart-heating-day: #3bc0f0;
$chart-non-heating-day: #5cb85c;
$chart-useful-hot-water-usage: #3bc0f0;
$chart-wasted-hot-water-usage: #ff4500;
$chart-solar-pv: #ffac21;
$chart-electric: #007eff;
$chart-gas: #ff8438;
$chart-gbp: #232b49;
$chart-electricity-consumed-from-solar-pv: #5cb85c;
$chart-electricity-consumed-from-mains: #007eff;
$chart-exported-solar-electricity: #fcb43a;
$chart-y2-solar-label: #ffb138;
$chart-y2-rating: #232b49;


// Create SASS maps for each of these keys found in Colours::PALETTE hash
// These will be named: $colours-fuel etc
$colours-palette: (
  blue: (
    pale: $blue-pale,
    light: $blue-light,
    medium: $blue-medium,
    bright: $blue-bright,
    dark: $blue-dark,
    very-dark: $blue-very-dark,
  ),
  yellow: (
    pale: $yellow-pale,
    light: $yellow-light,
    medium: $yellow-medium,
    dark: $yellow-dark,
    very-dark: $yellow-very-dark,
  ),
  teal: (
    pale: $teal-pale,
    light: $teal-light,
    medium: $teal-medium,
    dark: $teal-dark,
    very-dark: $teal-very-dark,
  ),
  red: (
    pale: $red-pale,
    light: $red-light,
    medium: $red-medium,
    dark: $red-dark,
  ),
  purple: (
    pale: $purple-pale,
    medium: $purple-medium,
    dark: $purple-dark,
  ),
  grey: (
    pale: $grey-pale,
    light: $grey-light,
    medium: $grey-medium,
    dark: $grey-dark,
    very-dark: $grey-very-dark,
  ),
  cyan: $cyan,
  white: $white,
  black: $black,
);
$colours-fuel: (
  electric: (
    light: $electric-light,
    dark: $electric-dark,
  ),
  gas: (
    light: $gas-light,
    dark: $gas-dark,
  ),
  storage: (
    light: $storage-light,
    dark: $storage-dark,
  ),
  solar: (
    light: $solar-light,
    dark: $solar-dark,
  ),
);
$colours-polarity: (
  positive: (
    light: $positive-light,
    dark: $positive-dark,
  ),
  neutral: (
    light: $neutral-light,
    dark: $neutral-dark,
  ),
  negative: (
    light: $negative-light,
    dark: $negative-dark,
  ),
);
$colours-comparison: (
  exemplar_school: $exemplar-school,
  benchmark_school: $benchmark-school,
  other_school: $other-school,
);
$colours-charts: (
  chart: (
    new-yellow: $chart-new-yellow,
    dark-orange: $chart-dark-orange,
    light-orange: $chart-light-orange,
    dark-blue: $chart-dark-blue,
    bright-blue: $chart-bright-blue,
    mid-blue: $chart-mid-blue,
    green: $chart-green,
    mid-purple: $chart-mid-purple,
    turquoise: $chart-turquoise,
    light-turquoise: $chart-light-turquoise,
    electric-dark: $chart-electric-dark,
    electric-light: $chart-electric-light,
    electric-middle: $chart-electric-middle,
    gas-dark: $chart-gas-dark,
    gas-middle: $chart-gas-middle,
    gas-light: $chart-gas-light,
    storage-dark: $chart-storage-dark,
    storage-light: $chart-storage-light,
    storage-heater: $chart-storage-heater,
    gas-light-line: $chart-gas-light-line,
    solar-dark: $chart-solar-dark,
    solar-light: $chart-solar-light,
    degree-days: $chart-degree-days,
    temperature: $chart-temperature,
    school-day-closed: $chart-school-day-closed,
    school-day-open: $chart-school-day-open,
    holiday: $chart-holiday,
    weekend: $chart-weekend,
    heating-day: $chart-heating-day,
    non-heating-day: $chart-non-heating-day,
    useful-hot-water-usage: $chart-useful-hot-water-usage,
    wasted-hot-water-usage: $chart-wasted-hot-water-usage,
    solar-pv: $chart-solar-pv,
    electric: $chart-electric,
    gas: $chart-gas,
    gbp: $chart-gbp,
    electricity-consumed-from-solar-pv: $chart-electricity-consumed-from-solar-pv,
    electricity-consumed-from-mains: $chart-electricity-consumed-from-mains,
    exported-solar-electricity: $chart-exported-solar-electricity,
    y2-solar-label: $chart-y2-solar-label,
    y2-rating: $chart-y2-rating,
  ),
);


// Get a colour from a generated map
// not used yet so need to check if working :-)
@function colour-get($map, $name, $shade: false) {
  @if $shade {
    @return map-get(map-get($map, $name), $shade);
  } @else {
    @return map-get($map, $name);
  }
}
