.activity-overview {
  padding-bottom: 20px;
}

.activity-form {
  label {
    font-weight: bold;
  }
}

trix-editor {
  min-height: 320px !important;
  background: white;
}

trix-toolbar .button_groups {
  button.code {
    display: none;
  }
  button.strike {
    display: none;
  }
  button.increase {
    display: none;
  }
  button.decrease {
    display: none;
  }
}

.activity-form trix-toolbar {
  .trix-button--icon {
    width: 3.6em;
    height: 2.6em;
  }

  button.trix-button--icon-quote {
    display: none;
  }

  button.trix-button--icon-code {
    display: none;
  }

  .trix-button {
    background: white;
  }
}

.select2-container--bootstrap .select2-results__group {
  color: #212529;
  font-size: 24px;
}

.select2-container {
    width: 100% !important;
}

.select2-selection--multiple:after{
  content:"";
  position:absolute;
  right:10px;
  top:15px;
  width:0;
  height:0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #888;
}

img.activity-card-img {
  min-height: 150px;
  max-height: 150px;
  object-fit: contain;
}

img.activity-card-img-thumbnail {
  min-height: 100px;
  max-height: 100px;
  object-fit: contain;
}

.activities-deck {
  a {
    text-decoration: none;
  }
}
