.table-activations {
  th.name {
    //width: 20%
  }
  th.completed {
    width: 16%
  }
  th.meters {
    width: 8%
  }
  th.review {
    width: 16%
  }
  th.processing {
    width: 10%
  }
  th.enabled {
    width: 8%
  }
  th.actions {
    width: 18%
  }
}
