.advice-page-tabs {
  h1, h2, h3, h4, h5 {
    scroll-margin-top: 100px;
  }

  hr {
    margin-top: 50px;
  }

  h4.chart-title {
    font-weight: bold;
    padding-bottom: 0px;
  }

  h5.chart-subtitle {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

.advice-table {
  thead {
    background-color: $dark-blue !important;
    color: white;
  }
  .fa-arrow-circle-down {
    color: $green;
  }
  .fa-arrow-circle-up {
    color: $new-red;
  }
  .icon {
    width: 10px;
  }
}

.advice-table-caption {
  margin-bottom: 40px;
}
