.advice-page-tabs {
  h1, h2, h3, h4, h5 {
    scroll-margin-top: 100px;
  }

  hr {
    margin-top: 50px;
  }

  h4.chart-title {
    font-weight: bold;
    padding-bottom: 0px;
  }

  h5.chart-subtitle {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

.advice-table {
  thead {
    background-color: $dark-blue !important;
    color: white;
    th {
      border-bottom: 0px;
      border-top: 0px;
    }
  }
  .fa-arrow-circle-down {
    color: $green;
  }
  .fa-arrow-circle-up {
    color: $new-red;
  }
  .icon {
    width: 10px;
  }
  tr.positive-row {
    border-left: 5px solid $green;
  }
  tr.negative-row {
    border-left: 5px solid $new-red;
  }
}

.advice-priority-table {
  margin-top: 10px !important;

  td h4 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  td h4 div.trix-content div {
    font-size: inherit;
  }

  td h4 a div.trix-content div {
    font-size: inherit;
  }
}
.text-positive {
  color: $green;
}
.text-negative {
  color: $new-red;
}

.advice-table-caption {
  margin-bottom: 40px;
}

.advice-page-label {
  padding-bottom: 0px;
  padding-top: 10px;
  font-weight: bold;
}

.advice-page-benchmark-label {
  text-align: center !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.advice-page-benchmark-muted-label {
  @extend .advice-page-benchmark-label;
  font-weight: bold;
  color: $grey;
}

.advice-page-benchmark-colored-label {
  @extend .advice-page-benchmark-label;
  font-weight: bold;
  color: white;
  a {
    color: inherit;
    text-decoration: none;
  }
}
