.advice-page-tabs {
  h1, h2, h3, h4, h5 {
    scroll-margin-top: 100px;
  }

  hr {
    margin-top: 50px;
  }

  h4.chart-title {
    font-weight: bold;
    padding-bottom: 0px;
  }

  h5.chart-subtitle {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

.advice-table {
  thead {
    background-color: $header-dark !important;
    color: $white;
    th {
      border-bottom: 0px;
      border-top: 0px;
    }
  }
  .fa-arrow-circle-down {
    color: $positive-dark;
  }
  .fa-arrow-circle-up {
    color: $negative-dark;
  }
  .icon {
    width: 10px;
  }
  tr.positive-row {
    border-left: 5px solid $positive-dark;
  }
  tr.negative-row {
    border-left: 5px solid $negative-dark;
  }
}

.advice-table-caption {
  margin-bottom: 40px;
}

.advice-page-label {
  padding-bottom: 0px;
  padding-top: 10px;
  font-weight: bold;
}

.advice-page-benchmark-label {
  text-align: center !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.advice-page-benchmark-muted-label {
  @extend .advice-page-benchmark-label;
  font-weight: bold;
  color: $grey-medium;
}

.advice-page-benchmark-colored-label {
  @extend .advice-page-benchmark-label;
  font-weight: bold;
  color: $white;
  a {
    color: inherit;
    text-decoration: none;
  }
}
