div.alert-reports-chart {
  height: 550px;
  line-height: 550px;
  width: 100%;
  text-align: center;
  color: #999;
  font-size: 14px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 50px;
}
