div.analysis-chart, div.simulator-chart, div.usage-chart{
  height: 700px;
  width: 100%;
  text-align: center;
  color: #999;
  line-height: 700px;
  font-size: 14px;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 50px;

  &.pie-chart {
    height: 550px;
    line-height: 550px;
  }

  &.find-out-more {
    height: 500px;
    line-height: 500px;
  }
}

div.popover {
  max-width: 750px;
  z-index: 1000;
}

.table-success, .table-success > th, .table-success > td {
  background-color: $green !important;
  color: #fff;
}

.table .thead-dark th {
  background-color: $dark-blue !important;
}

.analysis, hr.analysis {
  margin-top: 40px;
}

.highcharts-loading {
  opacity: 1!important;
}
.highcharts-loading-inner {
  display: block;
}

.highcharts-loading-inner,
.highcharts-loading-inner:before,
.highcharts-loading-inner:after {
  background: #dfdfdf;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.highcharts-loading-inner {
  color: #dfdfdf;
  text-indent: -9999em;
  margin: 0 auto;
  top: 50%!important;
  position: relative;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.highcharts-loading-inner:before,
.highcharts-loading-inner:after {
  position: absolute;
  top: 0;
  content: '';
}
.highcharts-loading-inner:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.highcharts-loading-inner:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.highcharts-tooltip>span {
    background: rgba(255,255,255,1);
    border: 1px solid silver;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #888;
    padding: 8px;
    z-index: 1;
}
