body {
  @include font(f6);
  font-family: $default-font-family;
  font-weight: $default-font-weight;
  overflow-x: hidden;
}

div.application.container {
  padding-bottom: 30px;
}

.navigation-margin {
  margin-top: 108px;
}

.top-nav-margin {
  margin-top: 57px;
}

.sub-nav-margin {
  margin-top: 100px;
}

section.home.alerts .alert {
  margin-bottom: 0px;
}

address {
  display: inline !important;
  font-size: initial;
}

p {
  @include font(f6);
}

.small {
  @include font(f7);
}

.very-small {
  @include font(f8);
}

.nowrap {
  white-space: nowrap;
}

.bg-light-blue {
  background-image: linear-gradient(to right, $light-blue 0%, $lighter-light-blue 100%);
}

section.padded-section {
  padding: 100px 0;
}

div.padded-row {
  padding-top: 30px;
  padding-bottom: 30px;
}

div.callout-text {
  padding-right: 30px;
}

@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
}

div.bio {
  border: none;
}

div.hide {
  display: none;
}

.hidden {
  display: none;
}

table th.actions {
  width: 20%;
}

table th.description {
  width: 50%;
}

th.fixed-width-150 {
  min-width: 150px;
}

.table td.fit {
  white-space: nowrap;
  width: 1px;
}

.table td.overflow {
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
  max-width:1px;
}


div.meter-attributes {
  kbd {
    color: $black;
    background-color: $white;
  }
}

// Stops bootstrap hiding error messages for wrapped inputs
// OK for us as we don't render invalid feedback unless there is an error
.invalid-feedback {
  display: block !important;
}


// imput fields with specified 'pattern' will highlight when invalid
input:invalid {
  color: $new-red;
}

.funnel-image {
  border-radius: 0.5rem 0.5rem;
}

.nav-anchor a {
  position: absolute;
  left: 0px;
  top: -60px;
}

.nav-anchor {
  position: relative;
}

.static-images {
  height: 300px;
  width: 400px;
}

.static-images.small {
  height: 200px;
  width: 300px;
}

.accordion-block {
  padding-top: 20px;
}

dl dt {
  margin-bottom: 0.5rem;
}

.terms-and-conditions {
  ul {
    list-style-type: none;
  }
  ul li {
    margin: 0 0 10px 0;
  }
  table {
    width: 100%;
    margin-bottom: 30px;
  }
  .right {
    text-align: right;
  }
}

.agreements {
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-break {
  white-space: pre-line;
}

.main-breadcrumbs .breadcrumb-item+.breadcrumb-item::before {
  content: quote(">");
}

.main-breadcrumbs {
  background-color: transparent;
  padding: 0;
}

.bg-dark-blue {
  background-color: $dark-blue;
}

.text-white {
  color: $white;
}

.text-dark-blue {
  color: $dark-blue;
}

.card .card-footer.plain {
  border-top: none;
  background-color: white;
}

// polarity styles

@each $polarity, $tones in $colours-polarity {
  // e.g. .bg-positive
  .bg-#{$polarity} {
    background-image: linear-gradient(to right, map-get($tones, 'dark') 0%, map-get($tones, 'light') 100%);
  }

  // e.g. .bg-negative-dark
  .bg-#{$polarity}-dark {
    background-color: map-get($tones, 'dark');
  }

  // e.g. .bg-neutral-light
  .bg-#{$polarity}-light {
    background-color: map-get($tones, 'light');
  }
}

// fuel colour styles

@each $fuel, $tones in $colours-fuel {
  // e.g. .bg-electric-light
  .bg-#{$fuel}-light {
    background-color: map-get($tones, 'medium');
  }

  // e.g. .bg-gas-dark
  .bg-#{$fuel}-dark {
    background-color: map-get($tones, 'dark');
  }

  // e.g. .text-gas
  .text-#{$fuel} {
    color: map-get($tones, 'dark');
  }

}

// comparison styles - unused?
@each $tag, $colour in $colours-comparison {
  // e.g. bg-exemplar_school
  .bg-#{$tag} {
    background-color: $colour !important;
  }
  // e.g. text-exemplar_school
  .text-#{$tag} {
    text-decoration: underline;
    text-decoration-color: $colour;
    text-decoration-thickness: 3px;
    font-weight: bolder;
  }
}

