body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-top: 18  px;
  overflow-x: hidden;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1320px;
  }
}

body.sub-nav {
  margin-top: 110px;
}

div.application.container {
  padding-bottom: 30px;
}

div.application.container.extra-padding {
  padding-top: 30px;
}

section.home.alerts {
  padding-top: 30px;
}

address {
  display: inline !important;
  font-size: initial;
}

p.small {
  font-size: 16px;
}

.very-small {
  font-size: 12px;
}

footer li {
  font-size: 14px;
}

nav li {
  font-size: 14px;
}

.bg-positive {
  background-image: linear-gradient(to right, $bg-positive 0%, $bg-positive-light 100%);
}

.bg-neutral {
  background-image: linear-gradient(to right, $bg-neutral 0%, $bg-neutral-light 100%);
}

.bg-negative {
  background-image: linear-gradient(to right, $bg-negative 0%, $bg-negative-light 100%);
}

section.padded-section {
  padding: 100px 0;
}

div.padded-row {
  padding-top: 30px;
  padding-bottom: 30px;
}

div.callout-text {
  padding-right: 30px;
}

@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
}

div.bio {
  border: none;
}

div.hide {
  display: none;
}

table th.actions {
  width: 20%;
}

div.meter-attributes {
  kbd {
    color: black;
    background-color: white;
  }
}

// Stops bootstrap hiding error messages for wrapped inputs
// OK for us as we don't render invalid feedback unless there is an error
.invalid-feedback {
  display: block !important;
}
