body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-top: 30px;
  overflow-x: hidden;
}

body.sub-nav {
  margin-top: 110px;
}

h1 {
  font-size: 37.3px;
}

h2 {
  font-size: 31.1px;
}

h3 {
  font-size: 25.9px;
}

h4 {
  font-size: 21.6px;
}

h5 {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

div.application.container {
  padding-top: 30px;
  padding-bottom: 30px;
}

div.application.container.extra-padding {
  padding-top: 50px;
}

section.home.alerts {
  padding-top: 30px;
}

address {
  display: inline !important;
  font-size: initial;
}

p.small {
  font-size: 16px;
}

span.very-small {
  font-size: 12px;
}

footer li {
  font-size: 14px;
}

nav li {
  font-size: 14px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  color: $light-blue-links;
  outline: none;
}




div.h5.explore {
  margin-bottom: 0.25rem;
}

hr.bulb-light,
hr.bulb-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.bulb-light:after,
hr.bulb-primary:after {
  content: "\f0eb";
  font-family: 'Font Awesome\ 5 Pro';;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.bulb-light {
  border-color: white;
}
hr.bulb-light:after {
  background-color: $dark-orange;
  color: white;
}

.intro-text {
  hr.bulb-light:after {
    background-color: $light-blue;
    color: white;
  }

}

hr.bulb-primary {
  border-color: $dark-blue;
}
hr.bulb-primary:after {
  background-color: white;
  color: $dark-blue;
}

section.padded-section {
  padding: 100px 0;
}

div.padded-row {
  padding-top: 30px;
  padding-bottom: 30px;
}

div.callout-text {
  padding-right: 30px;
}

@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
}

div.bio {
  border: none;
}

div.hide {
  display: none;
}

table th.actions {
  width: 20%;
}

div.meter-attributes {
  kbd {
    color: black;
    background-color: white;
  }
}

// Stops bootstrap hiding error messages for wrapped inputs
// OK for us as we don't render invalid feedback unless there is an error
.invalid-feedback {
  display: block !important;
}
