.positive_is_bad {
  .fa-arrow-circle-up {
    color: $new-red;
  }
  .fa-arrow-circle-down {
    color: $green;
  }
}

.positive_is_good {
  .fa-arrow-circle-up {
    color: $green;
  }
  .fa-arrow-circle-down {
    color: $new-red;
  }
}

.school-type-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 25px;
  margin-left: 15px;
  margin-bottom: 15px;

  label {
    margin-right: 20px;
  }
}
