//Core colours for use across the application

//Basic colour definitions
$yellow: #ffee8f;       /* yellow rgb(255,238,143) */
$light-orange: #ffac21; /* orange  rgb(255,172,33) */
$dark-orange: #ff4500;  /* almost red; rgb(255,69,0) */

$light-blue: #3bc0f0;   /* cyanish rgb(59,192,240) */

$light-blue-links: #007bff;
$dark-blue: #232b49;    /* very dark blue rgb(35,43,73) */

$green: #5cb85c;        /* nice green rgb(92,184,92) */



//semantically named variables for highlight/low-light colours

$new-yellow: #FFE5B8;
$new-red: #FF3A5B;
$dark: #222222;

$text: $dark;

$electricDark: #007EFF;
$electricLight: #59D0FF;

$gasDark: #FF8438;
$gasLight: #FFC73E;

$bg-positive: #50E3C2;
$bg-neutral: #97E6FC;
$bg-negative: #FF3A5B;

.bg-positive {
  background-image: linear-gradient(to right, $bg-positive 0%, #A1FFE9 100%);
}

.bg-neutral {
  background-image: linear-gradient(to right, $bg-neutral 0%, #CBF4FF 100%);
}

.bg-negative {
  background-image: linear-gradient(to right, $bg-negative 0%, #FF9B9C 100%);
}
