// Core colours for use across the application

// Yellows
$new-yellow: #fcb43a; // not used in the site but same colour is used in mailers
$dark-yellow: #ffde4d; // podium
$light-yellow: #fff9b2; // podium

// Oranges
$dark-orange: #ff4500;
$light-orange: #ffac21;

// Blues
$dark-blue: #232b49; // main nav blue
$bright-blue: #007bff;
$light-blue: #97e6fc;
$lighter-light-blue: #cbf4ff;
$bluey-white: #FCFFFF; // used for background on pupil dashboards

// Greens
$green: #5cb85c;

// Reds
$new-red: #ff3a5b;
$light-red: #ff9b9c;

// Turquoise
$turquoise: #50e3c2;
$light-turquoise: #a1ffe9;

// Shades of grey - these need sorting
$black: #000000;
$dark: #222222;
$darker-grey: #6c757d;
$dark-grey: #999999;
$silver: #c0c0c0;
$grey: #c4ccd4;
$bluey-grey: #E7EDF0; // used for background on pupil dashboards
$light-grey: #e6e6e6;
$lighter-grey: #F1F3F5;
$very-light-grey: #f8f9fa;
$white: #ffffff;

// Shortcuts

$text: $dark;

// Positive / Neutral / Negatives

$bg-positive: $turquoise;
$bg-neutral: $light-blue;
$bg-negative: $new-red;

$bg-positive-light: $light-turquoise;
$bg-neutral-light: $lighter-light-blue;
$bg-negative-light: $light-red;

// Fuel Types
// Wasn't sure if these needed moving into the palette or leaving seperately
// Have given variables to the ones that are re-used

$electric-dark: #007eff; // very similar to $mid-blue
$electric-light: #93e1f6; // very similar to $light-blue

$storage-dark: #7c3aff; // dark purple
$storage-light: #e097fc; // pinky purple

$solar-dark: $turquoise;
$solar-light: $light-turquoise;

$gas-dark: #ff8438; // mid orange
$gas-light: #ffdd4b; // dark yellow

$carbon-dark: $grey;
$carbon-light: $light-grey;

$fuel-colours-light: (
  "electric" : $electric-light,
  "gas"      : $gas-light,
  "storage"  : $storage-light,
  "solar"    : $solar-light,
  "carbon"   : $carbon-light
);

$fuel-colours-dark: (
  "electric" : $electric-dark,
  "gas"      : $gas-dark,
  "storage"  : $storage-dark,
  "solar"    : $solar-dark,
  "carbon"   : $carbon-dark
);

@each $tag, $colour in $fuel-colours-light {
  .bg-#{$tag}-light {
    background-color: $colour;
  }
}

@each $tag, $colour in $fuel-colours-dark {
  .bg-#{$tag}-dark {
    background-color: $colour;
  }
  .text-#{$tag} {
    color: $colour;
  }
}

// Live Data

$live-data-dark: $green;
$live-data-light: $light-grey;

// Comparisons

$exemplar-school: $green;
$benchmark-school: $light-orange;
$other-school: $bg-negative;

$colours-comparison: (
  "exemplar_school": $exemplar-school,
  "benchmark_school": $benchmark-school,
  "other_school": $other-school
);

@each $tag, $colour in $colours-comparison {
  .bg-#{$tag} {
    background-color: $colour !important;
  }
  .text-#{$tag} {
    text-decoration: underline;
    text-decoration-color: $colour;
    text-decoration-thickness: 3px;
    font-weight: bolder;
  }
}

