//Core colours for use across the application

//Basic colour definitions
$yellow: #ffee8f;       /* yellow rgb(255,238,143) */
$light-orange: #ffac21; /* orange  rgb(255,172,33) */
$dark-orange: #ff4500;  /* almost red; rgb(255,69,0) */
$light-blue-links: #007bff;
$dark-blue: #232b49;    /* very dark blue rgb(35,43,73) */

$green: #5cb85c;        /* nice green rgb(92,184,92) */


/* New colours for redesign, will probably take the place of the originals */
/* at some point */

$new-light-yellow: #FFE5B8;
$new-yellow: #FCB43A;

$new-red: #FF3A5B;
$light-blue: #97E6FC;
$ligher-light-blue: #CBF4FF;

$dark: #222222;

$text: $dark;

$electric-dark: #007EFF;
$electric-light: #93e1f6;

$storage-dark: #7C3AFF;
$storage-light: #E097FC;

$solar-dark: #50E3C2;
$solar-light: #A1FFE9;

$gas-dark: #FF8438;
$gas-light: #ffdd4b;

$bg-positive: #50E3C2;
$bg-neutral: #97E6FC;
$bg-negative: #FF3A5B;

$bg-positive-light: #A1FFE9;
$bg-neutral-light: #CBF4FF;
$bg-negative-light: #FF9B9C;

$grey: #C4CCD4;
$light-grey: #e6e6e6;
$very-light-grey: #FCFFFF;
