div.dashboards {
  div.analysis-chart, div.simulator-chart {
    height: 400px;
    padding-bottom: 40px;
    padding-top: 20px;
  }
}

.timeline-border-left {
  border-left: 3px solid $dark;
}

.table.timeline {
  td {
    border-top: 0;
  }
  th {
    border-bottom: 0;
    border-top: 0;
  }
}

.info-bar {
  border-radius: 0.75rem;
  padding: 1.1rem 1.25rem;
}

.info-bar div .btn {
  height: 60px;
  width: 260px;
  line-height: 2.1;
  border-width: 2px;
  font-size: 20px;
}

.info-bar.bg-neutral div .btn {
  border-color: $bg-neutral;
}

.info-bar.bg-positive div .btn {
  border-color: $bg-positive;
}

.info-bar.bg-negative div .btn {
  border-color: $bg-negative;
}

div.management-energy-saving-actions {
  background-color: $light-grey;
}

table.management-priorities {
  border-collapse: separate;
  border-spacing: 0px 15px;
  tbody {
    td {
      border-top: 1px $grey solid;
      border-bottom: 1px $grey solid;
      padding: 30px;
    }
    td:first-child{
      border-left: 1px $grey solid;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    td:last-child{
      border-right: 1px $grey solid;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  @media (min-width: 576px) and (max-width: 991.98px) {
    td {
      font-size: $f7;
      .btn {
        font-size: $f7;
        width: 80px;
      }
      .trix-content div {
        font-size: $f7;
      }
    }
    th {
      font-size: $f5;
    }
    .h2 {
      font-size: $f5;
    }
  }

  @media (min-width: 300px) and (max-width: 575.99px) {
    td {
      font-size: $f8;
      .btn {
        font-size: $f8;
        width: 80px;
      }
    }
    th {
      font-size: $f8;
    }
    .h2 {
      font-size: $f8;
    }
  }

  @media (min-width: 1000px) {
    td {
      .btn {
        width: 135px;
      }
    }
  }
}
