div.bootstrap-datetimepicker-widget.dropdown-menu.usetwentyfour ul.list-unstyled li.show {
  font-size: 1rem;
}

div.tempus_dominus_date ul.list-unstyled li.show {
  font-size: 1rem;
}

div.tempus_dominus_date_time ul.list-unstyled li.show {
  font-size: 1rem;
}

div.week-view .bootstrap-datetimepicker-widget table tbody tr:hover {
  background-color: $blue-bright;
  color: $white;
  text-shadow: 0 -1px 0 rgba($black, 0.25);
}

div.week-view .bootstrap-datetimepicker-widget table tbody td:hover {
  background-color: $blue-bright;
  color: $white;
  text-shadow: 0 -1px 0 rgba($black, 0.25);
}
