.energy_tariff {
  .table-charges {
    margin-bottom: 0px;
    td {
      background-color: rgba($black, 0.05);
    }
    td.description {
      width: 60%
    }
    td.value {
      width: 10%
    }
    td.value input {
      width: 7em;
    }
    td.units {
      width: 10%
    }
    .form-group {
      margin-bottom: 0px
    }

    tr {
     @each $polarity, $tones in $colours-polarity {
        // e.g. .positive-row, .neutral-row, .negative-row
        .#{$polarity}-row {
          border-left: 5px solid map-get($tones, 'dark')
        }
      }
    }
  }

  .right {
    float: right;
  }

  .spaced {
    margin: 10px;
  }

  .energy_tariff-show-button {
    margin-top: -5px
  }
}
