footer {
  color: white;
  text-align: left;
}

footer h3 {
  margin-bottom: 30px;
}

footer .footer-above {
  padding-top: 30px;
  background-color: $dark-blue;
}

footer .footer-below {
  padding: 5px 0;
  background-color: $dark-blue;
}

footer p {
  margin-right: 5px;
}

.btn-outline {
  color: white;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 10px;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: $light-blue;
  background: white;
  border: solid 2px white;
}

.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
  outline: none;
}
