footer {
  a,
  a:hover,
  a:focus,
  a:active,
  a.active {
    color: $white;
  }
}

footer {
  color: $white;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $dark;
}

footer p {
  @include font(f8);
  margin-right: 5px;
}

footer li {
  @include font(f8);
}

footer h6 {
  color: $white;
}

.btn-outline {
  color: $white;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 10px;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: $blue-light;
  background: $white;
  border: solid 2px white;
}

.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid $white;
  border-radius: 100%;
  text-align: center;
  line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
  outline: none;
}
