header {
  text-align: center;
  color: white;
  background-image: image-url("home-background.jpg");
  background-size: contain;
  background-position: center;
}

header .container {
  padding-top: 50px;
  padding-bottom: 50px;
}

header img {
  display: block;
  margin: 0 auto 20px;
}

@media (min-width: 768px) {
  header .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

section h2 {
  margin: 0;
  font-size: 3em;
}
section.highlight {
  background: $dark-orange;
  color: white;
}
