header {
  text-align: center;
  background: $light-blue;
  color: white;
}
header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
header .intro-text .name {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 2em;
}
header .intro-text .intro {
  font-size: 1.25em;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text .intro {
    font-size: 1.75em;
  }
}


section {
  padding: 100px 0;
}
section h2 {
  margin: 0;
  font-size: 3em;
}
section.highlight {
  background: $light-blue;
  color: white;
}
section.green a {
  color: #fff;
}
@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
}
