.admin-issue {
  background-color: $light;
  border-top: 1px solid #dee2e6 !important;
  border-right: 1px solid #dee2e6 !important;
  border-bottom: 1px solid #dee2e6 !important;
}

.admin-issue.note {
  border-left:6px solid $warning !important;
}

.admin-issue.issue {
  border-left:6px solid $danger !important;
}

tr.admin-issue .note {
  border-left: 3px solid $warning !important;
}

tr.admin-issue .issue {
  border-left: 3px solid $danger !important;
}

.admin-issue .trix-content {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
