.admin-issue {
  background-color: $light;
  border-top: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.admin-issue.note {
  border-left:6px solid $warning;
}

.admin-issue.issue {
  border-left:6px solid $danger;
}

tr.admin-issue .note {
  border-left: 3px solid $warning;
}

tr.admin-issue .issue {
  border-left: 3px solid $danger;
}

.admin-issue .trix-content {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.toggler.collapsed .fa-chevron-down,
.toggler .fa-chevron-right {
  display: none;
}

.toggler.collapsed .fa-chevron-right,
.toggler .fa-chevron-down {
  display: inline-block;
}

.toggler i.fas {
  cursor: pointer;
}

@each $color, $value in $theme-colors {
  input.badge-toggle-#{$color}, input.badge-pill-toggle-#{$color} {
    display: none;
  }

  input.badge-toggle-#{$color} + label {
    border: 1px solid $light-grey;
    @extend .badge;
  }

  input.badge-pill-toggle-#{$color} + label {
    border: 1px solid $light-grey;
    @extend .badge;
    @extend .badge-pill;
  }

  input.badge-toggle-#{$color}:not(:checked) + label:hover,
  input.badge-pill-toggle-#{$color}:not(:checked) + label:hover {
    background: $grey;
  }
  input.badge-toggle-#{$color} + label:active,
  input.badge-toggle-#{$color}:checked + label,
  input.badge-pill-toggle-#{$color} + label:active,
  input.badge-pill-toggle-#{$color}:checked + label {
    @include badge-variant($value);
    border: none;
  }

}