.btn-default {
  @include button-outline-variant($blue-very-dark, $blue-very-dark, $blue-light);

  &.transparent {
    background-color: transparent;
    @include button-outline-variant($blue-very-dark, $blue-very-dark, $blue-light);
  }
}

.btn {
  background-color: $white;
  @extend .btn-default;
}

@each $color, $value in $theme-colors {
  @if $color != secondary { // secondary is same as default button design
    .btn-#{$color} {
      @include button-variant($value, $value);
    }
  }

  .btn-outline-#{$color} {
    @include button-outline-variant($value);

    &.transparent {
      background-color: transparent;
      @include button-outline-variant($value);
    }
  }
}

// primary, secondary and success all break from the normal bootstrap styles
.btn-primary {
  @include button-variant($blue-very-dark, $blue-very-dark, $blue-dark, $blue-dark);
}

.btn-success {
  @include button-variant($teal-medium, $teal-medium, $teal-dark, $teal-dark);
  color: $teal-very-dark;
}

// used in the footer newsletter signup form
.btn-outline-white {
  background-color: transparent;
  @include button-outline-variant($white, $yellow-medium, transparent, $yellow-medium);
}

a.badge {
  text-decoration: none;
  .outline {
    outline: solid;
    outline-width: 1px;
    outline-color: $grey-light;
  }
}

// used for mailchimp
.btn-dark-blue {
  color: $white;
  background-color: $blue-dark;
  background-image: none;
}

.btn-group {
   .btn {
     margin-left: 5px;
     margin-right: 5px;
   }
   &:not(.panel) {
    .btn {
      border-radius: $btn-border-radius !important;
    }
  }
}

.btn-group-xs > .btn, .btn-xs {
  padding: 0px 5px;
  @include font(f9);
  border-radius: 30px;
}

.card-deck.activities {
  a,
  a:hover,
  a:focus,
  a:active,
  a.active {
    outline: none;
  }
}

.highcharts-annotation a,
.highcharts-annotation a:hover{
  color: inherit;
  text-decoration: inherit;
}

section.highlight {
  a,
  a:hover,
  a:focus,
  a:active,
  a.active {
    color: $blue-very-dark;
    outline: none;
  }
}
