$togglers: (
  "light": (
    "icon": escape-svg($navbar-light-toggler-icon-bg),
    "colour": $navbar-light-color,
    "border": $navbar-light-toggler-border-color,
  ),
  "dark": (
    "icon": escape-svg($navbar-dark-toggler-icon-bg),
    "colour": $navbar-dark-color,
    "border": $navbar-dark-toggler-border-color,
  )
);

@mixin toggler($type) {
  $colour: map-get($togglers, $type);

  .navbar-toggler-icon {
    background-image: map-get($colour, "icon");
    width: 1.2em;
    height: 1.2em;
  }

  .navbar-toggler {
    color:  map-get($colour, "colour");
    border-color: map-get($colour, "border");
    padding: 4px;
    border-radius: $border-radius;
  }
}

@mixin navbar-scroll {
  // Allow scroll on collapse and left margin
  .collapsing, .collapse.show {
    max-height: 50vh;
    overflow-y: auto;
    margin-left: 10px;
  }
}

@mixin navbar($background, $background-lozenge, $foreground-lozenge, $foreground, $hover) {
  font-family: $header-font-family;
  @include font(f8); // design says f6
  color: $foreground;
  background-color: $background;

  & a:link, a:hover, a:focus, a:active {
    font-weight: $font-weight-semibold;
    text-decoration: none;
  }

  .dropdown-menu {
    background-color: $background;
    font: inherit;
    padding: 4px;
    margin-top: 0; // remove the gap between top of drowndown and navbar
    border:0;

    // make all dropdowns scrollable
    max-height: 85vh;
    overflow-y: auto;

    .dropdown-item {
      padding: 6px 10px;
      color: $foreground;
      background-color: $background;
    }

    .dropdown-divider {
      border-top: 1px solid color-mix(in srgb, $foreground 50%, transparent);
    }
  }

  // change menu dropdown arrow
  // https://github.com/FortAwesome/font-awesome-sass/tree/master/assets/stylesheets/font-awesome
  .dropdown-toggle::after {
    border: none;

    @extend .fa-solid;
    content: fa-content($fa-var-chevron-down);
    vertical-align: 0;
  }

  .nav-link {
    color: $foreground;

    &.dash {
      color: $hover;
    }
  }

  .nav-item.dropdown.show
  .nav-link.dropdown-toggle,
  .nav-link:hover,
  .nav-link:focus,
  .dropdown-item:hover,
  .dropdown-item:focus {
    color: $hover;
  }

  .nav-link.lozenge {
    @extend .rounded-pill;
    @include font(f9);
    padding: 0px 12px !important;
    margin: 4px 8px;
    display:inline-block;
    color: $foreground-lozenge;
    background: $background-lozenge;

    &:hover, &:focus, &:active {
      color: $grey-very-dark;
      background: $grey-medium;
    }
  }

  // The Welsh and English navbars use different breakpoints (see navbar_expand_class helper)
  // (due to equivalent Welsh menu items being longer and needing more space)

  // For the English language site
  @include media-breakpoint-down(md) {
    &.navbar-expand-lg {
      @include navbar-scroll;
    }
  }

  // For the Welsh language site
  @include media-breakpoint-down(lg) {
    &.navbar-expand-xl {
      @include navbar-scroll;
    }
  }
}

nav.navbar-top {
  @include navbar($background: $dark, $foreground: $white, $background-lozenge: $white, $foreground-lozenge: $blue-dark, $hover: $yellow-medium);
  @include toggler('dark');
  min-height: 70px; // design says 108

  img {
    height: 40px; // design says 60
    margin-bottom: 6px; // move it up a bit as text in logo isn't vertically central to logo
  }

  .nav-link.lozenge {
    border: 1px solid $blue-dark;
  }
}

nav.navbar-second {
  min-height: 42px; // design says 50
  padding-top: 4px;
  padding-bottom: 4px;

  .nav-link, .navbar-text {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .badge {
    font-size: $f9;
  }

  &.adult {
    @include navbar($background: $blue-very-dark, $foreground: $white, $background-lozenge: $blue-light, $foreground-lozenge: $blue-dark, $hover: $blue-light);
    @include toggler('dark');
    border-bottom: 1px solid $blue-dark; // Helps prevent blocks of blue-very-dark in main content merging in with nav
  }

  &.pupil {
    @include navbar($background: $yellow-light, $foreground: $yellow-very-dark, $background-lozenge: $yellow-medium, $foreground-lozenge: $yellow-dark, $hover: $yellow-dark);
    @include toggler('light');
    border-bottom: 1px solid $yellow-pale; // Helps prevent blocks of blue-very-dark in main content merging in with nav

  }
}

.vr {
  display: inline-block;
  align-self: stretch;
  width: 1px;
  min-height: 1em;
  background-color: currentColor;
  margin: 4px 8px;
  opacity: 0.5;
}
