
.navbar {
  /* border-radius: 0.25rem; */
  border-radius: 0;

  .dropdown-item:hover {
    color: $dark;
  }
}

.navbar-custom {
  background: $dark-blue;
  font-family: "Quicksand", Helvetica, Arial, sans-serif;
  font-weight: 500;
  border: none;
}
.navbar-custom a:focus {
  outline: none;
}
.navbar-custom .navbar-brand {
  color: white;
  padding-top: 0rem;
}

.navbar-custom .nav {
  padding-top: 0.25rem;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: white;
}
.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}

.sub-navbar {
  z-index: 10;
}

.sub-navbar .badge {
  padding: 0.4em;
}

.sub-navbar h3,
.sub-navbar h4 {
  margin: 0px;
}

.sub-navbar a.btn {
    margin-right: 2px;
    margin-left: 2px;
}

.sub-navbar div.container.d-flex {
  div.bd-highlight.school-name {
    max-width: 45%;
  }
}

.fixed-top-sub-nav {
    margin-top: 60px;
}

.navbar-custom .navbar-toggle {
  color: white;
  font-size: 10px;
  border-color: white;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: $light-blue;
  color: white;
  border-color: $light-blue;
}
@media (min-width: 768px) {
  .navbar-custom .navbar-brand {
    font-size: 25.9px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom.affix {
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}

.navbar-custom .dropdown-menu {
  background: $dark-blue;
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}