// Storm redesign navigation css

@import "colours";
@import "fonts";

nav.navbar.top {
//  border-radius: 0;
  background: $black;
  color: $white;
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
//  border: none;
//  padding: 1px;
  padding: 0px;

  img {
    height: 60px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .navbar-toggler {
    color: $white;
    font-size: $f8;
    border-color: $white;
  }
}
