div.valid-tooltip.temperature-tooltip {
  display: block;
  left: 130px;
  top: -35px;
}

div.invalid-tooltip.temperature-tooltip {
  display: block;
  left: 130px;
  top: -80px;
}

th.fixed-width-date {
 min-width: 150px;
}

table.temperatures td {
  padding: 0.25rem;
  vertical-align: middle;
}
