div.valid-tooltip.temperature-tooltip {
  display: block;
  left: 130px;
  top: -35px;
}

div.invalid-tooltip.temperature-tooltip {
  display: block;
  left: 130px;
  top: -80px;
}

.highcharts-annotation a, .highcharts-annotation a:hover{
  color: inherit;
  text-decoration: inherit;
}
