@each $colour, $shades in $colours-palette {
  $colour-name: $colour;

  @if type-of($shades) == map {
    @each $tone, $value in $shades {
      $tone-name: $tone;

      .text-#{$colour-name}-#{$tone-name} {
        color: $value;
      }
      .bg-#{$colour-name}-#{$tone-name} {
        background-color: $value;
      }
    }
  } @else {
    .text-#{$colour-name} {
      color: $shades;
    }
    .bg-#{$colour-name} {
      background-color: $shades;
    }
  }
}

// polarity styles

@each $polarity, $tones in $colours-polarity {
  // e.g. .bg-positive, .bg-neutral, .bg-negative
  .bg-#{$polarity} {
    background-image: linear-gradient(to right, map-get($tones, 'dark') 0%, map-get($tones, 'light') 100%);
  }

  // e.g. .bg-positive-dark, .bg-neutral-dark, .bg-negative-dark
  .bg-#{$polarity}-dark {
    background-color: map-get($tones, 'dark');
  }

  // e.g. .bg-positive-light, .bg-neutral-light, .bg-negative-light
  .bg-#{$polarity}-light {
    background-color: map-get($tones, 'light');
  }
}

@each $polarity, $tones in $colours-polarity {
  // e.g. .text-positive, .text-neutral, .text-negative
  .text-#{$polarity} {
    color: map-get($tones, 'dark')
  }
}

// fuel colour styles
@each $fuel, $tones in $colours-fuel {
  // e.g. .bg-electric-light, .bg-gas-light, .bg-storage-light, .bg-solar-light
  .bg-#{$fuel}-light {
    background-color: map-get($tones, 'light'); // was medium
  }

  // e.g. .bg-electric-dark, .bg-gas-dark, .bg-storage-dark, .bg-solar-dark
  .bg-#{$fuel}-dark {
    background-color: map-get($tones, 'dark');
  }

  // e.g. .text-electric, .text-gas, .text-storage, .text-solar
  .text-#{$fuel} {
    color: map-get($tones, 'dark');
  }
}

// comparison styles - unused?
@each $tag, $colour in $colours-comparison {
  // e.g. .bg-exemplar_school, .bg-benchmark_school, .bg-other_school
  .bg-#{$tag} {
    background-color: $colour !important;
  }

  // e.g. .text-exemplar_school, .text-benchmark_school, .text-other_school
  .text-#{$tag} {
    text-decoration: underline;
    text-decoration-color: $colour;
    text-decoration-thickness: 3px;
    font-weight: bolder;
  }
}
