/* For pupil's dashboard */

#pupil_password{
  font-size: 200%;
}

.illustration-background {
  padding-top: 20px;
  background-image: linear-gradient(to right, #FCFFFF 0%, #FCFFFF 15%, #E7EDF0 50%, #FCFFFF 85%, #FCFFFF 100%);
}

.illustration-wrapper {
  overflow: visible;

  img {
    height: 594px;
    background-size: 755px 594px;
  }
}

.surrounding-schools {
  .bar{
    width: 95%;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 3px;
    margin-left: auto;

    &-body{
      background-color: #fff9b2;
    }

    &-current {
      .bar-body{
        background-color: #ffde4d;
      }
    }

  }
}

.grey {
  border-color: $grey;
}

.activity-suggestion {
  border: 2px solid $grey;
  padding: 30px;
  border-radius: 10px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23222222' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23222222' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  top: 90%;
  bottom: 10%;
  opacity: 1;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .carousel-control-prev,
  .carousel-control-next {
    width: 5%;
  }

  .carousel-control-prev-icon {
    width: 30px;
    height: 30px;
  }

  .carousel-control-next-icon {
    width: 30px;
    height: 30px;
  }
}

// Medium devices (tablets, 768px and up) // max-width: 991.98px
@media (min-width: 768px) and (max-width: 991.98px) {
  .carousel-control-prev,
  .carousel-control-next {
    width: 5%;
  }

  .carousel-control-prev-icon {
    width: 30px;
    height: 30px;
  }

  .carousel-control-next-icon {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .carousel-control-prev,
  .carousel-control-next {
    width: 5%;
    top: 90%;
    bottom: 10%;
    opacity: 1;
  }

  .carousel-control-prev-icon {
    width: 40px;
    height: 40px;
  }

  .carousel-control-next-icon {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1200px) {
  .carousel-control-prev-icon {
    width: 40px;
    height: 40px;
  }

  .carousel-control-next-icon {
    width: 40px;
    height: 40px;
  }
}
