div.school-card-row {
  padding-bottom: 30px;
}

/* UNUSED?
.activity-card {
  border: 5px solid $green;

  .card-header {
    background-color: $white;
    border-bottom: 0px;
  }

  .card-footer {
    background-color: $white;
    border-top: 0px;
  }

  .card-body {
    padding-top: 0px;
  }

  .btn {
    background-color: $green;
    border-color: $green;
  }
}
*/


// e.g. .gas-card, .electric-card
@each $fuel in (gas, electric) {
  .#{$fuel}-card {
    border: 5px solid colour-get($colours-fuel, $fuel, 'light');

    .card-header {
      background-color: $white;
      border-bottom: 0px;
    }

    .card-footer {
      background-color: $white;
      border-top: 0px;
    }

    .card-body {
      padding-top: 0px;
    }

    .btn {
      background-color: colour-get($colours-fuel, $fuel, 'dark');
      border-color: colour-get($colours-fuel, $fuel, 'dark');
    }
  }
}

// used in _usage_control.html.erb
// these currently use chart fuel colours as opposed to site fuel colours
.usage-controls {
  @each $fuel, $tones in $colours-fuel {
    $fuel-name: if($fuel == 'electric', 'electricity', $fuel);

    //e.g. .electricity-light, .gas-light, .storage-light, .solar-light
    .#{$fuel-name}-light {
      border: 2px solid colour-get($colours-charts, 'chart', "#{$fuel}_light");
    }

    //e.g. .electricity-dark, .gas-dark, .storage-dark, .solar-dark
    .#{$fuel-name}-dark {
      border: 2px solid colour-get($colours-charts, 'chart', "#{$fuel}_dark");
    }
  }
}

.live-data-light {
  border: 2px solid $grey-light;
}

.live-data-dark {
  border: 2px solid $teal-dark;
}

.secondary-card {
  border: 5px solid $secondary;

  .card-header {
    background-color: $white;
    border-bottom: 0px;
  }

  .card-footer {
    background-color: $white;
    border-top: 0px;
  }

  .card-body {
    padding-top: 0px;
  }
}

.dashboard {
  .card {
    .card-header {
      padding: 0.75rem 1.25rem 0rem;
      background-color: $white;
      border-bottom: 0px;
    }
    .card-footer {
      background-color: $white;
      border-top: 0px;
    }
  }
}

div.award {
  border: none;

  .card-title {
    margin-top: 10px;
  }
}

div.calendars {
  font-size: 100% !important;
}

.scrollable-title {
  scroll-margin-top: 100px;
}
