#activity-cards {
  padding-bottom: 60px;

  .dashboard {
    .card {
      border: 5px solid $green;
    }
    .btn {
      background-color: $green;
      border-color: $green;
    }
  }

}

.dashboard {
  .card {
    .card-header {
      padding: 0.75rem 1.25rem 0rem;
      background-color: #fff;
      border-bottom: 0px;
    }
    .card-footer {
      background-color: #fff;
      border-top: 0px;
    }
    .btn {
      font-size: 20px;
    }
  }

}

#electricity-cards {
  padding-bottom: 35px;

  .dashboard {
    .card {
      border: 5px solid $electricLight;
    }
    .btn {
      background-color: $electricDark;
      border-color: $electricDark;
    }
  }
}

#gas-cards {
  padding-bottom: 35px;

  .dashboard {
    .card {
      border: 5px solid $gasLight;
    }
    .btn {
      background-color: $gasDark;
      border-color: $gasDark;
    }
  }

}

