div.school-card-row {
  padding-bottom: 30px;
}

.activity-card {
  border: 5px solid $green;

  .card-header {
    background-color: #fff;
    border-bottom: 0px;
  }

  .card-footer {
    background-color: #fff;
    border-top: 0px;
  }

  .card-body {
    padding-top: 0px;
  }

  .btn {
    background-color: $green;
    border-color: $green;
  }
}

.gas-card {
  border: 5px solid $gas-light;

  .card-header {
    background-color: #fff;
    border-bottom: 0px;
  }

  .card-footer {
    background-color: #fff;
    border-top: 0px;
  }

  .card-body {
    padding-top: 0px;
  }

  .btn {
    background-color: $gas-dark;
    border-color: $gas-dark;
  }
}

.electricity-card {
  border: 5px solid $electric-light;

  .card-header {
    background-color: #fff;
    border-bottom: 0px;
  }

  .card-footer {
    background-color: #fff;
    border-top: 0px;
  }

  .card-body {
    padding-top: 0px;
  }

  .btn {
    background-color: $electric-dark;
    border-color: $electric-dark;
  }
}

.electricity-light {
  border: 2px solid $electric-light;
}

.electricity-dark {
  border: 2px solid $electric-dark;
}

.gas-light {
  border: 2px solid $gas-light;
}

.gas-dark {
  border: 2px solid $gas-dark;
}

.storage-light {
  border: 2px solid $storage-light;
}

.storage-dark {
  border: 2px solid $storage-dark;
}

.solar-light {
  border: 2px solid $solar-light;
}

.solar-dark {
  border: 2px solid $solar-dark;
}

.live-data-light {
  border: 2px solid $live-data-light;
}

.live-data-dark {
  border: 2px solid $live-data-dark;
}

.secondary-card {
  border: 5px solid grey;

  .card-header {
    background-color: #fff;
    border-bottom: 0px;
  }

  .card-footer {
    background-color: #fff;
    border-top: 0px;
  }

  .card-body {
    padding-top: 0px;
  }

}

.dashboard {
  .card {
    .card-header {
      padding: 0.75rem 1.25rem 0rem;
      background-color: #fff;
      border-bottom: 0px;
    }
    .card-footer {
      background-color: #fff;
      border-top: 0px;
    }
  }
}

#activity-cards {
  padding-bottom: 60px;

  .dashboard {
    .card {
      border: 5px solid $green;
    }
    .btn {
      background-color: $green;
      border-color: $green;
    }
  }

}

#scoreboard {
  thead {
  }
  .fa-arrow-up {
    color: $green;
  }
}

div.award {
  border: none;

  .card-title {
    margin-top: 10px;
  }
}

div.calendars {
  font-size: 100% !important;
}
