#scoreboard {
  thead {
    tr {
      th {
        h2 {
          font-weight: bolder;
        }
      }
    }
  }
  .fa-arrow-up {
    color: $green;
  }
}

#scoreboards {
  h2 {
    font-size: $f2;
    padding-top: 20px;
  }
  h2, h3 {
    font-weight: bolder;
    padding-bottom: 0;
  }
  h4 {
    padding-top: 0px;
    padding-bottom: 5px;
  }
  .card-footer {
    border-top: none;
    background-color: white;
  }
}
