div.simulator-chart {
  height: 350px;
  width: 100%;
  text-align: center;
  color: #999;
  line-height: 700px;
  font-size: 14px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

form.simulation div.form-row {
  padding-bottom: 10px;
}

form.simulation div.tab-pane {
  padding-top: 20px;
}

form.simulation div#electric_hot_water div.custom-control.custom-checkbox {
  padding-top: 1.0rem;
  padding-left: 3.0rem;
}

