div.simulator-chart {
  height: 350px;
  width: 100%;
  text-align: center;
  color: #999;
  line-height: 700px;
  font-size: 14px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 10px;
}


ul#simulator-nav.nav.nav-tabs li.nav-item a.nav-link {
  font-size: 14px;
}

