.other-actions {
  margin-top: 20px;
}

.circular {
  border-radius: 50%;
}

.text-gas {
  color: $gas-dark;
}

.text-electricity {
  color: $electric-dark;
}

.text-storage {
  color: $storage-dark;
}

.text-solar {
  color: $solar-dark;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.curved-border {
  border-radius: 0.75rem;
}
