body {
  padding-top: 70px;
}

.navbar {
  a { color: white; }
  background-color: #0084cc;
  .navbar-brand {
    margin-right: 50px;
    color: #ff7600;
    font-size: 24px;
  }
  .dropdown-menu {
    background-color: #0084cc;
  }
}

.other-actions {
  margin-top: 20px;
}
