.table {
  &.table-lined {
    thead {
      tr {
        border: 0;
      }

      th {
        @extend h3;
        border: 0px;
      }
    }

    tbody {
      th {
        @extend h4;
        border: 0;
        padding-top: 32px;
        padding-bottom: 24px;
      }
      td {
        border-top: 0;
      }
    }

    td {
      border-bottom: 1px solid $grey-light;
    }
  }
}