.activities {
  .card-footer, .card-header {
    background-color: $white;
    border-top: 0;
    border-bottom: 0;
  }

  .card.programme {
    border: 2px solid $positive-dark;
  }

  .card.activity {
    border: 2px solid $grey-medium;
    .card-footer .rounded-pill {
      background-color: $blue-light;
    }
  }
}

.card-deck.actions {
  padding-top: 10px;
  padding-bottom: 10px;

  .card {
    border: 0;
  }

  .card-footer {
    padding: 0.75rem 1.25rem;
    background-color: $white;
    border-top: 0;
  }
}
