.theme {
  &.theme-dark {
    background-color: $blue-very-dark;
    color: $blue-light;

    h1, h2, h3, h4, h5, h6, .text-main {
      color: $white;
    }

    a:not(.btn) {
      color: $teal-medium;
    }

    .text-complement {
      color: $blue-light;
    }

    .badge {
      background-color: $teal-medium;
      color: $blue-very-dark;
    }

    .btn-primary {
      @extend .btn-success;
    }

    .btn-secondary {
      @extend .btn-outline-white;
    }
  }

  &.theme-light, &.theme-accent {
    h1, h2, h3, h4, h5, h6, .text-main {
      color: $blue-very-dark;
    }

    a:not(.btn) {
      color: $blue-very-dark;
    }

    .text-complement {
      color: $blue-very-dark;
    }
  }

  &.theme-light {
    background-color: $blue-light;
    color: $blue-dark;

    .badge {
      background-color: $yellow-light;
      color: $blue-dark;
    }

    .btn-secondary {
      @include button-outline-variant($blue-very-dark, $blue-very-dark, $blue-pale);
    }
  }

  &.theme-accent {
    background-color: $yellow-pale;

    .badge {
      background-color: $yellow-medium; // This is not in the design (open to other options!)
    }

    .btn-secondary {
      @include button-outline-variant($blue-very-dark, $blue-very-dark, $yellow-light);
    }
  }
}
