.toggler.collapsed .fa-chevron-down,
.toggler .fa-chevron-right {
  display: none;
}

.toggler.collapsed .fa-chevron-right,
.toggler .fa-chevron-down {
  display: inline-block;
}

.toggler i.fas {
  cursor: pointer;
  margin-left: -0.65rem;
}
