
#transport_survey li.nav-item {
  width: calc(100% / 5);
}

#transport_survey .btn-primary {
  background-image: none;
  color: $white;
}

#transport_survey .btn-outline-secondary {
  background-image: none;
}

#transport_survey .btn-outline-secondary:hover {
  background-color: $light;
}
