<% programme_types.each do |programme_type| %>
  <div class="row mt-2">
    <div class="col-sm-2">
      <%= link_to programme_type_path(programme_type) do %>
        <%= render 'programme_types/image', programme_type: programme_type, css_class: "activity-card-img"  %>
      <% end %>
    </div>
    <div class="col-sm-10">
      <p>
        <%= link_to programme_type.title, programme_type_path(programme_type), style: "text-decoration: none;" %>
      </p>
      <p>
        <%= programme_type.short_description %>
      </p>
      <% if started_programmes.include?(programme_type) %>
        <p>You have already started this programme</p>
      <% end %>
    </div>
  </div>
<% end %>
