<div class="row">
  <div class="col-md-12">
    <div class="row alert info-bar text-dark bg-neutral" role="alert">
      <div class="col-md-1">
        <i class="fas fa-check fa-2x"></i>
      </div>
      <div class="col-md-8 align-self-center">
        <%= t('programme_types.completed.you_completed_this_programme_on',
              date: nice_dates(programme_type.programme_for_school(school).ended_on)) %>
      </div>
      <div class="col-md-3">
        <% if school.programmes.where(programme_type: @programme_type).completed
                    .where(ended_on: ..school.current_academic_year.start_date).any? %>
          <%= link_to t('programme_types.completed.repeat'),
                      school_programmes_path(school, programme_type_id: @programme_type),
                      method: :post, class: 'btn btn-sm' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
