<div class="row">
  <div class="col-md-9">
    <div class="row alert info-bar text-dark bg-neutral" role="alert">
      <div class="col-md-1">
        <i class="fas fa-tasks fa-2x"></i>
      </div>
      <div class="col-md-8">
        You started this programme on <%= nice_dates(programme_type.programme_for_school(school).started_on) %>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
</div>
