<% content_for :page_title, "Programmes" %>

<div class="row">
  <div class="col">
    <div class="d-flex justify-content-between align-items-center">
      <h1>Programmes</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>A programme brings together some activities designed to help with progress toward some targets..</p>
  </div>
</div>
<%= render "cards", programme_types: @programme_types, started_programmes: @started_programmes %>
<div class="row padded-row"></div>
