<h1><%= @programme_type.title %></h1>

<p><%= @programme_type.description %></p>
<%= link_to 'Start this programme', new_school_programme_type_programme_path(@school, @programme_type) if @school %>
<h2>Activities</h2>
<ol class="activities">
  <% @programme_type.activity_types.order(:position).each do |activity_type| %>
    <li><%= link_to activity_type.name, activity_type_path(activity_type) %></li>
  <% end %>
</ol>