<h1>Your Energy Sparks account</h1>

<p>Welcome <%= @resource.name %></p>

<% if @resource.school.present? %>
  <p>An account has been created for you on Energy Sparks for <%= @resource.school.name %>.</p>
<% else %>
  <p>An account has been created for you on Energy Sparks.</p>
<% end %>

<p>You can confirm your account email through the link below:</p>

<%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token), class: 'btn btn-primary mb-3 mt-3' %>

<p>
  If you have any questions or concerns then please contact the <%= t('application') %> team by replying to
  this email.
</p>
