<div class="row">
  <h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted">Charts</span>
  </h4>
</div>
<div class="row">
  <div class="col">
    <p>This chart shows actual and simulated energy usage over a recent school day.</p>
    <div id="chart_wrapper_0">
      <div id="chart_0" class="analysis-chart simulator-chart" data-chart-index="0" data-chart-type="<%= chart_data[0].to_s %>" data-chart-json="<%= request.path %>.json" data-no-advice></div>
    </div>
  </div>
  <div class="col">
    <p>This chart shows actual and simulated energy usage over a school day six months ago.</p>
    <div id="chart_wrapper_1">
      <div id="chart_1" class="analysis-chart simulator-chart" data-chart-index="1" data-chart-type="<%= chart_data[1].to_s %>" data-chart-json="<%= request.path %>.json" data-no-advice></div>
    </div>
  </div>
</div>