<div class="form-row">
  <div class="btn-group" role="group" aria-label="Update simulator or see results">
    <button class="btn btn-primary update-simulator" type="button">Update simulator</button>
    <button class="btn btn-success submit-simulator" type="submit">See results</button>
  </div>
</div>
