<% content_for :title, 'Admin Index' %>

<div class="container">
  <ul>
    <% @dashboard_users.each do |ad| %>
      <li><%= link_to ad.display_name, admin_dashboard_path(ad) %></li>
    <% end %>
  </ul>
</div>
