<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <%= render template: 'schools/user_tariff_differential_prices/new', formats: [:html] %>
    </div>
  </div>
</div>
