<% content_for :page_title do %>
    Update activity
<% end %>

<div class="row padded-row">
  <div class="col-md-12">
    <h1>Update your activity</h1>
    <p>
      Use the form below to update your activity
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'form', activity: @activity %>
  </div>
</div>

<div class="other-actions">
</div>
