<h1>Editing activity for <%= @school.name %></h1>

<%= render 'form', activity: @activity %>

<div class="other-actions">
  <%= link_to 'Back', school_path(@school), class: 'btn btn-secondary' %>
</div>
