<% content_for :page_title, 'Update activity' %>

<div class="row justify-content-md-center mt-2">
  <div class="col col-lg-8">
    <h2>Update your activity</h2>
  </div>
</div>

<div class="row justify-content-md-center mt-2">
  <div class="col col-lg-8">
    <%= render 'form', activity: @activity %>
  </div>
</div>
