<h1>Record a new energy saving activity</h1>

<p>
  Tell us about an energy saving activity at your school. Every activity you record will score points for your school.
</p>

<%= render 'form', activity: @activity %>

<div class="other-actions">
</div>