<div class="container">
  <%= render EquivalenceComponent.new(image_name: @equivalence.equivalence_type.image_name,
                                      fuel_type: @equivalence.equivalence_type.meter_type,
                                      classes: 'pl-2 public-displays',
                                      layout: :vertical) do |e| %>
    <% e.with_header do %>
      <%= @equivalence.equivalence %>
    <% end %>
  <% end %>
  <div class="row">
    <div class="col-12 d-flex justify-content-end">
      <div class="public-display-logo">
        <%= image_tag('navigation-brand-transparent-en.png') %>
      </div>
    </div>
  </div>

</div>
