<%= f.input :name, required: :true %>
<%= f.input :email, required: :true %>

<p>Energy Sparks can automatically create an alert contact so you can receive alert notificiations by email or SMS.</p>

<div class="custom-control custom-checkbox pb-3">
  <input type="checkbox" class="custom-control-input" id="user_auto_create_alert_contact" name="user[auto_create_alert_contact]" checked >
  <label class="custom-control-label" for="user_auto_create_alert_contact">Auto create alert contact</label>
</div>