<h1>Edit school admin account</h1>

<%= simple_form_for @school_admin, url: school_school_admin_path(@school, @school_admin) do |f| %>
  <%= render 'form', f: f %>
  <%= render 'schools/users/auto_create_alert_contact' %>
  <%= f.submit 'Update account', class: 'btn btn-rounded'%>
<% end %>
