<div class="illustration-background">
  <%= render Layout::CarouselComponent.new(id: 'survey_carousel', arrows: :bottom) do |carousel| %>
    <% @transport_survey.equivalences.each_with_index do |equivalence, index| %>
      <% carousel.with_equivalence image_name: equivalence[:svg],
                                   classes: "carousel-item #{'active' if index.zero?}" do |e| %>

        <% e.with_title do %>
          <%= t('schools.transport_surveys.show.summary_html', count: @transport_survey.total_responses,
                                                               carbon: @transport_survey.total_carbon.round(2)) %>
        <% end %>
        <% e.with_equivalence do %>
          <%= equivalence[:statement] %>
        <% end %>
        <ul>
          <% TransportSurvey::TransportType.categories.keys.each do |cat| %>
            <li><%= t("schools.transport_surveys.show.percentages.#{cat}_html",
                      amount: tag.strong("#{@transport_survey.percentage_per_category[cat].round}%")) %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  <% end %>
</div>
