<div class="d-flex justify-content-between align-items-center">
  <% if @transport_survey %>
    <% if @transport_survey.today? %>
    <h1>Today's travel to school survey</h1>
      <% else %>
    <h1>Travel to school survey on <%= nice_dates @transport_survey.run_on %></h1>
    <% end %>
  <% else %>
    <h1>Travel to school surveys</h1>
  <% end %>
  <div>
    <%= header_nav_link "Survey today", start_school_transport_surveys_url(@school) if can?(:start, TransportSurvey) %>
    <%= header_nav_link "View all transport surveys", school_transport_surveys_url(@school) %>
  </div>
</div>