<h4><%= t('schools.transport_surveys.edit.intro.why_title') %></h4>
<p><%= t('schools.transport_surveys.edit.intro.why') %></p>

<h4><%= t('schools.transport_surveys.edit.intro.how_title') %></h4>

<ol>
  <%= t('schools.transport_surveys.edit.intro.how_html', park_and_stride_mins: TransportSurvey::Response.park_and_stride_mins) %>
</ol>
