<h3>Why are we doing this?</h3>
<p>Transport accounts for around one-fifth of global carbon dioxide (CO2) emissions. Some modes of transport, emit more carbon than others! For example, petrol or diesel cars emit, on average, about 3 times more than electric cars. Some modes emit no carbon whatsoever - can you guess what they are? Find out how much carbon your school uses by travelling to school.</p>

<h3>How to carry out this activity</h3>

<ol>
<li>This can be carried out by a group of pupils with ipads or tablets.</li>
<li>Ask an adult to navigate to this page on the device to be used for surveying.</li>
<li>Record today's weather & click "start surveying" before heading outside (or away from an internet connection).</li>
<li>Begin asking members of the school community the questions presented in the survey.</li>
<li>When you have finished, make sure you are connected to the internet before submitting the results.</li>
<li>You could try conducting a transport survey on a different day to see if you have reduced your carbon.</li>
</ol>