<ul class="nav nav-tabs nav-fill">
  <li class="nav-item">
    <a class="nav-link active disabled" href="#">Time</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Transport</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Passengers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Summary</a>
  </li>
</ul>

<div class="progress" style="height: 20px;">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
</div>