<ul class="nav nav-tabs nav-fill">
  <li class="nav-item">
    <a class="nav-link active" href="#">Sharing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Time</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Transport</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Confirm</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Summary</a>
  </li>

</ul>

<div class="progress" style="height: 20px;">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
</div>