<h1>School group: <%= @school_group.name %></h1>

<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th>Type</th>
      <th>Meter type</th>
      <th>Reason</th>
      <th>By</th>
      <th>On</th>
      <th>Output</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'admin/schools/school_attributes/single', meter_attribute: @meter_attribute %>
  </tbody>
</table>
