<div class="row">
  <div class="col-md-12">
    <%= render 'schools/dashboard_alerts/alert', alert: @alert, find_out_more: nil,  content: @content, dashboard_title: @content.send(params[:field]), school: @school %>
  </div>
</div>
