<div class="row">
  <div class="col-md-12">
    <%= render 'schools/dashboard/bar', colour: class_for_alert_colour(@content.colour), icon: alert_icon(@alert, 'fa-3x'), buttons: {}, content: @content.send(params[:field]) %>
  </div>
</div>
