<div class="alert alert-info clearfix mb-2 d-flex">
  <div class="pl-2 pr-3 justify-content-start"><%= fa_icon(:info) %></div>
  <div class="flex-grow-1">
    <%= messageable.dashboard_message.try(:message) || "No message is currently set to display on dashboards for this #{messageable.model_name.human.downcase}" %>
  </div>
  <div class="justify-content-end">
    <% edit_label = messageable.dashboard_message.try(:message) ? 'Edit message' : 'Set message' %>
    <%= link_to edit_label, url_for([:edit, :admin, messageable, :dashboard_message]), class: 'btn btn-sm' %>
    <%= link_to 'Delete message', admin_school_group_dashboard_message_path(messageable, redirect_back: admin_school_group_path(@school_group)), method: :delete, data: {confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' if messageable.dashboard_message.try(:message) %>
  </div>
</div>