<div class="bg-neutral py-2 mb-2 clearfix border rounded">
  <div class="float-left px-4">
    <%= fa_icon(:info) %>
  </div>
  <div class="float-left">
    <%= messageable.dashboard_message.try(:message) || "No message is currently set to display on dashboards for this #{messageable.model_name.human.downcase}" %>
  </div>
  <div class="float-right px-2">
    <%= link_to 'Set message', url_for([:edit, :admin, messageable, :dashboard_message]), class: 'btn btn-sm' %>
  </div>
</div>