<div class="row padded-row">
  <div class="col-md-1">
    <%= image_tag("lightbulb.png", class: "pupil-dashboard") %>
  </div>
  <div class="col-md-11">
    <div class="row">
      <hgroup class="speech">
        <h3><%= equivalence_content.equivalence %></h3>
      </hgroup>
    </div>
  </div>
</div>
