<div class="row illustration-background">
  <div class="col-6">
    <h3><%= sanitize equivalence_content.equivalence.split('. ').first %></h3>
    <h1><%= sanitize equivalence_content.equivalence.split('. ').last %></h1>
  </div>
  <div class="col-6 illustration-wrapper">
    <%#= image_tag("meal.png", class: "") %>
  </div>
</div>
