<div class="row mt-2 mb-2">
  <div class="col-md-1">
    <%= image_tag("lightbulb.png", class: "pupil-dashboard") %>
  </div>
  <div class="col-md-11">
    <div class="row">
      <hgroup class="speech">
        <div class="trix-content">
          <%= sanitize equivalence_content.equivalence %>
        </div>
      </hgroup>
    </div>
  </div>
</div>
