<div class="row illustration-background">
  <div class="col-6">
    <div class="trix-content">
    <%= sanitize equivalence_content.equivalence %>
    </div>

  </div>
  <div class="col-6 illustration-wrapper">
    <%= image_tag("equivalences/#{['car-colour','solar-panel-colour','meal-colour'].sample}.svg", class: "") %>
  </div>
</div>
