<h4>Your school hasn't scored any points yet this school year</h4>
<p>Complete an activity to score points on Energy Sparks.
  <% if podium.low_to_high.any? %>
    You only need to score <%= podium.low_to_high.first.points %> points to overtake the next school!
  <% end %>
</p>
