<h4>Your school hasn't scored any points yet</h4>
<p>Complete an activity to score points on Energy Sparks.
  <% if podium.low_to_high.any? %>
    You would only need to score <%= podium.low_to_high.first.points %> points to start overtaking the next school!
  <% end %>
</p>
