<h4><%= t('pupils.schools.show.no_points_this_year') %></h4>
<p><%= t('pupils.schools.show.complete_an_activity') %>.
  <%= t('pupils.schools.show.points_needed_to_overtake', points: podium.low_to_high.first.points) if podium.low_to_high.any? %>
</p>
