<h1>Edit <%= @note.note_type.capitalize %> for <%= @school.name %></h1>

<div class="row">
  <div class="col-sm-8">
    <%= render 'form', school: @school, note: @note %>
    <div class="other-actions">
      <%= link_to 'Back', admin_school_notes_path(@school), class: 'btn btn-secondary' %>
    </div>
  </div>
</div>