<%= render 'admin/alert_types/nav', alert_type: @alert_type %>

<h2>Edit content</h2>

<%= simple_form_for @rating, url: admin_alert_type_rating_path(@alert_type, @rating) do |form| %>
  <%= render 'form', form: form, content: @content, template_variables: @template_variables %>
  <%= form.button :submit, 'Update content' %>
<% end %>

