<div class="jumbotron">
  <h1 class="display-4"><%= @school.name %></h1>
  <p class="lead">Your school is currently inactive while we are setting up your energy data. You will get an email notification when your school's account is activated on Energy Sparks.</p>
  <p><%= link_to 'Take a look at other participating, active schools', schools_path %></p>
</div>
