<div class="jumbotron">
  <h1 class="display-4"><%= @school.name %></h1>
  <p class="lead"><%= t('schools.inactive.description') %></p>

  <p>
    <% if @school.school_group.present? %>
      <%= t('schools.inactive.other_schools_html', other_schools_link: link_to(t('schools.inactive.schools_in_area'), school_group_path(@school.school_group))) %>
    <% else %>
      <%= t('schools.inactive.other_schools_html', other_schools_link: link_to(t('schools.inactive.other_schools'), schools_path)) %>
    <% end %>
  </p>

</div>
