<% content_for :page_title do %><%= @school.name %><% end %>

<div typeof="School">
  <div class="row padded-row">
    <div class="col-md-12">
      <h2>Energy usage</h2>
      <p>Charts will go here</p>
    </div>
  </div>

  <div class="row padded-row">
    <div class="col-md-12">
      <h2>Things to try</h2>
      <p>Will go here</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= render 'schools/alerts/alert', alert: @latest_alerts_sample, school: @school if @school.alerts.any? %>
    </div>
  </div>

  <div class="row padded-row">
    <div class="col-md-12">
      <h2>Here is what has been going on</h2>
      <p>Activity card will go here</p>
    </div>
  </div>
</div>
