<% if I18n.locale.to_s == 'cy' && activity_type.t_attached(:image, :cy).present? %>
  <p><%= image_tag activity_type.image_cy, width: '300px', class: "activity_type_image" %></p>
<% elsif activity_type.t_attached(:image, :en).present? %>
  <p><%= image_tag activity_type.image_en, width: '300px', class: "activity_type_image" %></p>
<% end %>
<div class="activity_type">
  <% if !activity_type.download_links.blank? %>
    <h3>Resource links</h3>
    <%= activity_type.download_links %>
  <% end %>
</div>
