<h1>Editing Activity Type</h1>

<%= render 'shared/errors', subject: @activity_type, subject_name: 'activity' %>

<%= render 'form', activity_type: @activity_type %>

<div class="other-actions">
  <%= link_to 'Back', admin_activity_types_path, class: 'btn' %>
</div>
