<h1><%= alert_type.title %></h1>
<div class="row mb-3" id="nav-row">
  <ul class="nav nav-tabs">
    <%= nav_link('Overview', admin_alert_type_path(alert_type)) %>
    <% if alert_type.has_variables %>
      <%= nav_link('Content management', admin_alert_type_ratings_path(alert_type)) %>
    <% else %>
      <li>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Content management (not available: no template variables)</a>
      </li>
    <% end %>
  </ul>
</div>
