<h1>Alert type management</h1>

<h2>Standard</h2>
<%= render 'table', alert_types: @standard_alert_types %>

<h2>System</h2>
<%= render 'table', alert_types: @system_alert_types %>

<h2>Analysis</h2>
<%= render 'table', alert_types: @analysis_alert_types %>

