<h1>Alert type management</h1>

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Jump to</a>
  </li>
  <% ['Standard', 'System', 'Analysis'].each do |section| %>
    <li class="nav-item">
      <%= link_to "#{section}", "##{section}", class: 'nav-link' %>
    </li>
  <% end %>
</ul>

<div class="nav-anchor">
  <a name="Standard"> </a>
</div>
<h2>Standard</h2>
<%= render 'table', alert_types: @standard_alert_types, show_full: true %>

<div class="nav-anchor">
  <a name="System"> </a>
</div>
<h2>System</h2>
<%= render 'table', alert_types: @system_alert_types, show_full: true %>

<div class="nav-anchor">
  <a name="Analysis"> </a>
</div>
<h2>Old Analysis Pages</h2>
<%= render 'table', alert_types: @analysis_alert_types %>
