<% content_for :page_title, 'Map' %>

<div class="application container">
  <div class="row padded-row">
    <div class="col-md-8">
      <h1>Energy Sparks schools across the UK</h1>
    </div>
    <div class="col-md-12">
      <div class="map" id="geo-json-map"></div>
    </div>
  </div>
  <div class="col-md-12">

    <p>Discover which schools are using Energy Sparks to reduce their energy usage.</p>
    <p>We have <%= @schools.count %> schools across England, Wales, and Scotland including state primary and secondary schools, independent schools, special schools and nursery schools.</p>
    <p>Explore their electricity and gas consumption data, find out how much energy they generate from their solar panels and learn about their energy saving activities.</p>
    <p>We’re proud to have a great network of schools all working hard to save energy and help fight climate change.</p>

    <h2>View Energy Sparks schools</h2>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a href="#schoolGroups" class="nav-link active" data-toggle="tab">Energy Sparks schools by group</a>
      </li>
      <li class="nav-item">
        <a href="#schools" class="nav-link" data-toggle="tab">All Energy Sparks schools</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade show active" id="schoolGroups">
        <p></p>
        <div class="allSchoolGroups">
          <% @school_groups.each_slice(3) do |threeschoolgroups| %>
            <div class="row">
              <% threeschoolgroups.each do |school_group| %>
                <div class="col-lg-4">
                  <%= link_to "#{school_group.name}", map_school_group_path(school_group), class: 'nav-link' %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade" id="schools">
        <p></p>
        <div class="allSchools">
          <% @schools.each_slice(3) do |threeschools| %>
            <div class="row">
              <% threeschools.each do |school| %>
                <div class="col-lg-4">
                  <%= link_to "#{school.name}", school_path(school), class: 'nav-link' %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>

</div>
