<% content_for :page_title, 'Map' %>

<div class="application container">
  <div class="row padded-row">
    <div class="col-md-8">
      <h1>Energy Sparks schools across the UK</h1>
    </div>
    <div class="col-md-12">
      <div class="map" id="geo-json-map"></div>
    </div>
  </div>
  <div class="col-md-12">

    <p>Discover which schools are using Energy Sparks to reduce their energy usage.</p>
    <p>We have <%= @schools.count %> schools across England, Wales, and Scotland including state primary and secondary schools, independent schools, special schools and nursery schools.</p>
    <p>Explore their electricity and gas consumption data, find out how much energy they generate from their solar panels and learn about their energy saving activities.</p>
    <p>We’re proud to have a great network of schools all working hard to save energy and help fight climate change.</p>

    <br/>

    <h2>View Energy Sparks schools by group</h2>

    <div class="row">
      <% @school_groups.each_slice(@school_groups.count / 2) do |school_groups| %>
        <div class="col-lg-6">
          <% school_groups.each do |school_group| %>
            <%= render 'school_group', school_group: school_group %>
          <% end %>
        </div>
      <% end %>
    </div>

    <br/>
    <br/>

    <h2>View all Energy Sparks schools</h2>

    <div class="row">
        <div class="col-lg-12">
          <%= render 'schools', schools: @schools %>
        </div>
    </div>

  </div>

</div>
