<table class="table table-striped table-sm">
  <thead>
  <tr>
    <th>Standing charge type</th>
    <th>Amount</th>
  </tr>
  </thead>
  <tbody>
  <tr scope="row">
    <td>Duos red</td>
    <td>9.573p/kwh</td>
  </tr>
  <tr scope="row">
    <td>Duos amber</td>
    <td>9.573p/kwh</td>
  </tr>
  <tr scope="row">
    <td>Duos green</td>
    <td>9.573p/kwh</td>
  </tr>
  <tr scope="row">
    <td>Fixed charge</td>
    <td>17.93p/day</td>
  </tr>
  <tr scope="row">
    <td>Reactive power charge</td>
    <td>0.1245p/kva</td>
  </tr>
  </tbody>
</table>
