<div class="d-flex justify-content-between align-items-center">
  <h1><%= "Comparison footnotes#{": #{title}" if title.present?}" %></h1>
  <div>
    <%= unless current_page?(action: :index)
          link_to 'Footnotes', admin_comparisons_footnotes_path,
                  class: 'btn btn-outline-dark rounded-pill font-weight-bold'
        end %>
    <%= unless current_page?(action: :new)
          link_to 'New footnote', new_admin_comparisons_footnote_path,
                  class: 'btn btn-outline-dark rounded-pill font-weight-bold'
        end %>
  </div>
</div>
