name: "Generate knapsack timings"
on:
  workflow_dispatch:
  push:
    branches: [ master ]
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  rspec:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:14
        ports:
          - "5432:5432"
        env:
          POSTGRES_DB: rails_test
          POSTGRES_USER: rails
          POSTGRES_PASSWORD: password
    env:
      RAILS_ENV: test
      DATABASE_URL: "postgres://rails:password@localhost:5432/rails_test"
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: bundle exec rspec --profile 10
        env:
          KNAPSACK_GENERATE_REPORT: true
      - uses: actions/upload-artifact@v5
        with:
          name: knapsack_rspec_report
          path: knapsack_rspec_report.json
