<div class="row pt-4">
  <div class="col-md-2 align-self-center" style="padding-right: 0px">
    <h4 class="card-title"><%= fuel_progress.fuel_type.to_s.humanize %></h4>
  </div>
  <div class="col-md-8 d-none d-sm-block" style="padding-right: 25px">
    <div class="d-flex align-middle align-self-center justify-content-center">
      <h4 style="margin-left: 10px; width: 100%;" class="text-center work_week"><%= up_downify(format_target(fuel_progress.progress, :relative_percent))%> against target of <%=-target%>%</h4>
    </div>
  </div>
  <div class="col-md-2 align-self-center">
    <%= link_to "View report", progress_path, class: "btn btn-outline-dark font-weight-bold" %>
  </div>
</div>
