<p>
  Where we have enough data to estimate your future consumption, you can set separate targets for reducing your electricity, gas or storage heater usage. When we receive additional data, we'll prompt you to review your targets.
</p>
