<div class="row alert text-dark alert-secondary">
  <div class="col">
    <p class="align-middle">
      We need to process your data to create a more detailed progress report that will show progress against your targets. Check back tomorrow to see the results.
    </p>
    <p class="align-middle">Get started with the activities below to start working towards your goal</p>
  </div>
</div>
