<div class="row alert text-dark alert-secondary">
  <div class="col">
    <p class="align-middle">
      <%= t('schools.school_targets.generating_report.we_need_to_process_your_data') %>.
    </p>
    <p class="align-middle"><%= t('schools.school_targets.generating_report.get_started_with_the_activities') %></p>
  </div>
</div>
