<div class="row pt-4 limited_data">
  <div class="col-md-2 align-self-center">
    <h4 class="card-title"><%= fuel_type.to_s.humanize %></h4>
  </div>
  <div class="col-md-8 align-self-center work_week d-none d-sm-block" style="padding-right: 25px">
    <div class="d-flex justify-content-center mt-2">
      <h4 class="text-center">
        <% if overview_data.present? && overview_data.work_week(fuel_type).has_data %>
          <%= up_downify(overview_data.work_week(fuel_type).change, sanitize: false) %>
          last week against target of <%= -target %>%
        <% else %>
          Target reduction of <%= target %>%
        <% end %>
      </h4>
    </div>
  </div>
  <div class="col-md-2 align-self-center">
  </div>
</div>
