<% if previous_target %>
  <%= render NoticeComponent.new(status: :neutral, classes: 'mb-4') do %>
    <div class="flex-wrap">
      <div class="col-md-2">
        <%= link_to t('schools.school_targets.show.view_results'), school_school_target_path(@school, previous_target),
                    class: 'btn btn-default' %>
      </div>
      <div class="col">
        <span class="align-middle">
          <%= t('schools.school_targets.show.final_results', target_date: nice_dates(previous_target.target_date)) %>.
        </span>
      </div>
    </div>
  <% end %>
<% end %>
