<div class="flex-wrap curved-border alert text-dark bg-neutral">
  <div class="col-md-2">
    <%= link_to "Add an estimate", school_estimated_annual_consumptions_path(school), class: "btn btn-light rounded-pill" %>
  </div>
  <div class="col">
    <span class="align-middle">If you can supply an estimate of your annual consumption then we can generate a more detailed progress report for your <%= fuel_types.map{|s| s.humanize(capitalize: false)}.to_sentence %> <%= "target".pluralize(fuel_types.size) %>.</span>
  </div>
</div>
