<%= render NoticeComponent.new(status: :neutral, classes: 'mb-4') do %>
  <div class="flex-wrap">
    <div class="col-md-2">
      <%= link_to t('schools.school_targets.prompt_to_add_estimate.add_an_estimate'),
                  school_estimated_annual_consumptions_path(school), class: 'btn btn-default' %>
    </div>
    <div class="col">
      <span class="align-middle">
        <%= link_to t('schools.school_targets.prompt_to_add_estimate.if_you_can_supply_an_estimate',
                      fuel_types: fuel_types.map { |s|
                        s.humanize(capitalize: false)
                      }.to_sentence, count: fuel_types.size) %>.
      </span>
    </div>
  </div>
<% end %>
