<% if reportable_progress?(progress_summary) && progress_summary.any_passing_targets? %>
  <%= render NoticeComponent.new(status: :positive, classes: 'mb-4') do %>
    <span class="align-middle"><%= t('schools.show.making_progress',
                                     fuels: t_fuels_as_sentence(progress_summary.passing_fuel_targets)) %></span>
  <% end %>
<% elsif reportable_progress?(progress_summary) && progress_summary.any_failing_targets? %>
  <%= render NoticeComponent.new(status: :negative, classes: 'mb-4') do %>
    <span class="align-middle"><%= t('schools.show.not_meeting_target',
                                     fuels: t_fuels_as_sentence(progress_summary.failing_fuel_targets)) %></span>
  <% end %>
<% end %>
