<% if reportable_progress?(progress_summary) && progress_summary.any_passing_targets? %>
  <div class="flex-wrap alert info-bar text-light bg-positive text-dark">
    <div class="col">
      <span class="align-middle"><%= t('schools.show.making_progress', fuels: t_fuels_as_sentence(progress_summary.passing_fuel_targets)) %></span>
    </div>
  </div>
<% elsif reportable_progress?(progress_summary) && progress_summary.any_failing_targets? %>
  <div class="flex-wrap alert info-bar text-light bg-negative text-white">
    <div class="col">
      <span class="align-middle"><%= t('schools.show.not_meeting_target', fuels: t_fuels_as_sentence(progress_summary.failing_fuel_targets)) %></span>
    </div>
  </div>
<% end %>
