<%= render PromptComponent.new(status: :neutral, icon: :lightbulb) do %>
  <p class="mb-2">
    <strong><%= defined?(title_prefix) ? title_prefix : t('schools.school_targets.new.tip') %></strong>:
    <%= defined?(title) ? title : t('schools.school_targets.new.review_your_dashboard') %>.<br>
  </p>
  <p><%= text %></p>
<% end %>
