<% content_for :page_title, 'Update your energy saving target' %>

<div class="row">
  <div class="col-md-8">
    <h1>Update your energy saving target</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-8">

    <% if @prompt_to_review_target %>
      <div class="alert bg-neutral">
        <p>
          <%= far_icon("lightbulb fa-lg") %>
          <strong>Suggestion</strong> Review your targets.<br>
        </p>
        Your <%= @fuel_types_changed.map(&:humanize).to_sentence %> configuration has changed, which means you may need to revisit your targets for this year. You may be able to set additional targets.
      </div>
    <% else %>
      <div class="alert alert-warning">
        <p>
          <%= far_icon("lightbulb fa-lg") %>
          <strong>Tip</strong>: Review your dashboard.<br>
        </p>
        Before changing your targets, check our recommendations to see
        what you can do to reduce costs and emissions.
      </div>
    <% end %>

    <p>
      If you do revise your targets we will update your progress report to apply
      that target to all of your energy usage this year.
    </p>

  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h3>Your current target</h3>

    <%= render "form", school_target: @school_target %>
  </div>
</div>
