<% content_for :page_title, "Actions" %>

<div class="row mt-2">
  <div class="col">
    <div class="d-flex justify-content-between align-items-center">
      <p class="display-3"><strong>Explore energy saving actions</strong></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>Recording energy saving actions will earn Energy Sparks points and allow you to see selected charts annotated with your actions. This will help you to identify whether your actions have saved energy.</p>
  </div>
<!--  <div class="col">-->
<!--    <ul class="fa-ul">-->
<!--      <li class="pb-3"><i class="fa-li fas fa-2x fa-check"></i>Eco-team and curriculum linked energy saving activities.</li>-->
<!--      <li class="pb-3"><i class="fa-li fas fa-2x fa-check"></i>Energy related lesson plans and downloadable resources.</li>-->
<!--      <li class="pb-3"><i class="fa-li fas fa-2x fa-check"></i>Support for pupils in designing and carrying out experiments to monitor energy related data and behaviour patterns at school.</li>-->
<!--    </ul>-->
<!--  </div>-->
</div>

<% @intervention_type_groups.each do |intervention_type_group| %>
  <div class="row mt-3">
    <div class="col">
      <div class="d-flex justify-content-between align-items-center">
        <h4><strong><%= intervention_type_group.title %></strong></h4>
        <div>
          <%= link_to "View all #{intervention_type_group.intervention_types.active.count} action types", intervention_type_group_path(intervention_type_group), class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
  <%= render "cards", intervention_types: intervention_type_group.intervention_types.active_and_not_other.sample(5), card_deck_css: "" %>
<% end %>
