<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render 'shared/head' %>
  </head>
  <body vocab="http://schema.org/">
    <div class='p-2'>
      <%= yield %>
    </div>
  </body>
</html>
