<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/head' %>
  </head>
  <body vocab="http://schema.org/">
    <div class="application container extra-padding report">
      <%= yield %>
    </div>
  </body>
</html>
